# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Env Files
.env

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Database files
*.dump.*
*.dump

heroku
heroku.pub

# Data files
characters.json