{{ define "title"}}

<title>ORE Add Character</title>

{{ end }}

{{define "content"}}

{{ $characterModel := .CharacterModel }}
{{ $character := .CharacterModel.Character}}
{{ $statistics := $character.Statistics }}
{{ $skills := $character.Skills }}
{{ $intrinsics := .Intrinsics }}
{{ $sources := .Sources }}
{{ $permissions := .Permissions }}

{{ $counter := .Counter }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <h3>Basic Character Info</h3>
            <form action="" method="POST" enctype="multipart/form-data">

              <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" id="name-addon">Name</span>
                </div>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value ="{{ $character.Name }}">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                <span class="input-group-text" id="setting-addon">Setting</span>
                </div>
                <input type="text" class="form-control" aria-describedby="setting-addon" name="Setting" value ="{{ $character.Setting }}" readonly>
              </div>

              <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" for="Description">Description</span>
                </div>
                <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="10" value ="{{ $character.Description }}">{{ $character.Description }}</textarea>
              </div>

              <br>

              <div class="input-group">
                <div class="custom-file">
                  <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                  <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                </div>
              </div>

              <br>

              <strong>Character finalized for Play?</strong> <input type="checkbox" name="InPlay" value="true" id="checkbox">
              <strong>Add to Open Roster?</strong> <input type="checkbox" name="Archive" value="true" id="checkbox" checked>
              <hr>
              <button class="brn btn-primary" type="submit" value="Save">Save</button>

            </div>

            {{ if $character.Archetype }}
            <div class="col-sm-3 col-md-3 col-lg-3">
              <h3>Archetype</h3>
            <div class="input-group"><div class="input-group-prepend">
              <span class="input-group-text" id="archetype-addon">Archetype</span>
              </div>
              <input type="text" class="form-control" aria-describedby="archetype-addon" name="Archetype" value ="{{ $character.Archetype.Type }}">
            </div>

            <h4>Sources</h4>
            {{ range $s, $v := $character.Archetype.Sources }} <!-- sources loop -->
            <label for="Source-{{add $s 1}}">Source {{add $s 1}}</label>
            <select type="text" class="form-control" id="Source-{{add $s 1}}" name="Source-{{add $s 1}}">
              <option></option>
              {{ range $sources }}
                  <option {{if eq $v.Type .Type }} selected {{ end }} value={{.Type}}>{{ .Type }} ({{ .Cost }}pts)</option>
              {{ end }}
            </select>

            {{ end }} <!-- end Sources -->
            <hr>
            <h4>Permissions</h4>
            {{ range $p, $v := $character.Archetype.Permissions }} <!-- permissions loop -->
            <label for="Permission-{{add $p 1}}">Permission {{add $p 1}}</label>
            <select type="text" class="form-control" id="Permission-{{add $p 1}}" name="Permission-{{add $p 1}}">
              <option></option>
              {{ range $permissions }}
                  <option {{if eq $v.Type .Type }} selected {{ end }} value={{.Type}}>{{ .Type }} ({{ .Cost }}pts)</option>
              {{ end }}
            </select>
            {{ end }} <!-- end Permissions -->
            <hr>

            <h4>Intrinsics</h4>
            {{ range $i, $v := $character.Archetype.Intrinsics }} <!-- intrinsics loop -->
            <label for="Intrinsic-{{$i}}">Intrinsic {{add $i 1}}</label>
            <select type="text" class="form-control" id="Intrinsic-{{add $i 1}}" name="Intrinsic-{{add $i 1}}-Name">
              <option></option>
              {{ range $intrinsics }}
              <option {{if eq $v.Name .Name }} selected {{ end }} value={{.Name}}>{{ .Name }} ({{ .Cost }}pts)</option>
              {{ end }}
            </select>
            <div class="input-group"><div class="input-group-prepend">
              <span class="input-group-text" id="Intrinsic-{{add $i 1}}-Level">Level</span>
              </div>
              <input type="number" class="form-control" aria-describedby="Intrinsic-{{add $i 1}}-Level-addon" name="Intrinsic-{{add $i 1}}-Level" value ="{{ $v.Level }}">
            </div>
            <div class="input-group"><div class="input-group-prepend">
              <span class="input-group-text" id="Intrinsic-{{add $i 1}}-Info-addon">Info</span>
              </div>
              <input type="text" class="form-control" aria-describedby="Intrinsic-{{add $i 1}}-Info-addon" name="Intrinsic-{{add $i 1}}-Info" value ="{{ $v.Info }}">
            </div>
            <hr>
            {{ end }} <!-- End Intrinsics Loop -->
          </div>
          {{ end }} <!-- End Archetype IF -->

              <div class="col-sm-3 col-md-3 col-lg-3">
                <h3>Stats & Skills</h3>
              {{ range $stat := $statistics }}

              <div class="input-group"><div class="input-group-prepend">
                <span class="input-group-text" id="{{ $stat.Name }}-addon">{{ $stat.Name }}</span>
                </div>
                <input type="number" class="form-control" aria-describedby="{{ $stat.Name }}-addon" name="{{ $stat.Name }}" value ="{{ $stat.Dice.Normal }}">
              </div>
              <br>
              {{ range $skill := $skills }}
              {{ if eq $skill.LinkStat.Name $stat.Name}}
              <ul>
              <div class="input-group"><div class="input-group-prepend">
                <span class="input-group-text" id="{{ $skill.Name }}-addon">{{ $skill.Name }}</span>
                </div>
                <input type="number" class="form-control" aria-describedby="{{ $skill.Name }}-addon" name="{{ $skill.Name }}" value ="{{ $skill.Dice.Normal }}">
              </div>
              {{ if $skill.ReqSpec }}
              <div class="input-group"><div class="input-group-prepend">
                <span class="input-group-text" id="{{ $skill.Name }}-Spec-addon">--Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="{{ $skill.Name }}-Spec-addon" name="{{ $skill.Name }}-Spec" value ="{{ $skill.Specialization }}">
              </div>
              {{ end }}
            </ul>
              {{ end }}
              {{end}}
              {{ end }}
          </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Hit Locations</h3>
          {{ range $i, $loc := $character.HitLocations }}

          <div class="input-group"><div class="input-group-prepend">
            <span class="input-group-text" id="{{ $i }}-name-addon">Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="{{ $i }}-name-addon" name="{{ $i }}-Name" value ="{{ $loc.Name }}">
          </div>
          <br>

          <div class="input-group"><div class="input-group-prepend">
            <span class="input-group-text" id="{{ $i }}-boxes-addon">Wound Boxes</span>
            </div>
            <input type="number" class="form-control" aria-describedby="{{ $i }}-boxes-addon" name="{{ $i }}-Boxes" value ="{{ $loc.Boxes }}">
          </div>
          <br>

          <div class="input-group"><div class="input-group-prepend">
            <span class="input-group-text" id="{{ $i }}-lar-addon">LAR</span>
            </div>
            <input type="number" class="form-control" aria-describedby="{{ $i }}-lar-addon" name="{{ $i }}-LAR" value ="{{ $loc.LAR }}">
          </div>
          <br>

          <div class="input-group"><div class="input-group-prepend">
            <span class="input-group-text" id="{{ $i }}-har-addon">HAR</span>
            </div>
            <input type="number" class="form-control" aria-describedby="{{ $i }}-har-addon" name="{{ $i }}-HAR" value ="{{ $loc.HAR }}">
          </div>
          <br>

          <label for="Locs">Select Hit Locations</label>
          {{ range $c := $counter }}
              {{ if isIn $loc.HitLoc $c }}
            {{ $c }} <input type="checkbox" name="{{ $i }}-{{ $c }}-loc" value="{{ $c }}" id="{{ $i }}-{{ $c }}-loc" checked>
              {{ else }}
            {{ $c }} <input type="checkbox" name="{{ $i }}-{{ $c }}-loc" value="{{ $c }}" id="{{ $i }}-{{ $c }}-loc">
              {{ end }} <!-- END if isIn -->
          {{ end }} <!-- END counter Loop -->
          <hr>
          {{ end }} <!-- END overall location loop -->
      </div>
    </form>
    </div>
      </div>
{{end}}
