{{ define "title"}}

<title>Page Not Found</title>

{{ end }}

{{define "content"}}

{{ $IsAuthor := .IsAuthor }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            
                <h4>You have travelled far and have lost your way.</h4>
                
                <img class ="card-img-top" data-src="" alt="Thumbnail"
          style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset/media/red_goddess.jpg"
          data-holder-rendered="true">
              
                <h4>Fortunately for you, the Red Goddess welcomes all.</h4>
                <h4>We are all us.</h4>

                <hr>
                <h4>Bask in her glory or return to the <a href="/">Cradle</a>.</h4>

              </div> <!-- End Character Column -->

            </form>
          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
