
{{ define "title"}}

<title>ORE Open Roster</title>

{{ end }}

{{define "content"}}

<div class="container">

<div class="row">

<div class="col-sm-12 col-md-12 col-lg-12">

  <h3>About the Cradle of Heroes</h3>

<p>The Cradle of Heroes is a fan created gaming tool that I developed to meet my needs as a GM and player.
It's designed so that anyone can create and manage characters and creatures and to simplify the character creation process.</p>
<p>It's also a bit more and can grow to become an informal marketplace for NPCs, creatures and ideas for Runequest.</p>
<p>Characters can also be added to the open roster by selecting the "Open" check-box when you are creating or editing the character. 
They can then be coped and modified by other users, making their lives easier and letting them take advantage of your work and creativity.</p>
<p>As more users share content in this way, it becomes easier for
new and more experienced players to quickly and easily build high quality
character for their Runequest games. I'm looking forward to seeing what you do
with the app.</p>

<p>I've created a <a href="https://trello.com/b/cDEVQreh/runequest-app">Trello board</a> to help manage feedback and updates. Please note that this iteration of the app is still in BETA phase. 
There will be bugs and while I'll make every effort to keep and persist all user-generated content, it may not always be possible. 
If anyone wants to help make the app better, the code is up on <a href="https://github.com/ToferC/rq_web">GitHub</a>. Any suggestions or improvements (especially to front-end JS)
are very welcome.<p>
<p>                             --- ToferC</p>
<a class="btn btn-primary" href="/signup/" >Sign Up</a>
<hr>
<p>This Web app uses trademarks and/or copyrights owned by Chaosium Inc/Moon Design Publications LLC, which are used under Chaosium Inc’s Fan Material Policy. We are expressly prohibited from charging you to use or access this content. This [website, character sheet, or whatever it is] is not published, endorsed, or specifically approved by Chaosium Inc. For more information about Chaosium Inc’s products, please visit <a href="www.chaosium.com">www.chaosium.com</a>.</p>
<hr>
</div>
</div>
</div>

{{ end }}
