
{{ define "title"}}

<title>ORE Open Roster</title>

{{ end }}

{{define "content"}}

<div class="container">

<div class="row">

<div class="col-sm-12 col-md-12 col-lg-12">

  <h3>About the ORE App</h3>

<p>Welcome to the One Roll Engine (ORE) App. ORE is a roleplaying
game engine created by <a href="http://arcdream.com/home/">Arc Dream Publishing</a>. This app
allows players and game-masters to create and manage characters using
Wild Talents, Reign (and other systems in the future).</p>
<p>Get started by signing up and creating your profile and signing in.</p>

<p>Afer this, you can start creating a character or a power. When you create any content,
please pay attention to the button "Archive" or "Add to Roster". If you
select the checkbox, your content will be added to the open area of the app.</p>

<p>These characters and content can then be coped and modified by other users,
making their lives easier and letting them take advantage of your work and
creativity.</p>
<p>As more users share content in this way, it becomes easier for
new and more experienced players to quickly and easily build high quality
character for their ORE games. I'm looking forward to seeing what you do
with the app.</p>
<p>                              --- ToferC</p>
<a class="btn btn-primary" href="/signup/" >Sign Up</a>

</div>
</div>
</div>

{{ end }}
