{{ define "title"}}

<title>Create Creature or Spirit</title>

{{ end }}

{{define "content"}}

{{ $creature := .CreatureModel.Creature}}
{{ $ID := .CreatureModel.ID }}
{{ $statistics := $creature.Statistics }}
{{ $skills := $creature.Skills }}
{{ $counter := .Counter }}
{{ $passions := .Passions }}

<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <form action="" method="POST" enctype="multipart/form-data">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="name-addon">Name</span>
          </div>
          <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value="{{ $creature.Name }}">
        </div>
        <hr>

        <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" for="Role">Role</span>
        </div>
        <select type="text" class="form-control" id="Role" name="Role">
          <option>Non-Player Character</option>
          <option>Animal</option>
          <option>Chaos</option>
          <option>Creature</option>
          <option>Demon</option>
          <option>Elemental</option>
          <option>Spirit</option>
        </select>
        </div>

        <hr>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" for="Description">Description</span>
          </div>
          <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="10" value="{{ $creature.Description }}">{{ $creature.Description }}</textarea>
        </div>

        <hr>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" for="Cult">Cult</span>
          </div>
          <input type="text" class="form-control" aria-describedby="name-addon" name="Cult" value="{{ $creature.Cult.Name }}">
        </div>

        <br>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="rp-addon">Rune Points</span>
          </div>
          <input type="number" class="form-control" aria-describedby="rp-addon" name="RunePoints" value="{{ $creature.Cult.NumRunePoints }}">
        </div>

        <hr>

        <p>Image</p>
        <img class="card-img-top" data-src="" alt="Thumbnail" style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CreatureModel.Image.Path }}"
          data-holder-rendered="true">
        <br>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
            <label class="custom-file-label" for="inputGroupFile">Update Image</label>
          </div>
        </div>
        <hr>

        <strong>Add to Open Roster?</strong> <input type="checkbox" name="Archive" value="true" id="checkbox"
          {{if .CreatureModel.Open }} checked{{ end }}>

        <hr>

        <button class="btn btn-primary" type="submit" value="Save">Save</button>

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <h4>Stats</h4>
      {{ range $k, $stat := $statistics }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span {{ if $stat.ExperienceCheck }}style="color:blue"{{ end }}class="input-group-text" id="{{ $k }}-addon">{{ $k }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $k }}-addon" name="{{ $k }}" value="{{ $stat.Total }}">
      </div>
      {{ end }}

      <hr>

      <h4>Runes</h4>
      {{ range $i := $counter }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" for="Rune-{{ $i }}">Rune</span>
        </div>
        <select type="text" class="form-control" id="Rune-{{ $i }}" name="Rune-{{ $i }}">
          <option></option>
          {{ range $r := .Runes }}
          <option>{{ $r }}</option>
          {{ end }}
        </select>
        </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="Rune-{{ $i }}-addon">Rating</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $i }}-addon" name="{{ $i }}" default="0">
      </div>
      {{ end }}

      <hr>

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <h4>Skills</h4>

            <p>Choose up to 15 skills.</p>
            {{ range $m := $bigcounter }}
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$i}}-CoreString-addon">Skill {{ $m }}</span>
                </div>
                  <select type="text" class="form-control" id="Skill-{{$i}}-CoreString" name="Skill-{{$i}}-CoreString" required>
                    <option></option>
                      {{ range $s := $skills }}
                        <option value="{{ $s.CoreString }}">{{ $s.CoreString }}</option>
                      {{ end }}  <!-- END range all skills -->
                  </select>
              </div>
              <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="Skill-{{$i}}-UserString-addon">Specialization (if req'd)</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="Skill-{{$i}}-UserString-addon" name="Skill-{{$i}}-UserString" value ="">
                    </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{ $i }}-addon">Rating</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="Skill-{{ $i }}-addon" name="Skill-{{ $i }}-Rating" default="0">
                </div>

                <hr>

                {{ end }} <!-- end range $occupation.Skills -->

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">

      <h4>Passions</h4>
            <p>Set the creature's passions.</p>

            {{ range $m := $counter }}
            <!-- Passions loop -->

            <label for="Passion-{{$m}}-CoreString">Passion {{ $m }}</label>
            <select type="text" class="form-control" id="Passion-{{$m}}-CoreString" name="Passion-{{$m}}-CoreString">
                <option></option>
                {{ range $passions }}
                <option>{{ . }}</option>
                {{ end }}
            </select>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-UserString-addon">Input</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Passion-{{$m}}-UserString-addon" name="Passion-{{$m}}-UserString"
                    value="">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-Value-addon">Passion Rating</span>
                </div>
                <input type="number" class="form-control" aria-describedby="Passion-{{$m}}-Value-addon" name="Passion-{{$m}}-Value"
                    value="0">
            </div>

            {{ end }}

      <br>
      <h4>Hit Locations</h4>
        {{ range $s := $creature.HitLocationMap }}
        {{ range $k, $v := $creature.HitLocations }}
        {{ if eq $s $k }}
          <p>{{ $v.HitLoc }} <strong>{{ $v.Name }}</strong></p>

          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="{{ $k }}-Armor-addon">Armor</span>
              </div>
              <input type="number" class="form-control" aria-describedby="{{ $k }}-Armor-addon" name="{{ $k }}-Armor" value ="{{ $v.Armor }}">
              <div class="input-group-append">
                  <span class="input-group-text" id="{{ $k }}-Armor-addon">pts</span>
                </div>
            </div>  
         
          <hr>
        {{ end }} <!-- END if -->
        {{ end }}
        {{ end }} <!-- END map -->

      <hr>

    </div>

  </div>
  </form>
  {{end}}