{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Add Skills</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $counter := .Counter }}
{{ $category := .CategoryOrder }}
{{ $passions := .Passions }}
{{ $skills := .Skills }}
{{ $spiritmagic := .SpiritMagic }}
{{ $runespells := .RuneSpells }}

<div class="container">
    <hr>
    <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Add Skills</h4>

            <p>Add new skills to:</p>

           <h5>{{ $character.Name }}</h5>
            {{ if eq $character.Role "Player Character"}}
            <h5>{{ $character.Homeland.Name }}</h5>
            <h5>{{ $character.Occupation.Name }}</h5>
            <h5>{{ $character.Cult.Name }}</h5>
            {{ end }}


            <hr>
            <p>New skills will be added at the percentage value you provide. Skill bases and Skill Category Modifiers will not be added on top of this value.</p>
            <hr>
        
            <form action="" method="POST" enctype="multipart/form-data">


                <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="Event-addon">Event</span>
                        </div>
                        <input type="text" class="form-control" aria-describedby="Event-addon" name="Event" value="Learning Event">
                        <div class="input-group-append">
                            <span class="input-group-text" id="Event-addon">%</span>
                          </div>
                </div>

                <hr>

            <button class="btn btn-primary" type="submit" value="Save">Save</button>
            <hr>

             <h4>Current Skills</h4>
             <table class="table table-sm table-striped">
                {{ range $skill := $character.Skills }}
                <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }})
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>
                {{ end }}
            </table>


        </div> <!-- END outer column 3 -->


        <div class="col-sm-4 col-md-4 col-lg-4">

             <h4>Skills</h4>
            <p>Add new skills.</p>

            {{ range $m := $counter }} <!-- Skill loop - normally 3 to 4 -->
              
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-CoreString-addon">Skill</span>
                </div>
                  <select type="text" class="form-control" id="Skill-{{$m}}-CoreString" name="Skill-{{$m}}-CoreString">
                    <option></option>
                    {{ range $s := $skills }}
                    <option>{{ $s.CoreString }}</option>
                      {{ end }}
                  </select>
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Skill-{{$m}}-UserString-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Skill-{{$m}}-UserString-addon" name="Skill-{{$m}}-UserString" value ="">
              </div>

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-Value-addon">Value</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Skill-{{$m}}-Value-addon" name="Skill-{{$m}}-Value" value ="0">
                  <div class="input-group-append">
                        <span class="input-group-text" id="Skill-{{$m}}-Value-addon">%</span>
                      </div>
                </div>
                <hr>
                {{ end }} <!-- End Skill Loop -->

        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">

            <h4>Custom Skills</h4>

            {{ range $k := $counter }} <!-- Skill loop - normally 3 to 4 -->
              
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Custom-Skill-{{$k}}-CoreString-addon">Skill</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Custom-Skill-{{$k}}-CoreString-addon" name="Custom-Skill-{{$k}}-CoreString" value ="">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Custom-Skill-{{$k}}-UserString-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Custom-Skill-{{$k}}-UserString-addon" name="Custom-Skill-{{$k}}-UserString" value ="">
              </div>

              <label for="Skill-{{$k}}-Category">Category</label>
              <select type="text" class="form-control" id="Custom-Skill-{{$k}}-Category" name="Custom-Skill-{{$k}}-Category">
                {{ range $category }}
                <option>{{ . }}</option>
                  {{ end }}
              </select>

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Custom-Skill-{{$k}}-Value-addon">Value</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Custom-Skill-{{$k}}-Value-addon" name="Custom-Skill-{{$k}}-Value" value ="0">
                  <div class="input-group-append">
                        <span class="input-group-text" id="Custom-Skill-{{$k}}-Value-addon">%</span>
                      </div>
                </div>
                <hr>
                {{ end }} <!-- End Skill Loop -->
           
            <button class="btn btn-primary" type="submit" value="Save">Save</button>
        </form>

        </div> <!-- END 9 Col -->

    </div> <!-- END outer ROW -->
</div> <!-- END container -->

{{ end }}
<!-- end content -->