{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Add Skill {{ $character.Name }}</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $skill := .Skill }}
{{ $dice := $skill.Dice }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <div>
              <h3>Base Stat</h3>
              <h3>{{ $skill.LinkStat }}</h3>
            </div>
            <form action="" method="POST">
              <h3>New Skill</h3>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="name-addon">Name</span>
                </div>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value ="{{ $skill.Name }}">
              </div>

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" for="Quality">Quality</span class="input-group-text">
                  </div>
                <select type="text" class="form-control" id="Quality" name="Quality">
                  <option>Useful</option>
                  <option>Attack</option>
                  <option>Defend</option>
                </select>
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="normal-addon">Normal Dice</span>
                </div>
                <input type="text" class="form-control" aria-describedby="normal-addon" name="Normal" value ="{{ $dice.Normal }}">
              </div>

              <label for="ReqSpec">Does the Skill require a Specialization?</label>
              <select type="text" class="form-control" id="ReqSpec" name="ReqSpec">
                <option>No</option>
                <option>Yes</option>
              </select>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="specialization-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="specialization-addon" name="Specialization" value ="{{ $skill.Specialization }}">
              </div>
              <hr>
              <h4>Skill Options</h4>
              <strong>Free?</strong> <input type="checkbox" name="Free" value="true" id="checkbox">
              <br><strong>Narrow?</strong> <input type="checkbox" name="Narrow" value="true" id="checkbox">
              <br><strong>Flexible?</strong> <input type="checkbox" name="Flexible" value="true" id="checkbox">
              <br><strong>Influence?</strong> <input type="checkbox" name="Influence" value="true" id="checkbox">
              <hr>

              <button class="brn btn-primary" type="submit" value="Save">Save</button>
            </form>
          </div>

          <div class="col-sm-9 col-md-9 col-lg-9">
                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                    <h3>{{ $character.Name }} ({{ $character.PointCost }}pts)</h3>
                    <h4>Image</h4>
                    <hr>

                    {{ if $character.Archetype }}
                    <h4>Archetype: {{ $character.Archetype.Type }}</h4>
                    <h4>Sources</h4>
                    {{ range $source := $character.Archetype.Sources }}
                      <ul><h4>{{ $source }}</h4></ul>
                    {{ end }}

                    <h4>Permissions</h4>
                    {{ range $permission := $character.Archetype.Permissions }}
                      <ul><h4>{{ $permission }}</h4></ul>
                    {{ end }}

                    <h4>Intrinsics</h4>
                    {{ range $intrinsic := $character.Archetype.Intrinsics }}
                      <ul><h4>{{ $intrinsic }}</h4></ul>
                    {{ end }}

                    <hr>
                    {{ end }}

                    <h4>Description</h4>
                      <h4>Base Will: {{ $character.BaseWill }}</h4>
                      <h4>Willpower: {{ $character.Willpower }}</h4>
                  </div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <h3>Skills</h3>
                {{ range $stat := $character.Statistics }}
                <h4>{{ $stat }}</h4>
                {{ range $skill := $character.Skills }}
                {{ if or $skill.Dice.Normal $skill.Dice.Hard $skill.Dice.Wiggle }}
                {{ if eq $skill.LinkStat.Name $stat.Name}}
                  <ul>{{ $skill }}</ul>
                  {{ end }}
                {{ end }}
                {{end}}
              {{ end }}
              </div>

              <div class="col-sm-4 col-md-4 col-lg-4">
                <h3>Powers</h3>

                {{ range $stat := $character.Statistics }}
                  {{ if $stat.HyperStat }}
                  <div class="card-body">
                    <strong>{{ $stat.HyperStat }}</strong></p>
                    {{ range $quality := $stat.HyperStat.Qualities }}
                      <p>{{ $quality }}</p>
                  {{ end }}
                  <i>Effect: {{ $stat.HyperStat.Effect }}</i>
                    <hr>
                  </div>
                  {{ end }}
                {{ end }}

                {{ range $skill := $character.Skills }}
                {{ if $skill.HyperSkill }}
                <div class="card-body">
                  <strong>{{ $skill.HyperSkill }}</strong></p>
                  {{ range $quality := $skill.HyperSkill.Qualities }}
                  <p>{{ $quality }}</p>
                  {{ end }}
                  <i>Effect: {{ $skill.HyperSkill.Effect }}</i>
                  <hr>
                </div>
                {{ end }}
                {{ end }}

                {{ range $power := $character.Powers }}
                <div class="card-body">
                  <strong>{{ $power }}</strong></p>
                  {{ range $quality := $power.Qualities }}
                    <p>{{ $quality }}</p>
                {{ end }}
                <i>Effect: {{ $power.Effect }}</i>
                  <hr>
                </div>
                {{ end }}
                <hr>

              </div>
            </div> <!-- END outer column 9 -->
          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
