{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Add Passions</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $counter := .Counter }}
{{ $passions := .Passions }}
{{ $skills := .Skills }}
{{ $spiritmagic := .SpiritMagic }}
{{ $runespells := .RuneSpells }}

<div class="container">
    <hr>
    <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Add Passions</h4>

            <p>Add new passions to:</p>

            <h5>{{ $character.Name }}</h5>
            {{ if eq $character.Role "Player Character"}}
            <h5>{{ $character.Homeland.Name }}</h5>
            <h5>{{ $character.Occupation.Name }}</h5>
            <h5>{{ $character.Cult.Name }}</h5>
            {{ end }}

            <hr>
            <button class="btn btn-primary" type="submit" value="Save">Save</button>
            <hr>
            <h5>Current Passions</h5>
          <table class="table table-sm table-striped">
            
          {{ range $a := $character.Abilities }}
          <tr title="{{ $a.Name }}{{ range $u := $a.Updates }}
          {{ $u.Event }}: {{ $u.Value }}%{{end}}">
              <td>{{ $a.Name }}</td>
            <td style="text-align:center">{{ $a.Total }}%</td>
          </tr>
          {{ end }}
          </table>
        
            <form action="" method="POST" enctype="multipart/form-data">

            <hr>

        </div> <!-- END outer column 3 -->


        <div class="col-sm-4 col-md-4 col-lg-4">

            <h4>Passions</h4>
            <p>Add new passions.</p>

            {{ range $m := $counter }}
            <!-- Passions loop -->

            <label for="Passion-{{$m}}-CoreString">Passion {{ $m }}</label>
            <select type="text" class="form-control" id="Passion-{{$m}}-CoreString" name="Passion-{{$m}}-CoreString">
                <option></option>
                {{ range $passions }}
                <option>{{ . }}</option>
                {{ end }}
            </select>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-UserString-addon">Input</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Passion-{{$m}}-UserString-addon" name="Passion-{{$m}}-UserString"
                    value="">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-Base-addon">Passion Base</span>
                </div>
                <input type="number" class="form-control" aria-describedby="Passion-{{$m}}-Base-addon" name="Passion-{{$m}}-Base"
                    value="60">
            </div>
            <hr>
            {{ end }}

        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">

            <button class="btn btn-primary" type="submit" value="Save">Save</button>
        </form>

        </div> <!-- END 9 Col -->

    </div> <!-- END outer ROW -->
</div> <!-- END container -->

{{ end }}
<!-- end content -->