{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Add Power from List {{ $character.Name }}</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $ID := .CharacterModel.ID }}
{{ $powers := $character.Powers }}
{{ $powermodels := .PowerModels }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div>
              <h3>Current Powers</h3>
              {{ range $power := $character.Powers }}
              <div class="card-body">
                <strong>{{ $power }}</strong></p>
                {{ range $quality := $power.Qualities }}
                  <p>{{ $quality }}</a></p>
              {{ end }}
              <i>Effect: {{ $power.Effect }}</i>
                <hr>
              </div>
              {{ end }}
            </div>
          </div>

          <div class="col-sm-3 col-md-3 col-lg-3">
            <form action="" method="POST">
              <h3>New Power</h3>
              <label for="Power">Power</label>
              <select type="text" class="form-control" id="Name" name="Name">
                <option></option>
                {{ range $k, $v := $powermodels }}
                <option value={{ $v.Power.Name}}>{{ $v.Power.Name }} ({{ $v.Power.CostPerDie }}/die)</option>
                {{ end }}
              </select>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="normal-addon">Normal Dice</span>
                </div>
                <input type="number" class="form-control" aria-describedby="normal-addon" name="Normal" value ="0">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="hard-addon">Hard Dice</span>
                </div>
                <input type="number" class="form-control" aria-describedby="hard-addon" name="Hard" value ="0">
              </div>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="wiggle-addon">Wiggle Dice</span>
                </div>
                <input type="number" class="form-control" aria-describedby="wiggle-addon" name="Wiggle" value ="0">
              </div>
                <button class="btn btn-primary" type="submit" value="Save">Save</button>
              </form>
              <a href="/view_character/{{ $ID }}" class="btn btn-primary">Return to Character</a>

            </div> <!-- END outer column 6 -->
          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
