{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Add Passions</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $counter := .Counter }}
{{ $passions := .Passions }}
{{ $skills := .Skills }}
{{ $spiritmagic := .SpiritMagic }}
{{ $runespells := .RuneSpells }}

<div class="container">
    <hr>
    <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Add Passions</h4>

            <p>Add new passions to {{ $character.Name }}</p>

            <h5>{{ $character.Name }}</h5>
            <h5>{{ $character.Homeland.Name }}</h5>

            <img class="card-img-top" data-src="" alt="Thumbnail" style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
                data-holder-rendered="true">

            <p>{{ $character.Description }}</p>
            <hr>
        
            <form action="" method="POST" enctype="multipart/form-data">

                <hr>

            <button class="btn btn-primary" type="submit" value="Save">Save</button>


        </div> <!-- END outer column 3 -->


        <div class="col-sm-4 col-md-4 col-lg-4">

            <h4>Passions</h4>
            <p>Add new passions.</p>

            {{ range $m := $counter }}
            <!-- Passions loop -->

            <label for="Passion-{{$m}}-CoreString">Passion {{ $m }}</label>
            <select type="text" class="form-control" id="Passion-{{$m}}-CoreString" name="Passion-{{$m}}-CoreString">
                <option></option>
                {{ range $passions }}
                <option>{{ . }}</option>
                {{ end }}
            </select>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-UserString-addon">Input</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Passion-{{$m}}-UserString-addon" name="Passion-{{$m}}-UserString"
                    value="">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-Base-addon">Passion Base</span>
                </div>
                <input type="number" class="form-control" aria-describedby="Passion-{{$m}}-Base-addon" name="Passion-{{$m}}-Base"
                    value="60">
            </div>
            <hr>
            {{ end }}

        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">

            <button class="btn btn-primary" type="submit" value="Save">Save</button>
        </form>

        </div> <!-- END 9 Col -->

    </div> <!-- END outer ROW -->
</div> <!-- END container -->

{{ end }}
<!-- end content -->