{{ define "title"}}

<title>Add Encounter</title>

{{ end }}

{{define "content"}}

{{ $facs := .Factions }}
{{ $IsAuthor := .IsAuthor }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <form action="" method="POST" enctype="multipart/form-data">
              <h3>Create Encounter</h3>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="name-addon">Name</span>
                </div>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value ="">
              </div>

              <br>

              <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" for="Description">Description</span>
                </div>
                <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="4" value ="Enter Description"></textarea>
              </div>
              <hr>

              <br><strong>Add to Open Encounters?</strong> <input type="checkbox" name="Open" value="true" id="checkbox" checked>
              <hr>
              <input class="button" type="submit" value="Save">
          </div>

            <div class="col-sm-8 col-md-8 col-lg-8">
              
                <h4>Factions</h4>
                <p>Choose factions to add to the encounter.</p>
              
                {{ range $i := .Counter }}
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Faction-{{ $i }}-addon">Faction {{ $i }}</span>
                </div>
                  <select type="text" class="form-control" id="Faction-{{ $i }}" name="Faction-{{ $i }}">
                    <option></option>
                    {{ range $f := $facs }}
                    <option value={{$f.Slug}}>{{ $f.Name }} ({{ len $f.CharacterModelSlugs }})</option>
                      {{ end }}
                  </select>
              </div>
              <br>
              {{ end }}
              

              

              </div> <!-- End Skills Column -->

            </form>
          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
