{{ define "title"}}

<title>Add Homeland</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $IsAuthor := .IsAuthor }}

{{ $homeland := .HomelandModel.Homeland }}
{{ $counter := .Counter }}
{{ $passions := .Passions }}
{{ $skills := .Skills }}
{{ $category := .CategoryOrder }}
{{ $elementalrunes := .ElementalRunes }}
{{ $powerrunes := .PowerRunes }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <form action="" method="POST" enctype="multipart/form-data">
              <h3>Create Homeland</h3>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="name-addon">Name</span>
                </div>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value ="">
              </div>

              
              <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" for="Description">Description</span>
                </div>
                <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="4" value ="Enter Description"></textarea>
              </div>
              <hr>
              <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" for="Notes">Creation Notes</span>
                </div>
                <textarea class="form-control" aria-describedby="notes-addon" name="Notes" rows="4" default="Enter Notes"></textarea>
              </div>
              <hr>

              <h4>Cult Runes</h4>
                <p>Choose a rune to receive a 10% bonus.</p>
              
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Rune-addon">Rune</span>
                </div>
                  <select type="text" class="form-control" id="Rune" name="Rune">
                    {{ range $r := $elementalrunes }}
                    <option>{{ $r }}</option>
                      {{ end }}
                      <option>-----------</option>
                      {{ range $pr := $powerrunes}}
                    <option>{{ $pr }}</option>
                      {{ end }}
                  </select>
              </div>

              <hr>

              <h4>Statistics</h4>
              {{ range $k, $v := $homeland.StatisticFrames }}

              <label for="Stat-{{ $k }}">{{ $k }}</label>
                  <div class="form-row">
                    <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Stat-{{ $k }}-Dice-addon">Dice</span>
                  </div>
                      <input type="number" class="form-control" name="Stat-{{ $k }}-Dice" value="{{ $v.Dice }}">
                    </div>
                  </div>
                    <div class="col">
                    <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Stat-{{ $k }}-Modifier-addon">Modifier</span>
                  </div>
                      <input type="number" class="form-control" name="Stat-{{ $k }}-Modifier" value="{{ $v.Modifier}}">
                  </div>
                  </div>
                </div>
              
              {{ end }}

              <hr>
              <h4>Image</h4>
              <div class="input-group">
                  <div class="custom-file">
                    <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                    <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                  </div>
                </div>

              <h4>Hit Locations</h4>

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" for="Hit-Location-Form">Hit Location Form</span>
                  </div>
                  <select type="number" class="form-control" id="Hit-Location-Form" name="Hit-Location-Form">
                  <option>Humanoids</option>
                  {{ range $k, $v := .HitLocationForms }}
                    <option>{{ $k }}</option>
                  {{ end }}
                  </select>
                </div>
                <hr>

              <br><strong>Add to Open Homelands?</strong> <input type="checkbox" name="Archive" value="true" id="checkbox" checked>
              <hr>
              <input class="button" type="submit" value="Save">
          </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
              <h4>Regular Skills</h4>
              <p>Add points or change base of regular Runequest skills.</p>

              {{ range $m := .BigCounter }} <!-- Skill loop -->
              
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-CoreString-addon">Skill</span>
                </div>
                  <select type="text" class="form-control" id="Skill-{{$m}}-CoreString" name="Skill-{{$m}}-CoreString">
                    <option></option>
                    {{ range $s := $skills }}
                    <option>{{ $s.CoreString }}</option>
                      {{ end }}
                  </select>
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Skill-{{$m}}-UserString-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Skill-{{$m}}-UserString-addon" name="Skill-{{$m}}-UserString" value ="">
              </div>

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-Base-addon">Alter Base Chance</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Skill-{{$m}}-Base-addon" name="Skill-{{$m}}-Base" value ="0">
                  <div class="input-group-append">
                        <span class="input-group-text" id="Skill-{{$m}}-Base-addon">%</span>
                      </div>
                </div>

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-Value-addon">+</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Skill-{{$m}}-Value-addon" name="Skill-{{$m}}-Value" value ="0">
                  <div class="input-group-append">
                        <span class="input-group-text" id="Skill-{{$m}}-Value-addon">%</span>
                      </div>
                </div>
                <hr>
                {{ end }} <!-- End Skill Loop -->

              </div> <!-- End Skills Column -->

                <div class="col-sm-4 col-md-4 col-lg-4">
                  <h4>Passions</h4>
                  <p>Set the starting passions for the homeland.</p>

                    {{ range $m := $counter }} <!-- Passions loop -->

                    <label for="Passion-{{$m}}-CoreString">Passion {{ $m }}</label>
                    <select type="text" class="form-control" id="Passion-{{$m}}-CoreString" name="Passion-{{$m}}-CoreString">
                      <option></option>
                      {{ range $passions }}
                          <option>{{ . }}</option>
                        {{ end }}
                    </select>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-UserString-addon">Input</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="Passion-{{$m}}-UserString-addon" name="Passion-{{$m}}-UserString" value ="">
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-Base-addon">Passion Base</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Passion-{{$m}}-Base-addon" name="Passion-{{$m}}-Base" value ="60">
                </div>

                {{ end }}

                <hr>

                <h4>Skill Choices</h4>
                <p>Give users a choice of two skills to improve.</p>


                {{ range $m := $counter }} <!-- SkillChoice loop -->

                <h5>Choice {{$m}}</h5>

                <!-- Skill 1 -->
                <label for="Skill-{{$m}}-1-CoreString">Skill 1</label>
                <select type="text" class="form-control" id="Skill-{{$m}}-1-CoreString" name="Skill-{{$m}}-1-CoreString">
                  <option></option>
                  {{ range $s := $skills }}
                  <option>{{ $s.CoreString }}</option>
                    {{ end }}
                </select>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-1-UserString-addon">Specialization</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="Skill-{{$m}}-1-UserString-addon" name="Skill-{{$m}}-1-UserString" value ="">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="Skill-{{$m}}-1-Value-addon">Skill Bonus</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="Skill-{{$m}}-1-Value-addon" name="Skill-{{$m}}-1-Value" value ="0">
                  </div>

                <!-- Skill 2 -->
                <label for="Skill-{{$m}}-2-CoreString">Skill 2</label>
                    <select type="text" class="form-control" id="Skill-{{$m}}-2-CoreString" name="Skill-{{$m}}-2-CoreString">
                      <option></option>
                      {{ range $s := $skills }}
                          <option>{{ $s.CoreString }}</option>
                        {{ end }}
                    </select>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-2-UserString-addon">Specialization</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="Skill-{{$m}}-2-UserString-addon" name="Skill-{{$m}}-2-UserString" value ="">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="Skill-{{$m}}-2-Value-addon">Skill Bonus</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="Skill-{{$m}}-2-Value-addon" name="Skill-{{$m}}-2-Value" value ="0">
                  </div>

                <hr>
                {{ end }}

                <h4>Add New Skills</h4>

                {{ range $m := $counter }}
                <h5>Skill {{$m}}</h5>

                  <!-- Skill 1 -->
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="NewSkill-{{$m}}-CoreString-addon">Name</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="NewSkill-{{$m}}-CoreString-addon" name="NewSkill-{{$m}}-CoreString" value ="">
                  </div>

                <label for="Skill-{{$m}}-Category">Category</label>
                <select type="text" class="form-control" id="NewSkill-{{$m}}-Category" name="NewSkill-{{$m}}-Category">
                  {{ range $category }}
                  <option>{{ . }}</option>
                    {{ end }}
                </select>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="NewSkill-{{$m}}-UserString-addon">Specialization (if req'd)</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="NewSkill-{{$m}}-UserString-addon" name="NewSkill-{{$m}}-UserString" value ="">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="NewSkill-{{$m}}-Base-addon">Base %</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="NewSkill-{{$m}}-Base-addon" name="NewSkill-{{$m}}-Base" value ="0">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="NewSkill-{{$m}}-Value-addon">Skill Bonus</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="NewSkill-{{$m}}-Value-addon" name="NewSkill-{{$m}}-Value" value ="0">
                </div>
                <hr>

                {{ end }}

            </div> <!-- End Passions & SkillChoices COL 1 -->

            </form>
          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
