{{ define "title"}}

<title>Add Creature</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character}}
{{ $ID := .CharacterModel.ID }}
{{ $statistics := $character.Statistics }}
{{ $counter := .Counter }}
{{ $passions := .Passions }}
{{ $skills := .Skills }}
{{ $spiritmagic := .SpiritMagic }}
{{ $runespells := .RuneSpells }}
{{ $cults := .CultModels }}
{{ $category := .CategoryOrder }}
{{ $hitLocationForms := .HitLocationForms }}

<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <form action="" method="POST" enctype="multipart/form-data">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="name-addon">Name</span>
          </div>
          <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value="{{ $character.Name }}">
        </div>
        <hr>
        
            <label class="input-group-text" for="Description">Description</label>
          <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="10" value="{{ $character.Description }}">{{ $character.Description }}</textarea>

        <hr>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" for="Cult">Cult</span>
          </div>
          <select type="text" class="form-control" id="Cult" name="Cult.Name">
                <option></option>
            {{ range $v := $cults }}
                <option>{{ $v.Cult.Name }}</option>
            {{ end }}
          </select>
          </div>

        <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" for="Rank">Cult Rank</span>
        </div>
        <select type="text" class="form-control" id="Rank" name="Cult.Rank">
          <option></option>
          <option>Initiate</option>
          <option>Rune Priest</option>
          <option>God Talker</option>
          <option>Rune Lord</option>
          
        </select>
        </div>

        <br>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="rp-addon">Rune Points</span>
          </div>
          <input type="number" class="form-control" aria-describedby="rp-addon" name="Cult.NumRunePoints" value="{{ $character.Cult.NumRunePoints }}">
        </div>

        <hr>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" for="Role">Role</span>
          </div>
          <select type="text" class="form-control" id="Role" name="Role">
            <option>Creature</option>
            <option>Non-Player Character</option>
            <option>Animal</option>
            <option>Chaos</option>
            <option>Demon</option>
            <option>Elemental</option>
            <option>Spirit</option>
          </select>
        </div>

        <hr>



        <p>Image</p>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
            <label class="custom-file-label" for="inputGroupFile">Update Image</label>
          </div>
        </div>
        <hr>

        <h4>Passions</h4>
            <p>Add new passions.</p>

            {{ range $m := $counter }}
            <!-- Passions loop -->

            <label for="Passion-{{$m}}-CoreString">Passion {{ $m }}</label>
            <select type="text" class="form-control" id="Passion-{{$m}}-CoreString" name="Passion-{{$m}}-CoreString">
                <option></option>
                {{ range $passions }}
                <option>{{ . }}</option>
                {{ end }}
            </select>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-UserString-addon">Input</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Passion-{{$m}}-UserString-addon" name="Passion-{{$m}}-UserString"
                    value="">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-Base-addon">Passion Base</span>
                </div>
                <input type="number" class="form-control" aria-describedby="Passion-{{$m}}-Base-addon" name="Passion-{{$m}}-Base"
                    value="60">
            </div>

            {{ end }}
      
      <hr>

        <strong>Add to Open Roster?</strong> <input type="checkbox" name="Archive" value="true" id="checkbox"
          {{if .CharacterModel.Open }} checked{{ end }}>

        <hr>
        <button class="btn btn-primary" type="submit" value="Save">Save</button>

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <h4>Stats</h4>
      {{ range $k, $stat := $statistics }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span {{ if $stat.ExperienceCheck }}style="color:blue"{{ end }}class="input-group-text" id="{{ $k }}-addon">{{ $k }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $k }}-addon" name="{{ $k }}" value="10">
      </div>
      {{ end }}

      <hr>

      <h4>Elemental Runes</h4>
      {{ range $k, $v := $character.ElementalRunes }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{ $k }}-addon">{{ $k }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $k }}-addon" name="{{ $k }}" value="{{ $v.Total }}">
      </div>
      {{ end }}

      <hr>

      <h4>Power/Form Runes</h4>
      {{ range $k, $v := $character.PowerRunes }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{ $k }}-addon">{{ $k }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $k }}-addon" name="{{ $k }}" value="{{ $v.Total }}">
      </div>
      {{ end }}

      <hr>

      <h4>Condition Runes</h4>
      {{ range $k, $v := $character.ConditionRunes }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{ $k }}-addon">{{ $k }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $k }}-addon" name="{{ $k }}" value="{{ $v.Total }}">
      </div>
      {{ end }}

      <hr>

      <h5>Powers & Abilities </h5>

      {{ range $m := $counter }}
      <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text" id="Power-{{$m}}-Name-addon">Name</span>
          </div>
          <input type="text" class="form-control" aria-describedby="Power-{{$m}}-Name-addon" name="Power-{{$m}}-Name" value="">
      </div>

      <label class="input-group-text" for="Power-{{$m}}-Description">Description</label>
      <textarea class="form-control" aria-describedby="description-addon" name="Power-{{$m}}-Description" rows="4" placeholder="Enter description"></textarea>
      <br>
      {{ end }}

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <h4>Skills</h4>

            {{ range $k, $v := $character.Skills }} <!-- Skill loop - normally 3 to 4 -->
              
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Skill-{{$k}}-CoreString-addon">Skill</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Skill-{{$k}}-CoreString-addon" name="Skill-{{$k}}-CoreString" value ="{{ $v.CoreString }}">
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Skill-{{$k}}-UserString-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Skill-{{$k}}-UserString-addon" name="Skill-{{$k}}-UserString" value ="{{ $v.UserString }}">
              </div>

              <label for="Skill-{{$k}}-Category">Category</label>
              <select type="text" class="form-control" id="Skill-{{$k}}-Category" name="Skill-{{$k}}-Category">
                {{ range $category }}
                <option>{{ . }}</option>
                  {{ end }}
              </select>

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$k}}-Value-addon">+</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Skill-{{$k}}-Value-addon" name="Skill-{{$k}}-Value" value ="{{ $v.Value }}">
                  <div class="input-group-append">
                        <span class="input-group-text" id="Skill-{{$k}}-Value-addon">%</span>
                      </div>
                </div>
                <hr>
                {{ end }} <!-- End Skill Loop -->

                <h4>Rune Spells</h4>

            {{ range $k, $v := $character.RuneSpells }}

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="RuneSpell-{{ $k }}-addon">Rune Spell</span>
                </div>
                  <select type="text" class="form-control" id="RuneSpell-{{ $k }}" name="RuneSpell-{{ $k }}">
                    {{ if eq $v.CoreString "" }}
                        <option></option>
                    {{else }}
                        <option value={{ $v.CoreString }}>{{ $v.CoreString }} ({{ $v.Cost}})pts</option>
                    {{ end }}
                    <option></option>
                {{ range $m, $rs := $runespells }}
                    <option value="{{ $rs.CoreString }}">{{ $rs.CoreString }} ({{ $rs.Cost }}pts)</option>
                {{ end }}
                  </select>
              </div>
            
            
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="RuneSpell-{{$k}}-UserString-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="RuneSpell-{{$k}}-UserString-addon" name="RuneSpell-{{$k}}-UserString" value ="{{ $v.UserString }}">
              </div>

              <hr>
              {{ end }}

              <h4>Spirit Magic Spells</h4>

            {{ range $k, $v := $character.SpiritMagic }}

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="SpiritMagic-{{ $k }}-addon">Spirit Magic</span>
                </div>
                  <select type="text" class="form-control" id="SpiritMagic-{{ $k }}" name="SpiritMagic-{{ $k }}">
                        {{ if eq $v.CoreString "" }}
                        <option></option>
                    {{else }}
                    <option value={{ $v.CoreString }}>{{ $v.CoreString }} ({{ $v.Cost}})pts</option>
                    {{ end }}
                    <option></option>
                {{ range $m, $sm := $spiritmagic }}
                    <option value="{{ $sm.CoreString }}">{{ $sm.CoreString }} ({{ $sm.Cost }}pts)</option>
                {{ end }}
                  </select>
              </div>
            
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="SpiritMagic-{{$k}}-Cost-addon">Level</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="SpiritMagic-{{$k}}-Cost-addon" name="SpiritMagic-{{$k}}-Cost" value ="{{ $v.Cost }}">
                  <div class="input-group-append">
                        <span class="input-group-text" id="SpiritMagic-{{$k}}-Cost-addon">pts</span>
                      </div>
                </div>
            
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="SpiritMagic-{{$k}}-UserString-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="SpiritMagic-{{$k}}-UserString-addon" name="SpiritMagic-{{$k}}-UserString" value ="{{ $v.UserString }}">
              </div>

              <hr>
              {{ end }}

</div>

    <div class="col-sm-3 col-md-3 col-lg-3">

      <h4>Hit Locations</h4>

      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" for="Hit-Location-Form">Hit Location Form</span>
          </div>
          <select type="number" class="form-control" id="Hit-Location-Form" name="Hit-Location-Form">
          {{ range $k, $v := $hitLocationForms }}
            <option>{{ $k }}</option>
          {{ end }}
          </select>
        </div>
        <br>
        
      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Armor-addon">Armor</span>
          </div>
          <input type="number" class="form-control" aria-describedby="Armor-addon" name="Armor" value ="0">
        </div>  

      <hr>

      <h4>Attacks</h4>
      {{ range $k := $counter }}

      <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" for="Attack-{{ $k }}-Type">Attack Type</span>
          </div>
          <select type="number" class="form-control" id="Attack-{{ $k }}-Type" name="Attack-{{ $k }}-Type">
            <option>Melee</option>
            <option>Ranged</option>
          </select>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Attack-{{ $k }}-Name-addon">Name</span>
          </div>
          <input type="text" class="form-control" aria-describedby="Attack-{{ $k }}-Name-addon" name="Attack-{{ $k }}-Name" default="Attack Name" value="">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="Attack-{{ $k }}-Skill-addon">Skill</span>
            </div>
            <input type="number" class="form-control" aria-describedby="Attack-{{ $k }}-Skill-addon" name="Attack-{{ $k }}-Skill" value="60">
          </div> 

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="Attack-{{ $k }}-Damage-addon">Damage</span>
          </div>
          <input type="text" class="form-control" aria-describedby="Attack-{{ $k }}-Damage-addon" name="Attack-{{ $k }}-Damage" placeholder="1d6+1" value="1d6+1">
        </div>

          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="Attack-{{ $k }}-HP-addon">HP</span>
              </div>
              <input type="number" class="form-control" aria-describedby="Attack-{{ $k }}-HP-addon" name="Attack-{{ $k }}-HP" value ="0">
            </div>  

        <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="Attack-{{ $k }}-SR-addon">SR</span>
            </div>
            <input type="number" class="form-control" aria-describedby="Attack-{{ $k }}-SR-addon" name="Attack-{{ $k }}-SR" value ="2">
          </div>

          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="Attack-{{ $k }}-Range-addon">Range</span>
              </div>
              <input type="number" class="form-control" aria-describedby="Attack-{{ $k }}-Range-addon" name="Attack-{{ $k }}-Range" value ="0">
            </div>  

          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="Attack-{{ $k }}-Special-addon">Special</span>
              </div>
              <input type="text" class="form-control" aria-describedby="Attack-{{ $k }}-Special-addon" name="Attack-{{ $k }}-Special" value ="">
            </div>
       
        <hr>
      {{ end }}
  </div>

    </div> <!-- End Column -->

  </div>
  </form>
  {{end}}