{{ define "title"}}

<title>Users</title>

{{ end }}

{{define "content"}}

      <div class="container">
        <div class="row">

      <div class="col-sm-12 col-md-12 col-lg-12">
        <h3>User Admin</h3>
        <h4>Users: {{ .UserCount }}</h4>
        <h4>Characters: {{ .CharacterCount }}</h4>
        <table class="table table-sm table-striped">
          <tr>
            <td>UserName</td>
            <td>Admin</td>
            <td>Email</td>
            <td>Characters</td>
            <td>Link</td>
            <td>Make Admin</td>
            <td>Delete</td>
          </tr>
          {{ range .Users }}
          <tr>
            <td>{{ .UserName }}</td>
            <td>{{ .IsAdmin }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .Characters }}</td>
            <td><a href="/admin_view_user_roster/{{ .ID }}">Link</td>
            <td><a href="/make_admin/{{ .ID }}">Toggle Admin</td>
            <td><a href="/delete_user/{{ .ID }}">Delete</td>
          </tr>
          {{ end }}
        </table>
      </div>
    </div>

  </div>

{{end}}
