{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Choose Homeland</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $counter := .Counter }}
{{ $passions := .Passions }}
{{ $skills := .Skills }}

<div class="container">
    <hr>
    <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Personal History</h4>
            <h5>Step (1.5 of 7)</h5>

            <p>Based off your characters rolls in the personal history section of character creation, choose the
                passions that shape your character.</p>

            <h5>{{ $character.Name }}</h5>
            <h5>{{ $character.Homeland.Name }}</h5>

            <img class="card-img-top" data-src="" alt="Thumbnail" style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
                data-holder-rendered="true">

            <p>{{ $character.Description }}</p>
            <hr>
        
            <form action="" method="POST" enctype="multipart/form-data">

                <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="Lunars-addon">Wealth</span>
                        </div>
                        <input type="number" class="form-control" aria-describedby="Lunars-addon" name="Lunars" value ="0">
                        <div class="input-group-append">
                            <span class="input-group-text" id="Lunars-addon">L</span>
                          </div>
                </div>

                <hr>

                <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="Reputation-addon">Reputation</span>
                        </div>
                        <input type="number" class="form-control" aria-describedby="Reputation-addon" name="Reputation" value ="0">
                        <div class="input-group-append">
                            <span class="input-group-text" id="Reputation-addon">%</span>
                          </div>
                </div>

                <hr>

            <button class="btn btn-primary" type="submit" value="Save">Continue</button>
            <hr>
            <p>If you exit character creation, you'll be able to come back and finish later.</p>
            <hr>

        </div> <!-- END outer column 3 -->


        <div class="col-sm-4 col-md-4 col-lg-4">

            <h4>Passions</h4>
            <p>Set the starting passions from your characters personal history.</p>

            {{ range $m := $counter }}
            <!-- Passions loop -->

            <label for="Passion-{{$m}}-CoreString">Passion {{ $m }}</label>
            <select type="text" class="form-control" id="Passion-{{$m}}-CoreString" name="Passion-{{$m}}-CoreString">
                <option></option>
                {{ range $passions }}
                <option>{{ . }}</option>
                {{ end }}
            </select>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-UserString-addon">Input</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Passion-{{$m}}-UserString-addon" name="Passion-{{$m}}-UserString"
                    value="">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-Base-addon">Passion Base</span>
                </div>
                <input type="number" class="form-control" aria-describedby="Passion-{{$m}}-Base-addon" name="Passion-{{$m}}-Base"
                    value="60">
            </div>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{$m}}-Value-addon">Passion Bonus Value</span>
                </div>
                <input type="number" class="form-control" aria-describedby="Passion-{{$m}}-Value-addon" name="Passion-{{$m}}-Value"
                    value="0">
            </div>

            {{ end }}

            <hr>
        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">

            <h4>Background Skills</h4>
            <p>Choose skills from your personal history.</p>

            {{ range $m := $counter }} <!-- Skill loop - normally 3 to 4 -->
              
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-CoreString-addon">Skill</span>
                </div>
                  <select type="text" class="form-control" id="Skill-{{$m}}-CoreString" name="Skill-{{$m}}-CoreString">
                    <option></option>
                    {{ range $s := $skills }}
                    <option>{{ $s.CoreString }}</option>
                      {{ end }}
                  </select>
              </div>

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Skill-{{$m}}-UserString-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Skill-{{$m}}-UserString-addon" name="Skill-{{$m}}-UserString" value ="">
              </div>

              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-Value-addon">+</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Skill-{{$m}}-Value-addon" name="Skill-{{$m}}-Value" value ="0">
                  <div class="input-group-append">
                        <span class="input-group-text" id="Skill-{{$m}}-Value-addon">%</span>
                      </div>
                </div>
                <hr>
                {{ end }} <!-- End Skill Loop -->

                <hr>
            <button class="btn btn-primary" type="submit" value="Save">Continue</button>
        </form>

        </div> <!-- END 9 Col -->

    </div> <!-- END outer ROW -->
</div> <!-- END container -->

{{ end }}
<!-- end content -->