{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Initial Choices</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $homelands := .HomelandModels }}
{{ $occupations := .OccupationModels }}
{{ $cults := .CultModels }}
{{ $user := .SessionUser }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
            <h4>Details & Roles</h4>
            <h5>(Step 1 of 7)</h5>

            <p><strong>Note: As in Runequest, creating a character has seven steps.
            You need to complete all the steps to have a full character.</strong></p>
            <p>Create your character by choosing a name, entering a description, choosing an image, a homeland, an occupation and a cult.</p>

            <form class="needs-validation" action="" method="POST" enctype="multipart/form-data">
          <button class="btn btn-primary" type="submit" value="Save">Continue to Personal History</button>
          <hr>

          </div> <!-- END outer column 6 -->


          <div class="col-sm-9 col-md-9 col-lg-9">

            <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" id="name-addon">Name</span>
                </div>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Name" placeholder="Enter Name Here" required>
              </div><br>

              <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" for="Description">Description</span>
                </div>
                <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="10" value ="{{ $character.Description }}">{{ $character.Description }}</textarea>
              </div>

              <hr>
              <h4>Character Portrait</h4>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                  <label class="custom-file-label" for="inputGroupFile">Choose Image</label>
                </div>
              </div>

              <hr>
              <h4>Share your content</h4>
              <p>By adding your character to the open roster, others can see your work and copy it for inclusion in their own games. If you de-select this option, you will be the only one able to see your characters.</p>
              <p>Future updates will allow liking and ranking of high-quality content.</p>
              <strong>Add to Open Roster?</strong> <input type="checkbox" name="Open" value="true" id="checkbox" checked>

              <hr>

              <h4>Choose Homeland, Occupation & Cult</h4>
              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" for="Homeland">Homeland</span>
                </div>
              <select type="text" class="form-control" id="Homeland" name="Homeland">
                {{ range $k, $v := $homelands }}
                <option value={{ $v.ID }}>{{ $v.Homeland.Name }}</option>
                {{ end }}
              </select>
              </div>

              <hr>

              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" for="Occupation">Occupation</span>
                </div>
              <select type="text" class="form-control" id="Occupation" name="Occupation">
                
                {{ range $k, $v := $occupations }}
                    <option value={{ $v.ID }}>{{ $v.Occupation.Name }}</option>
                {{ end }}
              </select>
              </div>

              <hr>

              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" for="Cult">Cult</span>
              </div>
              <select type="text" class="form-control" id="Cult" name="Cult">
                
                {{ range $k, $v := $cults }}
                    <option value={{ $v.ID }}>{{ $v.Cult.Name }}</option>
                {{ end }}
              </select>
              </div>

              <hr>

                <button class="btn btn-primary" type="submit" value="Save">Go to Personal History</button>
              </form>

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
