{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Choose Homeland</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
            <h4>Create Character</h4>

            <p>Choose your character's Runes</p>

        <h5>{{ $character.Name }}</h5>
        <h5>{{ $character.Homeland.Name }}</h5>

          <img class ="card-img-top" data-src="" alt="Thumbnail"
          style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
          data-holder-rendered="true">

            <p>{{ $character.Description }}</p>
            <hr>

        </div> <!-- END outer column 3 -->


          <div class="col-sm-9 col-md-9 col-lg-9">

            <form action="" method="POST" enctype="multipart/form-data">

            <h4>Instructions</h4>
            <p>Follow the instructions for both Elemental and Power runes and then spread 50% of bonus points as desired.</p>

            <h4>Elemental Runes</h4>
            <p>Choose one rune at 60%, one at 40% and one at 20%.</p>
            <p>Your chosen homeland will provide a bonus of 10% to $character.Homeland.Rune.

                {{ range $k, $er := $character.ElementalRunes }}
                    <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="{{ $er.CoreString }}-addon">{{ $er.CoreString }} Rune</span>
                  </div>
              <select type="text" class="form-control" id="{{ $er.CoreString }}" name="{{ $er.CoreString }}">
                <option>0</option>
                <option>60</option>
                <option>40</option>
                <option>20</option>
              </select>                  <div class="input-group-append">
                      <span class="input-group-text" id="{{ $er.CoreString }}-addon">%</span>
                    </div>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Bonus-{{ $er.CoreString }}-addon">Bonus</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Bonus-{{ $er.CoreString }}-addon" name="Bonus-{{ $er.CoreString }}" value ="{{$er.CreationBonusValue}}">
                  <div class="input-group-append">
                      <span class="input-group-text" id="Bonus-{{ $er.CoreString }}-addon">%</span>
                    </div>
                </div>

                <hr>
                {{ end }}


            <h4>Power Runes</h4>
            <p>Choose two runes at 75%. The Runes opposing Rune will start at 25%.</p>
            <p>Your chosen homeland will provide a bonus of 10% to $character.Homeland.Rune .

                {{ range $k, $pr := $character.PowerRunes }}
                    <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="{{ $pr.CoreString }}-addon">{{ $pr.CoreString }} Rune</span>
                  </div>
 <select type="text" class="form-control" id="{{ $pr.CoreString }}" name="{{ $pr.CoreString }}">
                <option>50</option>
                <option>75</option>
              </select>                  <div class="input-group-append">
                      <span class="input-group-text" id="{{ $pr.CoreString }}-addon">%</span>
                    </div>
                </div>

                 <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Bonus-{{ $pr.CoreString }}-addon">Bonus</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Bonus-{{ $pr.CoreString }}-addon" name="Bonus-{{ $pr.CoreString }}" value ="{{$pr.CreationBonusValue}}">
                  <div class="input-group-append">
                      <span class="input-group-text" id="Bonus-{{ $pr.CoreString }}-addon">%</span>
                    </div>
                </div>

                <hr> 
                {{ end }}

                <button class="btn btn-primary" type="submit" value="Save">Save</button>
              </form>

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
