{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Choose Homeland</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $homelands := .HomelandModels }}
{{ $powerrunes := .PowerRunes }}
{{ $elementalrunes := .ElementalRunes }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
            <h4>Create Character</h4>

            <p>Choose your character's Runes</p>

        <h3>{{ $character.Name }}</h3>
        <h3>{{ $character.Homeland.Name }}</h3>

          <img class ="card-img-top" data-src="" alt="Thumbnail"
          style="width: 100%; display: block;" src="https://s3.amazonaws.com/oreengine{{ .CharacterModel.Image.Path }}"
          data-holder-rendered="true">

            <p>{{ $homeland.Description }}</p>
            <hr>

        </div> <!-- END outer column 3 -->


          <div class="col-sm-9 col-md-9 col-lg-9">

            <form action="" method="POST" enctype="multipart/form-data">

            <h4>Elemental Runes</h4>
            <p>Choose one rune at 60%, one at 40% and one at 20%.</p>
            <p>Your chosen homeland will provide a bonus of 10% to {{ $character.Homeland.Rune }}.
            
                {{ range $er := $character.ElementalRunes }}
                    <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="{{ $er.Name }}-addon">{{ $er.Name }}</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="{{ $er.Name }}-addon" name="{{ $er.Name }}" value ="{{ $er.HomelandValue }}">
                  <div class="input-group-append">
                      <span class="input-group-text" id="{{ $er.Name }}-addon">%</span>
                    </div>
                </div>
                {{ end }}


            <h4>Power Runes</h4>
            <p>Choose two runes at 75%. The Runes opposing Rune will start at 25%.</p>
            <p>Your chosen homeland will provide a bonus of 10% to {{ $character.Homeland.Rune }}.

                {{ range $pr := $character.PowerRunes }}
                    <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="{{ $pr.Name }}-addon">{{ $pr.Name }}</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="{{ $pr.Name }}-addon" name="{{ $pr.Name }}" value ="0">
                  <div class="input-group-append">
                      <span class="input-group-text" id="{{ $pr.Name }}-addon">%</span>
                    </div>
                </div>
                {{ end }}

                <button class="btn btn-primary" type="submit" value="Save">Save</button>
              </form>

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
