{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Choose Homeland</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Choose Rune Affinities</h4>
            <h5>(Step 2 of 7)</h5>

            <p>Choose your character's Runes</p>

        <h5>{{ $character.Name }}</h5>
        <h5>{{ $character.Homeland.Name }}</h5>

          <img class ="card-img-top" data-src="" alt="Thumbnail"
          style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
          data-holder-rendered="true">

            <p>{{ $character.Description }}</p>
            <hr>
            <h4>Instructions</h4>
            <p>Follow the instructions for both Elemental and Power runes and then spread 50% of bonus points as desired.</p>
          <hr>
            <form action="" method="POST" enctype="multipart/form-data">
            <button class="btn btn-primary" type="submit" value="Save">Roll Stats</button>


        </div> <!-- END outer column 3 -->


          <div class="col-sm-4 col-md-4 col-lg-4">

            <h4>Elemental Runes</h4>
            <p>Choose one rune at 60%, one at 40% and one at 20%.</p>
            <p>Your chosen homeland will provide a bonus of 10% to {{$character.Homeland.RuneBonus}}.
            <p>Your cult's runes are: {{ range $r := $character.Cult.Runes }}{{ $r }} {{ end }}.</p>

                    <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Rune1-addon">Rune at 60%</span>
                  </div>
              <select type="text" class="form-control" id="Rune1" name="Rune1">
                <option>Air</option>
                <option>Earth</option>
                <option>Fire/Sky</option>
                <option>Darkness</option>
                <option>Moon</option>
                <option>Water</option>
              </select>                  
             </div>

             <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Rune2-addon">Rune at 40%</span>
                  </div>
              <select type="text" class="form-control" id="Rune2" name="Rune2">
                <option>Earth</option>
                <option>Fire/Sky</option>
                <option>Darkness</option>
                <option>Moon</option>
                <option>Water</option>
                <option>Air</option>

              </select>                  
             </div>

             <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Rune3-addon">Rune at 20%</span>
                  </div>
              <select type="text" class="form-control" id="Rune3" name="Rune3">
                <option>Fire/Sky</option>
                <option>Darkness</option>
                <option>Moon</option>
                <option>Water</option>
                <option>Air</option>
                <option>Earth</option>
              </select>                  
             </div>

             <hr>
              <h4>Power Runes</h4>
            <p>Choose two runes at 75%. The Runes opposing Rune will start at 25%.</p>
           
             <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="PowerRune1-addon">Power Rune at 75%</span>
                  </div>
              <select type="text" class="form-control" id="PowerRune1" name="PowerRune1">
                <option>Man</option>
                <option>Beast</option>
                <option>Fertility</option>
                <option>Death</option>
                <option>Harmony</option>
                <option>Disorder</option>
                <option>Truth</option>
                <option>Illusion</option>
                <option>Movement</option>
                <option>Stasis</option>
              </select>                  
             </div>

             <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="PowerRune2-addon">Power Rune at 75%</span>
                  </div>
              <select type="text" class="form-control" id="PowerRune2" name="PowerRune2">
                <option>Fertility</option>
                <option>Death</option>
                <option>Harmony</option>
                <option>Disorder</option>
                <option>Truth</option>
                <option>Illusion</option>
                <option>Movement</option>
                <option>Stasis</option>
                <option>Man</option>
                <option>Beast</option>
              </select>                  
             </div>
              
          </div>

          <div class="col-sm-4 col-md-4 col-lg-4">

            <h4>Bonus Points</h4>
            <p>Spread 50 points across the runes. No rune can go higher than 100%</p>

            <h5>Elemental Runes</h5>
            {{ range $k, $er := $character.ElementalRunes }}
             
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Bonus-{{ $er.CoreString }}-addon">{{ $er.CoreString }}</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Bonus-{{ $er.CoreString }}-addon" name="Bonus-{{ $er.CoreString }}" value ="{{$er.CreationBonusValue}}">
                  <div class="input-group-append">
                      <span class="input-group-text" id="Bonus-{{ $er.CoreString }}-addon">%</span>
                    </div>
                </div>
                {{ end }}
                <hr>

                <h5>Power Runes</h5>

                {{ range $k, $pr := $character.PowerRunes }}

                 <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Bonus-{{ $pr.CoreString }}-addon">{{ $pr.CoreString }}</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Bonus-{{ $pr.CoreString }}-addon" name="Bonus-{{ $pr.CoreString }}" value ="{{$pr.CreationBonusValue}}">
                  <div class="input-group-append">
                      <span class="input-group-text" id="Bonus-{{ $pr.CoreString }}-addon">%</span>
                    </div>
                </div>

                {{ end }}
                <hr> 

                <button class="btn btn-primary" type="submit" value="Save">Roll Stats</button>
              </form>

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
