{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Roll Attributes</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $statOrder := .StringArray }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
            <h4>Roll Stats</h4>
            <h5>(Step 3 of 7)</h5>

            <p>Roll your Characteristics</p>

        <h3>{{ $character.Name }}</h3>
        <h3>{{ $character.Homeland.Name }}</h3>

          <img class ="card-img-top" data-src="" alt="Thumbnail"
          style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
          data-holder-rendered="true">

            <p>{{ $character.Description }}</p>
            <hr>

            <form action="" method="POST" enctype="multipart/form-data">
          <button class="btn btn-primary" type="submit" value="Save">Continue to Homeland</button>
          <hr>
          <h4>Attributes</h4>
              <table class="table table-sm table-striped">
                <tr>
                  <td>HP</td>
                  <td><span id="HP" value="10"></span></td>
                </tr>

                <tr>
                  <td>MP</td>
                  <td><span id="MP" value="10"></span></td>
                </tr>

                <tr>
                  <td>DB</td>
                  <td><span id="DB" value="10"></span></td>
                </tr>

                <tr>
                  <td>SIZ SR</td>
                  <td><span id="SIZ SR" value="10"></span></td>
                </tr>

                <tr>
                  <td>DEX SR</td>
                  <td><span id="DEX SR" value="10"></span></td>
                </tr>

                <tr>
                  <td>Spirit Dam</td>
                  <td><span id="SM DB" value="10"></span></td>
                </tr>
            </table>
          <hr>

        </div> <!-- END outer column 3 -->


          <div class="col-sm-9 col-md-9 col-lg-9">


            <h4>Enter or choose your Statistics.</h4>
            <p>Rolling d6's and re-rolling 1's</p>
            
            
                {{ range $o := $statOrder }}
                {{ range $k, $v := $character.Homeland.StatisticFrames }}
                {{ if eq $k $o }}
                    <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="{{ $k }}-addon">{{ $k }} ({{ $v.Dice }}d6{{ if eq $v.Modifier 0 }}{{else}}{{ if gt $v.Modifier 1 }}+{{ $v.Modifier }}{{ else }}{{ $v.Modifier }}{{ end }}{{ end }})</span>
                  </div>
                  <input 
                    type="number" 
                    id="{{$k}}-roll" 
                    class="form-control" 
                    aria-describedby="{{ $k }}-addon" 
                    name="{{ $k }}"
                    onchange="updateAttributes();" 
                    value="0" 
                    required>
                </div>

                <hr>
                {{ end }}
                {{ end }}
                {{ end }}

                <input type="button" value="Re-roll" onclick="randomValue();" />
                <hr>
                <h4>Choose Rune Bonuses</h4>
                <p>Your adventurer gets Rune Modifier bonuses to the characteristics corresponding to their primary (highest) and secondary (second-highest) Elemental Rune affinities.</p> 
                {{ range $i, $r := .RuneArray }}
                  <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="RuneMod-{{ $i }}-addon">Stat {{ add $i 1 }}</span>
                        </div>
                    <select type="text" class="form-control" id="RuneMod-{{ $i }}" name="RuneMod-{{ $i }}">
                      <option>{{ $r }}</option>
                      <option>CHA</option>
                    </select>
                </div>
                {{ end }}
                <hr>

                <button class="btn btn-primary" type="submit" value="Save">Continue to Homeland</button>
              </form>

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->


<script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.

  window.onload = randomValue();


  function rollDie(sides)
  {
    if(!sides) sides = 5;
    with(Math) return 2 + floor(random() * sides);
  };

  function rollDice(number, sides)
  {
    var total = 0;
    while(number-- > 0) total += rollDie(sides);
    return total;
  };

  function randomValue() {
    {{ range $k, $v := $character.Homeland.StatisticFrames }}
      document.getElementById('{{ $k }}-roll').value = rollDice({{ $v.Dice }},5)+{{ $v.Modifier}}
    {{ end }}
    updateAttributes();
      };

  function updateAttributes() {
    console.log("Updating Attributes")

    pow = parseInt(document.getElementById('POW-roll').value);
    dex = parseInt(document.getElementById('DEX-roll').value);
    int = parseInt(document.getElementById('INT-roll').value);
    con = parseInt(document.getElementById('CON-roll').value);
    siz = parseInt(document.getElementById('SIZ-roll').value);
    str = parseInt(document.getElementById('STR-roll').value);
    con = parseInt(document.getElementById('CON-roll').value);
    cha = parseInt(document.getElementById('CHA-roll').value);

    var baseHP = con;
    var healingRate = 0;
    var db = siz + str;
    dbText = "";
    var smDB = pow + cha;
    var dexSR = 0;
    var sizSR = 0;
    var mp = pow;


    console.log(siz);
    console.log(pow);

    // Siz modifiers
    switch (true) {
      case (siz < 5):
        baseHP -= 2;
        break;
      case (siz < 9):
        baseHP--;
        break;
      case (siz < 13):
        break;
      case (siz < 17):
        console.log("HP+1");
        baseHP++;
        break;
      case (siz < 21):
        baseHP += 2;
        break;
      case (siz < 25):
        baseHP += 3;
        break;
      case (siz > 24):
        baseHP += ((siz - 24) / 4) + 4;
        break;
    };

    switch (true) {
      case (siz < 7):
        sizSR = 3
        break;
      case (siz < 15):
        sizSR = 2
        break;
      case (siz < 22):
        sizSR = 1
        break;
      case (siz > 21):
        sizSR = 0
        break;
	};

  // STR modifiers

  switch (true) {
	case db < 13:
		dbText = "-1D4";
    break;
	case db < 25:
		dbText = "-";
    break;
	case db < 33:
		dbText = "+1D4";
    break;
	case db < 41:
		dbText = "+1D6";
    break;
	case db < 57:
		dbText = "+2D6";
    break;
	case db > 56:
		dice = ((db - 56) / 16) + 2
		dbText = "+"+dice+"d6";
    break;
	}

    // Pow modifiers
    switch (true) {
      case (pow < 5):
        baseHP--
        break;
      case (pow < 17):
        break;
      case (pow < 21):
        console.log("HP+1");
        baseHP++
        break;
      case (pow < 25):
        baseHP += 2
        break;
      case (pow > 24):
        baseHP += ((pow - 24) / 4) + 3
        break;
    };

    console.log(con, baseHP)
    document.getElementById("HP").innerHTML = baseHP;
    document.getElementById("MP").innerHTML = mp;
    document.getElementById("DB").innerHTML = dbText;
    document.getElementById("SIZ SR").innerHTML = sizSR;
    document.getElementById("DEX SR").innerHTML = dexSR;
    document.getElementById("SM DB").innerHTML = smDB;


  }

  </script>

{{ end }} <!-- end content -->
