{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Roll Attributes</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $statOrder := .StringArray }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
            <h4>Roll Stats</h4>
            <h5>(Step 3 of 7)</h5>

            <p>Roll your Characteristics</p>

        <h3>{{ $character.Name }}</h3>
        <h3>{{ $character.Homeland.Name }}</h3>

          <img class ="card-img-top" data-src="" alt="Thumbnail"
          style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
          data-holder-rendered="true">

            <p>{{ $character.Description }}</p>
            <hr>

            <form action="" method="POST" enctype="multipart/form-data">
          <button class="btn btn-primary" type="submit" value="Save">Continue</button>
          <hr>

        </div> <!-- END outer column 3 -->


          <div class="col-sm-5 col-md-5 col-lg-5">


            <h4>Enter or choose your Statistics.</h4>
            <p>Rolling d6's and re-rolling 1's</p>
            
            
                {{ range $o := $statOrder }}
                {{ range $k, $v := $character.Homeland.StatisticFrames }}
                {{ if eq $k $o }}
                    <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="{{ $k }}-addon">{{ $k }} ({{ $v.Dice }}d6{{ if eq $v.Modifier 0 }}{{else}}{{ if gt $v.Modifier 1 }}+{{ $v.Modifier }}{{ else }}{{ $v.Modifier }}{{ end }}{{ end }})</span>
                  </div>
                  <input 
                    type="number" 
                    id="{{$k}}-roll" 
                    class="form-control" 
                    aria-describedby="{{ $k }}-addon" 
                    name="{{ $k }}"
                    onchange="updateAttributes();" 
                    value="0" 
                    required>
                </div>

                <hr>
                {{ end }}
                {{ end }}
                {{ end }}

                <input type="button" value="Re-roll" onclick="randomValue();" />
                <hr>
                <h4>Choose Rune Bonuses</h4>
                <p>Your adventurer gets Rune Modifier bonuses to the characteristics corresponding to their primary (highest) and secondary (second-highest) Elemental Rune affinities.</p> 
                {{ range $i, $r := .RuneArray }}
                  <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="RuneMod-{{ $i }}-addon">Stat {{ add $i 1 }}</span>
                        </div>
                    <select type="text" class="form-control" id="RuneMod-{{ $i }}" name="RuneMod-{{ $i }}">
                      <option>{{ $r }}</option>
                      <option>CHA</option>
                    </select>
                </div>
                {{ end }}
                <hr>

                <button class="btn btn-primary" type="submit" value="Save">Continue</button>
                <hr>
                <p>Here you'll roll or choose your character's Statistics, the core natural ability they display. Statistics effect a character's attributes and skill category bonuses.</p>
                <hr>
              </form>

          </div> <!-- END 5 Col -->

          <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Attributes</h4>
              <table class="table table-sm table-striped">
                <tr>
                  <td>HP</td>
                  <td><span id="HP" style="text-align:center" value=""></span></td>
                </tr>

                <tr>
                  <td>MP</td>
                  <td><span id="MP" style="text-align:center" value=""></span></td>
                </tr>

                <tr>
                  <td>Damage Bonus</td>
                  <td><span id="DB" style="text-align:center" value=""></span></td>
                </tr>

                <tr>
                  <td>Heal Rate</td>
                  <td><span id="Heal Rate" style="text-align:center" value=""></span></td>
                </tr>

                <tr>
                  <td>SIZ SR</td>
                  <td><span id="SIZ SR" style="text-align:center" value=""></span></td>
                </tr>

                <tr>
                  <td>DEX SR</td>
                  <td><span id="DEX SR" style="text-align:center" value=""></span></td>
                </tr>

                <tr>
                  <td>Spirit Dam</td>
                  <td><span id="SM DB" style="text-align:center" value=""></span></td>
                </tr>
            </table>
          <hr>

      <h4>Skill Modifiers</h4>
              <table class="table table-sm table-striped">
                <tr>
                  <td>Agility</td>
                  <td><span id="Agility" value="0"></span>%</td>
                </tr>

                <tr>
                  <td>Communication</td>
                  <td><span id="Communication" value="0"></span>%</td>
                </tr>

                <tr>
                  <td>Knowledge</td>
                  <td><span id="Knowledge" value="0"></span>%</td>
                </tr>

                <tr>
                  <td>Magic</td>
                  <td><span id="Magic" value="0"></span>%</td>
                </tr>

                <tr>
                  <td>Manipulation</td>
                  <td><span id="Manipulation" value="0"></span>%</td>
                </tr>

                <tr>
                  <td>Perception</td>
                  <td><span id="Perception" value="0"></span>%</td>
                </tr>

                <tr>
                  <td>Stealth</td>
                  <td><span id="Stealth" value="0"></span>%</td>
                </tr>

                <tr>
                  <td>Melee</td>
                  <td><span id="Melee" value="0"></span>%</td>
                </tr>

                <tr>
                  <td>Ranged</td>
                  <td><span id="Ranged" value="0"></span>%</td>
                </tr>

                <tr>
                  <td>Shield</td>
                  <td><span id="Shield" value="0"></span>%</td>
                </tr>
            </table>
          <hr>
          </div> <!-- End 4 column -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->


<script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.


  var skillCategories = {
    "Agility": 0,
    "Communication": 0,
    "Knowledge": 0,
    "Magic": 0,
    "Manipulation": 0,
    "Perception": 0,
    "Stealth": 0,
    "Melee": 0,
    "Ranged": 0,
    "Shield": 0,
  };

  var minorPositive = {
    4:  -5,
    8:  0,
    12: 0,
    16: 0,
    20: 5,
  }

  var majorPositive = {
	4:  -10,
	8:  -5,
	12: 0,
	16: 5,
	20: 10,
}

var minorNegative = {
	4:  5,
	8:  0,
	12: 0,
	16: 0,
	20: -5,
}

var majorNegative = {
	4:  10,
	8:  5,
	12: 0,
	16: -5,
	20: -10,
}

var manipulationMods = {
		"STR": minorPositive,
		"DEX": majorPositive,
		"INT": majorPositive,
		"POW": minorPositive,
}

// RQSkillCategories is a map of skill categories
var RQSkillCategories = {
	// Agility
	"Agility": {
			"STR": minorPositive,
			"SIZ": minorNegative,
			"DEX": majorPositive,
			"POW": minorPositive,
	},
	// Communication
	"Communication": {
			"INT": minorPositive,
			"POW": minorPositive,
			"CHA": majorPositive,
	},
	// Knowledge
	"Knowledge": {
			"INT": majorPositive,
			"POW": minorPositive,
	},
	// Magic
	"Magic": {
			"POW": majorPositive,
			"CHA": minorPositive,
	},
	// Manipulation
	"Manipulation": manipulationMods,

	// Weapons
	"Melee": manipulationMods,

	"Ranged": manipulationMods,

	"Shield": manipulationMods,

	// Perception
	"Perception": {
			"INT": majorPositive,
			"POW": minorPositive,
	},
	// Stealth
	"Stealth": {
			"SIZ": majorNegative,
			"DEX": majorPositive,
			"INT": majorPositive,
			"POW": minorNegative,
	},
}

  window.onload = randomValue();

  function rollDie(sides)
  {
    if(!sides) sides = 5;
    with(Math) return 2 + floor(random() * sides);
  };

  function rollDice(number, sides)
  {
    var total = 0;
    while(number-- > 0) total += rollDie(sides);
    return total;
  };

  function randomValue() {
    {{ range $k, $v := $character.Homeland.StatisticFrames }}
      document.getElementById('{{ $k }}-roll').value = rollDice({{ $v.Dice }},5)+{{ $v.Modifier}}
    {{ end }}
    updateAttributes();
      };

  function updateAttributes() {

    pow = parseInt(document.getElementById('POW-roll').value);
    dex = parseInt(document.getElementById('DEX-roll').value);
    int = parseInt(document.getElementById('INT-roll').value);
    con = parseInt(document.getElementById('CON-roll').value);
    siz = parseInt(document.getElementById('SIZ-roll').value);
    str = parseInt(document.getElementById('STR-roll').value);
    con = parseInt(document.getElementById('CON-roll').value);
    cha = parseInt(document.getElementById('CHA-roll').value);

    var baseHP = con;
    var healingRate = 0;
    var db = siz + str;
    dbText = "";
    var smDB = pow + cha;
    smDBText = "";
    var dexSR = 0;
    var sizSR = 0;
    var mp = pow;

    // Siz modifiers
    switch (true) {
      case (siz < 5):
        baseHP -= 2;
        break;
      case (siz < 9):
        baseHP--;
        break;
      case (siz < 13):
        break;
      case (siz < 17):
        baseHP++;
        break;
      case (siz < 21):
        baseHP += 2;
        break;
      case (siz < 25):
        baseHP += 3;
        break;
      case (siz > 24):
        baseHP += Math.round(((siz - 24) / 4) + 4);
        break;
    };

    switch (true) {
      case (siz < 7):
        sizSR = 3
        break;
      case (siz < 15):
        sizSR = 2
        break;
      case (siz < 22):
        sizSR = 1
        break;
      case (siz > 21):
        sizSR = 0
        break;
	};

  // Healing Rate 
  switch (true) {
	case con < 7:
		healingRate = 1
	case con < 13:
		healingRate = 2
	case con < 19:
		healingRate = 3
	case con > 18:
		healingRate = Math.round(((con - 18) / 6) + 3)
	}

  // Damage Bonus modifiers
  switch (true) {
	case db < 13:
		dbText = "-1D4";
    break;
	case db < 25:
		dbText = "-";
    break;
	case db < 33:
		dbText = "+1D4";
    break;
	case db < 41:
		dbText = "+1D6";
    break;
	case db < 57:
		dbText = "+2D6";
    break;
	case db > 56:
		dice = Math.round(((db - 56) / 16) + 2)
		dbText = "+"+dice+"d6";
    break;
	}

  // Dex modifiers

  switch (true) {
	case (dex < 6):
		dexSR = 5;
    break;
	case (dex < 9):
		dexSR = 4;
    break;
	case (dex < 13):
		dexSR = 3;
    break;
	case (dex < 16):
		dexSR = 2;
    break;
	case (dex < 19):
		dexSR = 1;
    break;
	case (dex > 18):
		dexSR = 0;
    break;
	}

    // Pow modifiers
    switch (true) {
      case (pow < 5):
        baseHP--
        break;
      case (pow < 17):
        break;
      case (pow < 21):
        baseHP++
        break;
      case (pow < 25):
        baseHP += 2
        break;
      case (pow > 24):
        baseHP += Math.round(((pow - 24) / 4) + 3)
        break;
    };

  // Spirit Damage
    switch (true) {
	case smDB < 13:
		smDBText = "1D3"
    break;
	case smDB < 25:
		smDBText = "1D6"
    break;
	case smDB < 33:
		smDBText = "1D6+1"
    break;
	case smDB < 41:
		smDBText = "1D6+3"
    break;
	case smDB < 57:
		smDBText = "2D6+3"
    break;
	case smDB > 56:
		dice = Math.round(((db - 56) / 16) + 2)
		val = Math.round(((db - 56) / 16) + 3)
		smDBText = dice + "D6+" + val
		break;
	}

    document.getElementById("HP").innerHTML = baseHP;
    document.getElementById("MP").innerHTML = mp;
    document.getElementById("DB").innerHTML = dbText;
    document.getElementById("SIZ SR").innerHTML = sizSR;
    document.getElementById("Heal Rate").innerHTML = healingRate;
    document.getElementById("DEX SR").innerHTML = dexSR;
    document.getElementById("SM DB").innerHTML = smDBText;

    updateSkillCategories();
  };

  function updateSkillCategories() {

    pow = parseInt(document.getElementById('POW-roll').value);
    dex = parseInt(document.getElementById('DEX-roll').value);
    int = parseInt(document.getElementById('INT-roll').value);
    con = parseInt(document.getElementById('CON-roll').value);
    siz = parseInt(document.getElementById('SIZ-roll').value);
    str = parseInt(document.getElementById('STR-roll').value);
    con = parseInt(document.getElementById('CON-roll').value);
    cha = parseInt(document.getElementById('CHA-roll').value);

    for (var sc in RQSkillCategories) {
      // for each skill category - sc = "Agility"
      console.log(sc)
      totalMod = 0

      for (var sMod in RQSkillCategories[sc]) {
        // for each stat that modifies the skill category - sMod = "POW"
        stat = parseInt(document.getElementById(sMod + '-roll').value);
        
        modifiers = RQSkillCategories[sc][sMod]

        console.log(sc, sMod, stat, totalMod)

        // Map against specific values
			switch (true) {
			case (stat <= 4):
				totalMod += modifiers[4];
        break;
			case (stat <= 8):
				totalMod += modifiers[8];
        break;
			case (stat <= 12):
				totalMod += modifiers[12];
        break;
			case (stat <= 16):
				totalMod += modifiers[16];
        console.log(modifiers[16])
        break;
			case (stat <= 20):
				totalMod += modifiers[20];
        break;
			case (stat > 20):
				if (modifiers[20] > 0) {
					totalMod += modifiers[20] + Math.round(((stat-20)/4)*5);
          break;
				} else {
					totalMod += modifiers[20] - Math.round(((stat-20)/4)*5);
          break;
				}
			};
      };
      skillCategories[sc] = totalMod
    };

    // Set Categories
    for (k in skillCategories) {
      if (skillCategories[k] > 0) {
          document.getElementById(k).innerHTML = "+" + skillCategories[k];
      } else {
          document.getElementById(k).innerHTML = skillCategories[k];
      }
    }
  };

  </script>

{{ end }} <!-- end content -->
