{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Homeland</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $homeland := $character.Homeland }}
{{ $skills := .Skills }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-3 col-md-3 col-lg-3">
            <h4>Apply Homeland template (4 of 7)</h4>

            <p>Make choices based on your homeland.</p>

        <h3>{{ $character.Name }}</h3>
        <h5>Homeland: {{ $character.Homeland.Name }}</h5>

          <img class ="card-img-top" data-src="" alt="Thumbnail"
          style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
          data-holder-rendered="true">

            <p>{{ $character.Description }}</p>
            <hr>

        </div> <!-- END outer column 3 -->


          <div class="col-sm-9 col-md-9 col-lg-9">

            <form action="" method="POST" enctype="multipart/form-data">

            <h4>Choose Skills</h4>.
            <p>You automatically receive the following skills from your homeland:</p>

            <h5>Skill Bonuses</h5>
            {{ range $i, $skill := $homeland.Skills }}
            <p>
                    {{ if eq $skill.UserString "any" }}
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="{{ $i }}-UserString-addon">{{$skill.CoreString}}</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="{{ $i }}-UserString-addon" name="{{ $i }}-UserString" value ="{{ $skill.UserString }}">
                      <div class="input-group-append">
                          <span class="input-group-text" id="{{ $i }}-UserString-addon">{{$skill.HomelandValue}}%</span>
                        </div>
                    </div>
                    {{ else }}
                    {{ $skill.CoreString }} ({{ $skill.Base }}) {{ if $skill.UserString }}({{ $skill.UserString }}){{end}}
                    {{ if $skill.HomelandValue }}+{{ $skill.HomelandValue }}%{{end}}
                    {{ end }} 
            </p>
            {{end}}

            <hr>
            {{ if $homeland.SkillChoices }}
            <p>Additionally, you can choose between the following skill choices.</p>

            {{ range $m, $schoice := $homeland.SkillChoices }}
                {{ if gt (len $schoice.Skills) 0}}
                {{ range $c, $skill := $schoice.Skills }}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox-SC-{{ $m }}-{{ $c }}" value="SC-{{ $m }}-{{ $c }}" name="SC-{{ $m }}-{{ $c }}">
                        <label class="form-check-label" for="inlineCheckbox-SC-{{ $m }}-{{ $c }}">{{ $skill.CoreString }} {{ if $skill.UserChoice }}({{$skill.UserString}}{{end}} +{{ $skill.HomelandValue }}%</label>
                    </div>
                {{ end }} <!-- END skill loop-->

              <hr>

              {{ end }} <!-- End IF loop-->
              {{ end }} <!-- END schoice Loop-->
              {{ end }} <!-- END overall show loop -->
                    
                <button class="btn btn-primary" type="submit" value="Save">Save</button>
              </form>

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
