{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Apply Character Occupation</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $occupation := $character.Occupation }}
{{ $skills := .Skills }}
{{ $wepCategory := .WeaponCategories }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Apply Occupation template</h4>
            <h5>Step (5 of 7)</h5>

            <p>Make choices based on your occupation.</p>

        <h3>{{ $character.Name }}</h3>
        <h5>Occupation: {{ $character.Occupation.Name }}</h5>

        <hr>
        {{ if $occupation.Notes }}
        <div id="Notes">
        <h4>Creation Notes</h4>
            {{ $occupation.Notes }}
        </div>
            <hr>
        {{ end }}

          <h4>Current Skills</h4>
        {{ range $skill := $character.Skills }}
        <p title="{{ $skill.Name }} ({{ $skill.Category }})
        Base: {{ $skill.Base }}%
        History: {{ $skill.CreationBonusValue }}%
        Category: {{ $skill.CategoryValue }}%
        Homeland: {{ $skill.HomelandValue }}%
        Occupation: {{ $skill.OccupationValue }}%
        Cult: {{ $skill.CultValue }}%
        {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
        {{end}}">{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}): {{ $skill.Total }}%
        </p>
        {{ end }}
            <hr>
            
            <form action="" method="POST" enctype="multipart/form-data">
            <button class="btn btn-primary" type="submit" value="Save">Continue to Cult</button>
            <hr>
            <p>If you exit character creation, you'll be able to come back and finish later.</p>
            <hr>

        </div> <!-- END outer column 3 -->


          <div class="col-sm-4 col-md-4 col-lg-4">


            <h4>Choose Skills</h4>.
            <p>You automatically receive the following skills from your occupation:</p>

                {{ range $i, $skill := $occupation.Skills }}
                    <p>
                    {{ if eq $skill.UserString "any" }}
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" style="color:blue" id="Skill-{{ $i }}-UserString-addon">{{$skill.CoreString}}</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="Skill-{{ $i }}-UserString-addon" name="Skill-{{ $i }}-UserString" placeholder="Enter Specialization" value ="" required>
                      <div class="input-group-append">
                          <span class="input-group-text" id="Skill-{{ $i }}-UserString-addon">{{$skill.OccupationValue}}%</span>
                        </div>
                    </div>
                    {{ else }}
                    {{ $skill.CoreString }} {{ if $skill.UserString }}({{ $skill.UserString }}){{end}} +{{ $skill.OccupationValue }}%
                    {{ end }} 
            </p>
            {{ end }}<!-- END range $occupations skills --></p>

            <hr>
            {{ if $occupation.SkillChoices }}
            <p>Additionally, you can choose between the following skill choices.</p>

            {{ range $m, $schoice := $occupation.SkillChoices }}
                {{ if gt (len $schoice.Skills) 0}}
                {{ range $c, $skill := $schoice.Skills }}
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox-SC-{{ $m }}-{{ $c }}" value="SC-{{ $m }}-{{ $c }}" name="SC-{{ $m }}-{{ $c }}">
                        <label class="form-check-label" for="inlineCheckbox-SC-{{ $m }}-{{ $c }}">{{ $skill.CoreString }} {{ if $skill.UserChoice }}({{$skill.UserString}}){{end}} +{{ $skill.OccupationValue }}%</label>
                    </div>
                {{ end }} <!-- END skill loop-->

              <hr>

              {{ end }} <!-- End IF loop-->
              {{ end }} <!-- END schoice Loop-->
              {{ end }} <!-- END overall show loop -->
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">

                <h4>Choose Passion Bonus</h4>
                <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-addon">Passion</span>
                </div>
                  <select type="text" class="form-control" id="Passion" name="Passion">
                {{ range $m, $p := $occupation.PassionList }}
                    {{ if eq $p.UserString "" }}
                    <option value="{{ $m }}">{{ $p.CoreString }}</option>
                    {{ else }}
                    <option value="{{ $m }}">{{ $p.CoreString }} ({{ $p.UserString }})</option>
                    {{ end }}<!-- END if loop -->
                {{ end }}<!-- END range $passionlist -->
                  </select>
              </div>

              <hr>

                {{ if $occupation.Weapons }}
                <h4>Choose Weapon Skills</h4>

                {{ range $m, $w := $occupation.Weapons }}
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Weapon-{{$m}}-CoreString-addon">{{ $w.Description }}</span>
                </div>
                  <select type="text" class="form-control" id="Weapon-{{$m}}-CoreString" name="Weapon-{{$m}}-CoreString" required>
                    <option></option>
                    {{ range $s := $skills }}
                        {{ if or (eq $w.Description "Any") (eq $w.Description "Cultural") }}
                            {{ if isInString $wepCategory $s.Category}}
                                <option value="{{ $s.CoreString }}">{{ $s.CoreString }} +{{ $w.Value }}%</option>
                            {{ end }} <!-- END isInString -->
                        {{ else }}
                        {{ if eq $s.Category $w.Description }}
                    <option value="{{ $s.CoreString }}">{{ $s.CoreString }} +{{ $w.Value }}%</option>
                        {{ end }} <!-- END eq s.Category -->
                      {{ end }} <!-- END if or -->
                      {{ end }} <!-- END range $skills -->
                  </select>
              </div>

                <hr>
                {{ end }} <!-- end range $occupation.Weapons -->
                {{ end }} <!-- END show weapons -->


                <hr>

                <h4>Equipment</h4>
                {{ range $e := $occupation.Equipment }}
                    <p>{{ $e }}</p>
                {{ end }}

            <hr>

                <button class="btn btn-primary" type="submit" value="Save">Continue to Cult</button>
              </form>
            </div>
                    

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
