{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Personal Skills</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $counter := .Counter }}
{{ $bigcounter := .BigCounter }}
{{ $skills := .Skills }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Personal Skills</h4>
            <h5>(Step 7 of 7)</h5>
            <p>Choose your character's Personal Skills</p>

            <h4>{{ $character.Occupation.Name }} of {{ $character.Homeland.Name }}, {{ $character.Cult.Rank }} of {{ $character.Cult.Name }}</h4>
        <hr>

            <form action="" method="POST" enctype="multipart/form-data">
        <h4>Clan & Tribe</h4>
        <p>Enter your character's home Clan and Tribe/City.</p>

            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Clan-addon">Clan</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Clan-addon" name="Clan" value="">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Tribe-addon">Tribe/City</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Tribe-addon" name="Tribe" value="">
            </div>

        <hr>
        <h4>Share your content</h4>
          <p>By adding your character to the open roster, others can see your work and copy it for inclusion in their own games. If you de-select this option, you will be the only one able to see your characters.</p>
          <p>Future updates will allow liking and ranking of high-quality content.</p>
          <strong>Add to Open Roster?</strong> <input type="checkbox" name="Open" value="true" id="checkbox" checked>

          <hr>
          <h4>Current Skills</h4>
        {{ range $skill := $character.Skills }}
        <p title="{{ $skill.Name }} ({{ $skill.Category }})
        Base: {{ $skill.Base }}%
        History: {{ $skill.CreationBonusValue }}%
        Category: {{ $skill.CategoryValue }}%
        Homeland: {{ $skill.HomelandValue }}%
        Occupation: {{ $skill.OccupationValue }}%
        Cult: {{ $skill.CultValue }}%
        {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
        {{end}}">{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}): {{ $skill.Total }}%
        </p>
        {{ end }}

      <hr>

            <hr>
            <button class="btn btn-primary" type="submit" value="Save">Continue to Finishing Touches</button>
          <hr>

        </div> <!-- END outer column 3 -->


          <div class="col-sm-4 col-md-4 col-lg-4">


            <h4>Instructions</h4>
            <p>Choose 4 skills to add +25%</p>

            <h4>Add +25% to Skills</h4>
            {{ range $m := $counter }}
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-25-{{$m}}-addon">Skill {{$m}}</span>
                </div>
                  <select type="text" class="form-control" id="Skill-25-{{$m}}" name="Skill-25-{{$m}}" required>
                    <option></option>
                    {{ range $s := $character.Skills }}
                        <option value="{{ $s.Name }}">{{ $s }}</option>
                      {{ end }} <!-- END range $skills -->
                      <option>--------------</option>
                      {{ range $s := $skills }}
                        <option value="{{ $s.CoreString }}">{{ $s.CoreString }}</option>
                      {{ end }}  <!-- END range all skills -->
                  </select>
              </div>
              <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="Skill-25-{{$m}}-UserString-addon">Specialization (if req'd)</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="Skill-25-{{$m}}-UserString-addon" name="Skill-25-{{$m}}-UserString" value ="">
                    </div>
                <hr>
                {{ end }} <!-- end range counter -->

            <hr>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">


            <h4>Add +10% to Skills</h4>
            <p>Choose 5 skills to add +10% to.</p>
            {{ range $m := $bigcounter }}
                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-10-{{$m}}-addon">Skill {{ $m }}</span>
                </div>
                  <select type="text" class="form-control" id="Skill-10-{{$m}}" name="Skill-10-{{$m}}" required>
                    <option></option>
                    {{ range $s := $character.Skills }}
                        <option value="{{ $s.Name }}">{{ $s }}</option>
                      {{ end }} <!-- END range $skills -->
                      <option>--------------</option>
                      {{ range $s := $skills }}
                        <option value="{{ $s.CoreString }}">{{ $s.CoreString }}</option>
                      {{ end }}  <!-- END range all skills -->
                  </select>
              </div>
              <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="Skill-10-{{$m}}-UserString-addon">Specialization (if req'd)</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="Skill-10-{{$m}}-UserString-addon" name="Skill-10-{{$m}}-UserString" value ="">
                    </div>
                <hr>
                {{ end }} <!-- end range $occupation.Skills -->



                <button class="btn btn-primary" type="submit" value="Save">Continue to Finishing Touches</button>
              </form>

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
