{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Create Character: Personal Skills</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $counter := .Counter }}
{{ $bigcounter := .BigCounter }}
{{ $skills := .Skills }}
{{ $baseweapons := .BaseWeapons }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Finishing Touches</h4>
            <h5>(Step 8 of 8)</h5>
            <p>Choose your character's Attacks & Armor</p>

            <h4>{{ $character.Occupation.Name }} of {{ $character.Homeland.Name }}, {{ $character.Cult.Rank }} of {{ $character.Cult.Name }}</h4>
        <hr>

            <form action="" method="POST" enctype="multipart/form-data">
        
          <h4>Combat Skills</h4>
        {{ range $skill := $character.Skills }}
            {{ if or (eq $skill.Category "Melee") (eq $skill.Category "Ranged") }}
        <p title="{{ $skill.Name }} ({{ $skill.Category }})
        Base: {{ $skill.Base }}%
        History: {{ $skill.CreationBonusValue }}%
        Category: {{ $skill.CategoryValue }}%
        Homeland: {{ $skill.HomelandValue }}%
        Occupation: {{ $skill.OccupationValue }}%
        Cult: {{ $skill.CultValue }}%
        {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
        {{end}}">{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}): {{ $skill.Total }}%
        </p>
        {{ end }} <!-- END if -->
        {{ end }}

      <hr>

      <h4>Current Equipment</h4>
      {{ range $e := $character.Equipment }}
        {{ $e }}, 
        {{ end }}

            <hr>
            <button class="btn btn-primary" type="submit" value="Save">Complete Character</button>
          <hr>

        </div> <!-- END outer column 3 -->


          <div class="col-sm-4 col-md-4 col-lg-4">


            <h4>Instructions</h4>
            <p>Choose your characters weapons and attacks. Start with a weapon skill and then select the appropriate weapon.</p>

            <h4>Attacks</h4>

            {{ range $m := $bigcounter }}
            <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{$m}}-addon">Skill</span>
                </div>
                  <select type="text" class="form-control" id="Skill-{{$m}}" name="Skill-{{$m}}">
                    <option></option>
                    {{ range $s := $character.Skills }}
                        {{ if or (eq $s.Category "Melee") (eq $s.Category "Ranged") (eq $s.Category "Shield")}}
                        <option value="{{ $s.Name }}">{{ $s }}</option>
                        {{ end }}
                      {{ end }} <!-- END range $skills -->                      
                  </select>
              </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Weapon-{{$m}}-addon">Weapon</span>
                </div>
                  <select type="text" class="form-control" id="Weapon-{{$m}}" name="Weapon-{{$m}}">
                    <option></option>
                    {{ range $i, $w := $baseweapons }}
                        <option value="{{ $i }}">{{ $w.Name }}: {{ $w.Damage }}</option>
                      {{ end }} <!-- END range $skills -->
                  </select>
              </div>
              
                <hr>
                {{ end }} <!-- end range counter -->

            <hr>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">


            <h4>Armor</h4>
            <p>Set the armor rating for each of your hit locations.</p>
        {{ range $s := $character.HitLocationMap }}
        {{ range $k, $v := $character.HitLocations }}
        {{ if eq $s $k }}
          <p>{{ $v.HitLoc }} <strong>{{ $v.Name }}</strong></p>

          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="{{ $k }}-Armor-addon">Armor</span>
              </div>
              <input type="number" class="form-control" aria-describedby="{{ $k }}-Armor-addon" name="{{ $k }}-Armor" value ="{{ $v.Armor }}">
              <div class="input-group-append">
                  <span class="input-group-text" id="{{ $k }}-Armor-addon">pts</span>
                </div>
            </div>  
         
          <hr>
        {{ end }} <!-- END if -->
        {{ end }}
        {{ end }} <!-- END map -->

                <button class="btn btn-primary" type="submit" value="Save">Complete Character</button>
              </form>

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
