{{ define "title"}}

{{ $character := .CharacterModel.Character }}
{{ $hyperskill := .Skill.HyperSkill }}

<title>Delete HyperSkill {{ $hyperskill.Name }} {{ $character.Name }}</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $hyperskill := .Skill.HyperSkill }}

      <div class="container">
        <hr>
        <div class="row">
          <h1>DELETE HYPER-SKILL</h1>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h3>{{$hyperskill}}</h3>
            {{ range $quality := $hyperskill.Qualities }}
              <p>{{ $quality }}</p>
              {{ end }}
              <i>Effect: {{ $hyperskill.Effect }}</i>
            <hr>
            <form action="" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
              <a href="/view_character/{{ $character.ID }}" class="btn btn-primary">Return to Character</a>
            </form>
          </div>
      <div class="col-sm-6 col-md-6 col-lg-6">
        <h4>{{ $character }}
      </div>
    </div>
      </div>

{{end}}
