{{ define "title"}}

<title>Delete {{ .Encounter.Name }}</title>

{{ end }}

{{define "content"}}

{{ $encounter := .Encounter }}

      <div class="container">
        <h1>DELETE {{ $encounter.Name }}</h1>
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
            
            <h4>Description</h4>
              <p>{{ $encounter.Description }}</p>
              <hr>
            <h4>Factions</h4>
            {{ range $s := $encounter.Factions }}
                <p>{{ $s.Name }}</p>
            {{ end }}
            <form action="" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            <a href="/view_encounter/{{ $encounter.Slug }}" class="btn btn-primary">Return to Encounter</a>
          </div>
    </div>
      </div>
{{end}}
