{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Delete {{ $character.Name }}</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $statistics := $character.Statistics }}
{{ $skills := $character.Skills }}

      <div class="container">
        <h1>DELETE {{ $character.Name }}</h1>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <h3>{{ $character.Name }}</h3>
            <img class ="card-img-top" data-src="" alt="Thumbnail"
            style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
            data-holder-rendered="true">
            <hr>
            {{ $character.Description }}
            <form action="" method="POST">
              <input class="btn btn-danger" type="submit" value="Delete">
            </form>
            <a href="/view_character/{{ .CharacterModel.ID }}" class="btn btn-primary">Return to Character</a>
          </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Skills</h3>
        {{ range $stat := $character.Statistics }}
        <h4>{{ $stat }}</h4>
      {{ end }}
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Hit Locations</h3>
          
      </div>
    </div>
      </div>
{{end}}
