{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>Edit Magic</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $counter := .Counter }}
{{ $passions := .Passions }}
{{ $skills := .Skills }}
{{ $spiritmagic := .SpiritMagic }}
{{ $runespells := .RuneSpells }}
{{ $cults := .CultModels }}
{{ $pow := index $character.Statistics "POW" }}

<div class="container">
    <hr>
    <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Edit Magic</h4>

            <p>Add or alter magic for {{ $character.Name }}</p>

            <h5>{{ $character.Name }}</h5>
            <h5>{{ $character.Homeland.Name }}</h5>

            <img class="card-img-top" data-src="" alt="Thumbnail" style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
                data-holder-rendered="true">

            <hr>

            <form action="" method="POST" enctype="multipart/form-data">

            <h5>Update Power</h5>
            <p>Modify your character's Power here. This will NOT be automatically modified when you add Rune Points, but must be altered manually.</p>

            <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text" id="Power-addon">Power</div>
        </div>
        <input type="number" class="form-control" aria-describedby="Power-addon" name="Power" value="{{ $pow.Total }}">
      </div>
      <hr>

                <h4>Event</h4>
        <p>Enter the description of the event that caused the updates.</p>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="event-addon">Event</span>
          </div>
          <input type="text" class="form-control" aria-describedby="event-addon" name="Event" value="Manual Update">
        </div>

            <button class="btn btn-primary" type="submit" value="Save">Save</button>


        </div> <!-- END outer column 3 -->

        <div class="col-sm-4 col-md-4 col-lg-4">

        <h4>Rune Spells</h4>

            {{ range $k, $v := $character.RuneSpells }}

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="RuneSpell-{{ $k }}-addon">Rune Spell</span>
                </div>
                  <select type="text" class="form-control" id="RuneSpell-{{ $k }}" name="RuneSpell-{{ $k }}">
                    {{ if eq $v.CoreString "" }}
                        <option></option>
                    {{else }}
                        <option value={{ $v.CoreString }}>{{ $v.CoreString }} ({{ $v.Cost}})pts</option>
                    {{ end }}
                    <option></option>
                {{ range $m, $rs := $runespells }}
                    <option value="{{ $rs.CoreString }}">{{ $rs.CoreString }} ({{ $rs.Cost }}pts)</option>
                {{ end }}
                  </select>
              </div>
            
            
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="RuneSpell-{{$k}}-UserString-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="RuneSpell-{{$k}}-UserString-addon" name="RuneSpell-{{$k}}-UserString" value ="{{ $v.UserString }}">
              </div>

              <hr>
              {{ end }}

              <h4>Spirit Magic Spells</h4>

            {{ range $k, $v := $character.SpiritMagic }}

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="SpiritMagic-{{ $k }}-addon">Spirit Magic</span>
                </div>
                  <select type="text" class="form-control" id="SpiritMagic-{{ $k }}" name="SpiritMagic-{{ $k }}">
                        {{ if eq $v.CoreString "" }}
                        <option></option>
                    {{else }}
                    <option value={{ $v.CoreString }}>{{ $v.CoreString }} ({{ $v.Cost}})pts</option>
                    {{ end }}
                    <option></option>
                {{ range $m, $sm := $spiritmagic }}
                    <option value="{{ $sm.CoreString }}">{{ $sm.CoreString }} ({{ $sm.Cost }}pts)</option>
                {{ end }}
                  </select>
              </div>
            
              <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="SpiritMagic-{{$k}}-Cost-addon">Level</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="SpiritMagic-{{$k}}-Cost-addon" name="SpiritMagic-{{$k}}-Cost" value ="{{ $v.Cost }}">
                  <div class="input-group-append">
                        <span class="input-group-text" id="SpiritMagic-{{$k}}-Cost-addon">pts</span>
                      </div>
                </div>
            
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="SpiritMagic-{{$k}}-UserString-addon">Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="SpiritMagic-{{$k}}-UserString-addon" name="SpiritMagic-{{$k}}-UserString" value ="{{ $v.UserString }}">
              </div>

              <hr>
              {{ end }}

            <hr>

        </div>

        <div class="col-sm-4 col-md-4 col-lg-4">

            <h5>Primary Cult: {{ $character.Cult.Name }}</h5>
        
            <form action="" method="POST" enctype="multipart/form-data">

                <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="Rank">Cult Rank</span>
                </div>
                <select type="text" class="form-control" id="Rank" name="Rank">
                  <option>{{ $character.Cult.Rank }}</option>
                  <option></option>
                  <option>Initiate</option>
                  <option>Rune Priest</option>
                  <option>God Talker</option>
                  <option>Rune Lord</option>
                  
                </select>
                </div>
        
                <br>
        
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="rp-addon">Rune Points</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="rp-addon" name="RunePoints" value="{{ $character.Cult.NumRunePoints }}">
                </div>
        
                <hr>

                <h5>Secondary Cults</h5>

                {{ range $i, $c := $character.ExtraCults }}

                <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" for="Cult-{{ add $i 1 }}">Cult</span>
                        </div>
                        <select type="text" class="form-control" id="Cult-{{ add $i 1 }}" name="Cult-{{ add $i 1 }}">
                          
                        {{ if eq $c.Name "" }}
                                <option></option>
                        {{else }}
                                <option>{{ $c.Name }}</option>
                        {{ end }}
                            <option></option>
                          {{ range $k, $v := $cults }}
                              <option>{{ $v.Cult.Name }}</option>
                          {{ end }}
                        </select>
                </div>
                

                <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" for="Rank-{{ add $i 1 }}">Cult Rank</span>
                        </div>
                        <select type="text" class="form-control" id="Rank-{{ add $i 1 }}" name="Rank-{{ add $i 1 }}">
                        
                        {{ if eq $c.Rank "" }}
                                <option></option>
                        {{else }}
                                <option>{{ $c.Rank }}</option>
                        {{ end }}
                          <option></option>
                          <option>Initiate</option>
                          <option>Rune Priest</option>
                          <option>God Talker</option>
                          <option>Rune Lord</option>
                          
                        </select>
                </div>
                                
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="rp-addon">Rune Points</span>
                          </div>
                          <input type="number" class="form-control" aria-describedby="rp-addon" name="RunePoints-{{ add $i 1 }}" value="{{ $c.RunePoints }}">
                        </div>

                <br>
                {{ end }} <!-- END counter -->

                <hr>

                <h5>Powers & Abilities </h5>

      {{ range $m := $counter }}
      <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text" id="Power-{{$m}}-Name-addon">Name</span>
          </div>
          <input type="text" class="form-control" aria-describedby="Power-{{$m}}-Name-addon" name="Power-{{$m}}-Name" value="">
      </div>

      <label class="input-group-text" for="Power-{{$m}}-Description">Description</label>
      <textarea class="form-control" aria-describedby="description-addon" name="Power-{{$m}}-Description" rows="4" placeholder="Enter description"></textarea>
      <br>
      {{ end }}

            <button class="btn btn-primary" type="submit" value="Save">Save</button>
        </form>

        </div> <!-- END 9 Col -->

    </div> <!-- END outer ROW -->
</div> <!-- END container -->

{{ end }}
<!-- end content -->