{{ define "title"}}

<title>Factions</title>

{{ end }}

{{define "content"}}

{{ $factions := .Factions }}
{{ $IsAuthor := .IsAuthor }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            
                <h4>Factions  {{ if ne .SessionUser "" }}<a class="btn btn-sm btn-primary" href="/add_faction/">Add Faction</a>{{ end }}</h4>
                
              
                <table class="table table-striped">
                    <thead>
                        <td><strong>Name</strong></td>
                        <td><strong>Description</strong></td>
                        <td><strong>Members</strong></td>
                        <td><strong>Link</strong></td>
                    </thead>
                    {{ range $f := $factions }}
                  <tr>
                      <td>{{ $f.Name }}</td>
                      <td>{{ sliceString $f.Description 144}}</td>
                      <td>{{ len $f.CharacterModelSlugs }}</td>
                      <td><a href="/view_faction/{{ $f.Slug }}">Link</a></td>
                  </tr>
                  {{ end }}
              </table>
              

              

              </div> <!-- End Character Column -->

            </form>
          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
