{{define "base"}}

{{ $user := .SessionUser }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Runequest in Glorantha RPG Character Creator">
    <meta name="author" content="ToferC">
    <meta property="og:title" content="Cradle of Heroes" />
    <link rel="icon" href="https://runequeset.s3.amazonaws.com/media/oubourous.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  {{template "title" .}}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type='text/javascript' src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      {{ if ne $user ""}}
        <a class="navbar-brand" href="/">The Cradle</a>
      {{ else }}
        <a class="navbar-brand" href="/user_roster/">The Cradle of Heroes</a>
      {{ end }}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {{ if ne $user "" }}
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            My Content</a>
            <div class="dropdown-menu" aria-labelledby="userNavbarDropdown">
               <a class="dropdown-item" href="/user_roster/">Characters</span></a>
               <a class="dropdown-item" href="/user_faction_index/">Factions</span></a>
               <a class="dropdown-item" href="/user_encounter_index/">Encounters</span></a>
            </div>
          </li>
      {{ end }}

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="userNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Open Content</a>
            <div class="dropdown-menu" aria-labelledby="userNavbarDropdown">
               <a class="dropdown-item" href="/">Characters</span></a>
               <a class="dropdown-item" href="/faction_index/">Factions</span></a>
               <a class="dropdown-item" href="/encounter_index/">Encounters</span></a>
            </div>
          </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Backgrounds</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="/homeland_index/">Homelands</a>
                  <a class="dropdown-item" href="/occupation_index/">Occupations</a>
                  <a class="dropdown-item" href="/cult_index/">Cults</a>
            </div>
          </li>
      <li>

      <li>
        <a class="nav-link active" href="/cc1_choose_homeland/">Create Character<span class="sr-only"></a>
      </li>
            
      {{ if ne $user ""}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Add Content
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/add_homeland/">Add Homeland</a></li>
          <li><a class="dropdown-item" href="/add_occupation/">Add Occupation</a></li>
          <li><a class="dropdown-item" href="/add_cult/">Add Cult</a></li>
          <li class="dropdown-item">-------</li>
          <li><a class="dropdown-item" href="/add_creature/">Add Creature or NPC</a></li>
          <li><a class="dropdown-item" href="/add_faction/">Add Faction</a></li>
          <li><a class="dropdown-item" href="/add_encounter/">Add Encounter</a></li>
        </ul>
      </li>
      {{ end }}
      {{ if eq .IsAdmin "true" }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user_index/" role="button">User Index</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/beta_roster/">Legacy Roster</a>
          <a class="dropdown-item" href="/beta_index_powers/">Legacy Powers</a>
        </div>
      </li>
      {{ end }}
      <li class="nav-item">
        <a class="nav-link" href="/about/">About<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ if ne $user ""}}
            User: {{$user}}
          {{ else }}
            Login
          {{ end }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{ if ne $user ""}}
          <a class="dropdown-item" href="/logout/" role="button">Log Out</a>
          {{ else }}
          <a class="dropdown-item" href="/login/" role="button">Login</a>
          <a class="dropdown-item" href="/signup/" role="button">Register</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/google/login" role="button">Login with Google</a>

          {{ end }}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Under Construction" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <div class="container">

{{ if eq $user ""}}
      <hr>
      <h4>Welcome to the Cradle of Heroes</h4>
      <p>Runequest is a roleplaying
game created by <a href="https://www.chaosium.com/runequest-glorantha/">Chaosium</a>. This app
allows players and game-masters to easily create and manage characters, creatures, races, homelands, occupations and cults in the game.</p>
<p>Get started by <a href="/signup/">registering an account</a>, and signing in.</p>

<p>Afer this, you can start creating a character, homeland, occupation or cult. When you
create and save "building" content, like homelands, occupations and cults, they will be available for any elses use as well.</p>

<p>The short video below gives an overview of the app. More detailed videos are available on the <a href="https://www.youtube.com/playlist?list=PL0xmTkOvLDzJAcCIYbVYciVSZDKwvH09P">YouTube channel</a>.</p>

<hr>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Lbf7bqYl9tM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
{{ end }}

      {{template "content" .}}

    </div><!-- /.container -->

<script>
{{ if .Flashes }}
  {{ range $f := .Flashes}}
  window.alert("{{ $f }}");
{{ end }}
{{ end }}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}

{{ if .Notes }}
window.onload = async function() {
  var notes = document.getElementById('Notes')
    notes.style.color = "white";
    notes.style.background = "grey";
    await sleep(1000)
    notes.style.color = "black";
    notes.style.background = "white";
  };
  {{ end }}

</script>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Latest compiled and minified CSS -->

  
  </body>
</html>
{{end}}
