{{define "base"}}

{{ $user := .SessionUser }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146442353-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146442353-1');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Runequest in Glorantha RPG Character Creator">
    <meta name="author" content="ToferC">
    <meta property="og:title" content="Cradle of Heroes" />
    <link rel="icon" href="https://runequeset.s3.amazonaws.com/media/oubourous.ico">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  {{template "title" .}}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script type='text/javascript' src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.bundle.min.js"></script>


  <style>
    @media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
      }
    }

    h3 {
      text-align: center;
    }

    table, td,
    table, th {
      text-align:left;
    }

    table, td + td,
    table, th + th {
      text-align:center;
    }

    body {
      background-color: rgb(96, 96, 109);
    }

    .container {
      background-color: rgb(221, 193, 169);
    }

    .nav-tabs {
      background-color: rgb(196, 161, 136);
    }

  </style>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      {{ if ne $user ""}}
      <a class="navbar-brand" href="/user_roster/">The Cradle of Heroes</a>
      {{ else }}
      <a class="navbar-brand" href="/">The Cradle of Heroes</a>
      {{ end }}
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Open Content</a>
          <div class="dropdown-menu" aria-labelledby="userNavbarDropdown">
            <a class="dropdown-item" href="/">Heroes</span></a>
            
            <a class="dropdown-item" href="/crafted_roster/">Crafted Heroes</span></a>
            <a class="dropdown-item" href="/random_roster/">Random Heroes</span></a>
            
            <a class="dropdown-item" href="/faction_index/">Factions</span></a>
            <a class="dropdown-item" href="/encounter_index/">Encounters</span></a>
          </div>
        </li>

        {{ if ne $user "" }}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Content</a>
              <div class="dropdown-menu" aria-labelledby="userNavbarDropdown">
                 <a class="dropdown-item" href="/user_roster/">Characters</span></a>
                 <a class="dropdown-item" href="/user_faction_index/">Factions</span></a>
                 <a class="dropdown-item" href="/user_encounter_index/">Encounters</span></a>
              </div>
            </li>
        {{ end }}

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Backgrounds</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                <a class="dropdown-item" href="/homeland_index/">Homelands</a>
                  <a class="dropdown-item" href="/occupation_index/">Occupations</a>
                  <a class="dropdown-item" href="/cult_index/">Cults</a>
            </div>
          </li>
      <li>
            
      {{ if ne $user ""}}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Create
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="/cc1_choose_homeland/">Hero</a></li>
          <li><a class="dropdown-item" href="/add_creature/">Creature or NPC</a></li>
          <li><a class="dropdown-item" href="/random_character/">Random Hero</a></li>
          <li><a class="dropdown-item" href="/random_faction/">Random Hero Band</a></li>
          <li><a class="dropdown-item" href="/add_faction/">Faction</a></li>
          <li><a class="dropdown-item" href="/add_encounter/">Encounter</a></li>
          <li class="dropdown-item">-------</li>
          <li><a class="dropdown-item" href="/add_homeland/">Homeland</a></li>
          <li><a class="dropdown-item" href="/add_occupation/">Occupation</a></li>
          <li><a class="dropdown-item" href="/add_cult/">Cult</a></li>
        </ul>
      </li>
      {{ end }}
      {{ if eq .IsAdmin "true" }}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/admin_view_users/" role="button">User Index</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/beta_roster/">Legacy Roster</a>
          <a class="dropdown-item" href="/beta_index_powers/">Legacy Powers</a>
        </div>
      </li>
      {{ end }}
      <li class="nav-item">
        <a class="nav-link" href="/about/">About<span class="sr-only"></span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ if ne $user ""}}
            User: {{$user}}
          {{ else }}
            Login
          {{ end }}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          {{ if ne $user ""}}
          <a class="dropdown-item" href="/logout/" role="button">Log Out</a>
          {{ else }}
          <a class="dropdown-item" href="/login/" role="button">Login</a>
          <a class="dropdown-item" href="/signup/" role="button">Register</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/google/login" role="button">Login with Google</a>

          {{ end }}
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Under Construction" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

    <div class="container">

      {{template "content" .}}

    </div><!-- /.container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Latest compiled and minified CSS -->

  
  </body>
</html>
{{end}}
