{{ define "title"}}

<title>Login</title>

<script src="https://www.google.com/recaptcha/api.js?render=6LdnW68UAAAAAMFCwBvzPFy3ADZQg75BzxQiJ32t"></script>
  <script>
  grecaptcha.ready(function() {
      grecaptcha.execute('reCAPTCHA_site_key', {action: 'homepage'}).then(function(token) {
         ...
      });
  });
  </script>

{{ end }}

{{define "content"}}

<div class="container">
  <h1>Login</h1><br>
  <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
<form method="POST" action="">
  <br>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" for="usernname">User name</span>
      </div>
      <input type="text" id="username" name="username">
    </div>

    <div class="input-group">
        <div class="input-group-prepend">
    <span class="input-group-text" for="password">Password</span>
    </div>
    <input type="password" id="password" name="password">
    </div>
    <br><br>
    <button class="btn btn-primary" type="submit">Login</button> 
    <a class="btn btn-danger" href="/google/login">Login with Google</a>
</form>
</div>
</div>
</div>

{{ end }}
