{{ define "title"}}

<title>Modify Character</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character}}
{{ $ID := .CharacterModel.ID }}
{{ $statistics := $character.Statistics }}
{{ $skills := $character.Skills }}
{{ $counter := .Counter }}

<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <form action="" method="POST" enctype="multipart/form-data">

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="name-addon">Name</span>
          </div>
          <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value="{{ $character.Name }}">
        </div>
        <hr>
            <label class="input-group-text" for="Description">Description</label>
          <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="10" value="{{ $character.Description }}">{{ $character.Description }}</textarea>

        <hr>

        <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" for="Rank">Cult Rank</span>
        </div>
        <select type="text" class="form-control" id="Rank" name="Rank">
          
          <option>Initiate</option>
          <option>Rune Priest</option>
          <option>God Talker</option>
          <option>Rune Lord</option>
          
        </select>
        </div>

        <br>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="rp-addon">Rune Points</span>
          </div>
          <input type="number" class="form-control" aria-describedby="rp-addon" name="RunePoints" value="{{ $character.Cult.NumRunePoints }}">
        </div>

        <hr>

        <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Clan-addon">Clan</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Clan-addon" name="Clan" value="{{ $character.Clan }}">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="Tribe-addon">Tribe/City</span>
                </div>
                <input type="text" class="form-control" aria-describedby="Tribe-addon" name="Tribe" value="{{ $character.Tribe }}">
            </div>

        <hr>



        <p>Image</p>
        <img class="card-img-top" data-src="" alt="Thumbnail" style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
          data-holder-rendered="true">
        <br>
        <div class="input-group">
          <div class="custom-file">
            <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
            <label class="custom-file-label" for="inputGroupFile">Update Image</label>
          </div>
        </div>
        <hr>

        <strong>Add to Open Roster?</strong> <input type="checkbox" name="Archive" value="true" id="checkbox"
          {{if .CharacterModel.Open }} checked{{ end }}>

        <hr>

        <h4>Event</h4>
        <p>Enter the description of the event that caused the updates.</p>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="event-addon">Event</span>
          </div>
          <input type="text" class="form-control" aria-describedby="event-addon" name="Event" value="Manual Update">
        </div>

        <hr>
        <a class="btn btn-primary" href="/add_character_content/{{ $ID }}">Add Traits</a>
        <button class="btn btn-primary" type="submit" value="Save">Save</button>

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <h4>Stats</h4>
      {{ range $k, $stat := $statistics }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span {{ if $stat.ExperienceCheck }}style="color:blue"{{ end }}class="input-group-text" id="{{ $k }}-addon">{{ $k }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $k }}-addon" name="{{ $k }}" value="{{ $stat.Total }}">
      </div>
      {{ end }}

      <hr>

      <h4>Elemental Runes</h4>
      {{ range $k, $v := $character.ElementalRunes }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span {{ if $v.ExperienceCheck }}style="color:blue"{{ end }}class="input-group-text" id="{{ $k }}-addon">{{ $k }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $k }}-addon" name="{{ $k }}" value="{{ $v.Total }}">
      </div>
      {{ end }}

      <hr>

      <h4>Power/Form Runes</h4>
      {{ range $k, $v := $character.PowerRunes }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span {{ if $v.ExperienceCheck }}style="color:blue"{{ end }}class="input-group-text" id="{{ $k }}-addon">{{ $k }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $k }}-addon" name="{{ $k }}" value="{{ $v.Total }}">
      </div>
      {{ end }}

      <hr>

      <h4>Condition Runes</h4>
      {{ range $k, $v := $character.ConditionRunes }}

      <div class="input-group">
        <div class="input-group-prepend">
          <span {{ if $v.ExperienceCheck }}style="color:blue"{{ end }}class="input-group-text" id="{{ $k }}-addon">{{ $k }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $k }}-addon" name="{{ $k }}" value="{{ $v.Total }}">
      </div>
      {{ end }}

      <hr>

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <h4>Skills</h4>

      {{ range $skill := $skills }}
      <div class="input-group">
        <div class="input-group-prepend">
          <span {{ if $skill.ExperienceCheck }}style="color:blue"{{ end }}class="input-group-text" id="{{ $skill.Name }}-addon">{{ $skill.Name }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $skill.Name }}-addon" name="{{ $skill.Name }}"
          value="{{ $skill.Total }}">
      </div>
      {{ if $skill.UserString }}
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{ $skill.Name }}-UserString-addon">--Specialization</span>
        </div>
        <input type="text" class="form-control" aria-describedby="{{ $skill.Name }}-UserString-addon" name="{{ $skill.Name }}-UserString"
          value="{{ $skill.UserString }}">
      </div>
      {{ end }}
      {{end}}
      <hr>

    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <h4>Passions & Social</h4>

      {{ range $ability := $character.Abilities }}
      <div class="input-group">
        <div class="input-group-prepend">
          <span {{ if $ability.ExperienceCheck }}style="color:blue"{{ end }}class="input-group-text" id="{{ $ability.Name }}-addon">{{ $ability.CoreString }}</span>
        </div>
        <input type="number" class="form-control" aria-describedby="{{ $ability.Name }}-addon" name="{{ $ability.Name }}"
          value="{{ $ability.Total }}">
      </div>
      {{ if $ability.UserString }}
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="{{ $ability.Name }}-UserString-addon">--Specialization</span>
        </div>
        <input type="text" class="form-control" aria-describedby="{{ $ability.Name }}-UserString-addon" name="{{ $ability.Name }}-UserString"
          value="{{ $ability.UserString }}">
      </div>
      {{ end }}
      {{end}}
      
      <br>

      <h4>Hit Locations</h4>
        {{ range $s := $character.HitLocationMap }}
        {{ range $k, $v := $character.HitLocations }}
        {{ if eq $s $k }}
          <p>{{ $v.HitLoc }} <strong>{{ $v.Name }}</strong></p>

          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="{{ $k }}-Armor-addon">Armor</span>
              </div>
              <input type="number" class="form-control" aria-describedby="{{ $k }}-Armor-addon" name="{{ $k }}-Armor" value ="{{ $v.Armor }}">
              <div class="input-group-append">
                  <span class="input-group-text" id="{{ $k }}-Armor-addon">pts</span>
                </div>
            </div>  
         
          <hr>
        {{ end }} <!-- END if -->
        {{ end }}
        {{ end }} <!-- END map -->

      <hr>

    </div>

  </div>
  </form>
  {{end}}