{{ define "title"}}

<title>Modify Homeland</title>

{{ end }}

{{define "content"}}

{{ $homeland := .HomelandModel.Homeland }}
{{ $IsAuthor := .IsAuthor }}

{{ $counter := .Counter }}
{{ $passions := .Passions }}
{{ $skills := .Skills }}
{{ $category := .CategoryOrder }}
{{ $elementalrunes := .ElementalRunes }}
{{ $powerrunes := .PowerRunes }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
            <form action="" method="POST" enctype="multipart/form-data">
              <h3>Modify Homeland</h3>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="name-addon">Name</span>
                </div>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value ="{{ $homeland.Name }}">
              </div>

              
              <div class="input-group">
                  <div class="input-group-prepend">
                <span class="input-group-text" for="Description">Description</span>
                </div>
                <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="4" value ="Enter Description">{{ $homeland.Description }}</textarea>
              </div>

              <hr>
              <img class ="card-img-top" data-src="" alt="Thumbnail"
                style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .HomelandModel.Image.Path }}"
                data-holder-rendered="true">

                <hr>
                <h4>Image</h4>
              <div class="input-group">
                  <div class="custom-file">
                    <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                    <label class="custom-file-label" for="inputGroupFile">Choose file</label>
                  </div>
                </div>
                <hr>

                <h4>Cult Runes</h4>
                <p>Choose a rune to receive a 10% bonus.</p>
              
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="Rune-addon">Rune</span>
                </div>
                  <select type="text" class="form-control" id="Rune" name="Rune">
                    <option>{{ $homeland.RuneBonus }}</option>
                    {{ range $r := $elementalrunes }}
                    <option>{{ $r }}</option>
                      {{ end }}
                      <option>-----------</option>
                      {{ range $pr := $powerrunes}}
                    <option>{{ $pr }}</option>
                      {{ end }}
                  </select>
              </div>

              <hr>
                <h4>Statistics</h4>
              {{ range $k, $v := $homeland.StatisticFrames }}

              <label for="Stat-{{ $k }}">{{ $k }}</label>
                  <div class="form-row">
                    <div class="col">
                  <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Stat-{{ $k }}-Dice-addon">Dice</span>
                  </div>
                      <input type="number" class="form-control" name="Stat-{{ $k }}-Dice" value="{{ $v.Dice }}">
                    </div>
                  </div>
                    <div class="col">
                    <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Stat-{{ $k }}-Modifier-addon">Modifier</span>
                  </div>
                      <input type="number" class="form-control" name="Stat-{{ $k }}-Modifier" value="{{ $v.Modifier}}">
                  </div>
                  </div>
                </div>
              
              {{ end }}


              <hr>

                <br><strong>Official Homeland?</strong> <input type="checkbox" name="Official" value="true" id="checkbox" checked>

              <br><strong>Add to Open Homelands?</strong> <input type="checkbox" name="Archive" value="true" id="checkbox" checked>
              <hr>
              <input class="button" type="submit" value="Save">
          </div>

            <div class="col-sm-4 col-md-4 col-lg-4">
              <h4>Homeland Skills</h4>
              <p>Update the skills this Homeland provides.</p>

                {{ range $k, $v := $homeland.Skills }}

                <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="Skill-{{ add $k 1 }}-CoreString-addon">Skill</span>
                        </div>
                    <select type="text" class="form-control" id="Skill-{{ add $k 1 }}-CoreString" name="Skill-{{ add $k 1 }}-CoreString">
                      <option>{{ $v.CoreString }}</option>
                      <option></option>
                      {{ range $s := $skills }}
                          <option>{{ $s.CoreString }}</option>
                    {{ end }}
                    </select>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{ add $k 1 }}-UserString-addon">Specialization</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="Skill-{{ add $k 1 }}-UserString-addon" name="Skill-{{ add $k 1 }}-UserString" value ="{{ $v.UserString }}">
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{ add $k 1 }}-Base-addon">Base</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Skill-{{ add $k 1 }}-Base-addon" name="Skill-{{ add $k 1 }}-Base" value ="{{ $v.Base }}">
                  <div class="input-group-append">
                        <span class="input-group-text" id="Skill-{{ add $k 1 }}-Base-addon">%</span>
                      </div>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{ add $k 1 }}-Value-addon">Skill Bonus</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Skill-{{ add $k 1 }}-Value-addon" name="Skill-{{ add $k 1 }}-Value" value ="{{ $v.HomelandValue }}">
                  <div class="input-group-append">
                        <span class="input-group-text" id="Skill-{{ add $k 1 }}-Value-addon">%</span>
                      </div>
                </div>

                <hr>
                
                {{ end }} <!-- End Skill Loop -->
                <hr>

              </div> <!-- End Skills Column -->

                <div class="col-sm-4 col-md-4 col-lg-4">
                  <h4>Passions</h4>
                  <p>Update starting passions for the homeland.</p>

                    {{ range $c, $passion := $homeland.PassionList }} <!-- Passions loop -->

                    <label for="Passion-{{ add $c 1 }}-CoreString">Passion</label>
                    <select type="text" class="form-control" id="Passion-{{ add $c 1}}-CoreString" name="Passion-{{ add $c 1}}-CoreString">
                      <option>{{ $passion.CoreString }}</option>
                      {{ range $passions }}
                          <option>{{ . }}</option>
                        {{ end }}
                    </select>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{ add $c 1}}-UserString-addon">Input</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="Passion-{{ add $c 1}}-UserString-addon" name="Passion-{{ add $c 1}}-UserString" value ="{{ $passion.UserString }}">
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Passion-{{ add $c 1}}-Base-addon">Passion Base</span>
                  </div>
                  <input type="number" class="form-control" aria-describedby="Passion-{{ add $c 1}}-Base-addon" name="Passion-{{ add $c 1}}-Base" value ="{{ $passion.Base }}">
                  <div class="input-group-append">
                      <span class="input-group-text" id="Passion-{{ add $c 1}}-Base-addon">%</span>
                    </div>
                </div>
                <hr>
                {{ end }}

                <h4>Skill Choices</h4>
                <p>Updates Skill choice options.</p>

                {{ range $m, $schoice := $homeland.SkillChoices }} <!-- SkillChoice loop -->

                <h5>Choice {{add $m 1}}</h5>

                {{ range $c, $skill := $schoice.Skills }} <!-- Skill loop -->
                <!-- Skill 1 -->
                <label for="Skill-{{add $m 1}}-{{add $c 1}}-CoreString">Skill {{add $c 1}}</label>
                <select type="text" class="form-control" id="Skill-{{add $m 1}}-{{add $c 1}}-CoreString" name="Skill-{{add $m 1}}-{{add $c 1}}-CoreString">
                  <option>{{$skill.CoreString}}</option>
                  {{ range $s := $skills }}
                  <option>{{ $s.CoreString }}</option>
                    {{ end }}
                </select>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="Skill-{{add $m 1}}-{{add $c 1}}-UserString-addon">Specialization</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="Skill-{{add $m 1}}-{{add $c 1}}-UserString-addon" name="Skill-{{add $m 1}}-{{add $c 1}}-UserString" value ="{{$skill.UserString}}">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="Skill-{{add $m 1}}-{{add $c 1}}-Value-addon">Skill Bonus</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="Skill-{{add $m 1}}-{{add $c 1}}-Value-addon" name="Skill-{{add $m 1}}-{{add $c 1}}-Value" value ="{{$skill.HomelandValue}}">
                  </div>

                  {{ if eq $c 0 }}<br><p><strong>--- OR ----</strong></p>{{ end }}

                 {{ end }} <!-- End Skill loop -->

                <hr>
                {{ end }} <!-- End SkillChoice loop -->

                <h4>Add New Skills</h4>

                {{ range $m := $counter }}
                <h5>Skill {{$m}}</h5>

                  <!-- Skill 1 -->
                  <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="NewSkill-{{$m}}-CoreString-addon">Name</span>
                      </div>
                      <input type="text" class="form-control" aria-describedby="NewSkill-{{$m}}-CoreString-addon" name="NewSkill-{{$m}}-CoreString" value ="">
                  </div>

                <label for="NewSkill-{{$m}}-Category">Category</label>
                <select type="text" class="form-control" id="NewSkill-{{$m}}-Category" name="NewSkill-{{$m}}-Category">
                  {{ range $category }}
                  <option>{{ . }}</option>
                    {{ end }}
                </select>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="NewSkill-{{$m}}-UserString-addon">Specialization (if req'd)</span>
                  </div>
                  <input type="text" class="form-control" aria-describedby="NewSkill-{{$m}}-UserString-addon" name="NewSkill-{{$m}}-UserString" value ="">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="NewSkill-{{$m}}-Base-addon">Base %</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="NewSkill-{{$m}}-Base-addon" name="NewSkill-{{$m}}-Base" value ="0">
                </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="NewSkill-{{$m}}-Value-addon">NewSkill Bonus</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="NewSkill-{{$m}}-Value-addon" name="NewSkill-{{$m}}-Value" value ="0">
                </div>
                <hr>

                {{ end }}

            </div> <!-- End Passions & NewSkillChoices COL 1 -->

            </form>
          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
