{{ define "title"}}

<title>Modify Character</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character}}
{{ $statistics := $character.Statistics }}
{{ $skills := $character.Skills }}
{{ $counter := .Counter }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <form action="" method="POST" enctype="multipart/form-data">

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="name-addon">Name</span>
                </div>
                <input type="text" class="form-control" aria-describedby="name-addon" name="Name" value ="{{ $character.Name }}">
              </div>
              <hr>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="Description">Description</span>
                </div>
                <textarea class="form-control" aria-describedby="description-addon" name="Description" rows="10" value ="{{ $character.Description }}">{{ $character.Description }}</textarea>
              </div>
              <hr>
              <p>Image</p>
              <img class ="card-img-top" data-src="" alt="Thumbnail"
              style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
              data-holder-rendered="true">
              <br>
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" name="image" class="custom-file-input" id="inputGroupFile" aria-describedby="inputGroupFileAddon">
                  <label class="custom-file-label" for="inputGroupFile">Update Image</label>
                </div>
              </div>
              <hr>

              <strong>Add to Open Roster?</strong> <input type="checkbox" name="Archive" value="true" id="checkbox" {{if .CharacterModel.Open }}checked{{ end }}>

              <hr>

              <button class="btn btn-primary" type="submit" value="Save">Update</button>

            </div>

              <div class="col-sm-3 col-md-3 col-lg-3">
                <h4>Character Variables</h4>
            </div>

            <div class="col-sm-3 col-md-3 col-lg-3">
              <h4>Stats</h4>
              {{ range $stat := $statistics }}

              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="{{ $stat.Name }}-addon">{{ $stat.Name }}</span>
                </div>
                <input type="number" class="form-control" aria-describedby="{{ $stat.Name }}-addon" name="{{ $stat.Name }}" value ="{{ $stat.Base }}">
              </div>
              {{ end }}

              <hr>
              <h4>Skills</h4>

              {{ range $skill := $skills }}
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="{{ $skill.Name }}-addon">{{ $skill.Name }}</span>
                </div>
                <input type="number" class="form-control" aria-describedby="{{ $skill.Name }}-addon" name="{{ $skill.Name }}" value ="{{ $skill.Total }}">
              </div>
              {{ if $skill.UserString }}
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="{{ $skill.Name }}-UserString-addon">--Specialization</span>
                </div>
                <input type="text" class="form-control" aria-describedby="{{ $skill.Name }}-UserString-addon" name="{{ $skill.Name }}-UserString" value ="{{ $skill.UserString }}">
              </div>
              {{ end }}
              {{end}}

          </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Hit Locations</h3>
          {{ range $i, $loc := $character.HitLocations }}

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="{{ $i }}-name-addon">Name</span>
            </div>
            <input type="text" class="form-control" aria-describedby="{{ $i }}-name-addon" name="{{ $i }}-Name" value ="{{ $loc.Name }}">
          </div>
          <br>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="{{ $i }}-boxes-addon">Wound Boxes</span>
            </div>
            <input type="number" class="form-control" aria-describedby="{{ $i }}-boxes-addon" name="{{ $i }}-Boxes" value ="{{ $loc.Boxes }}">
          </div>
          <br>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="{{ $i }}-lar-addon">LAR</span>
            </div>
            <input type="number" class="form-control" aria-describedby="{{ $i }}-lar-addon" name="{{ $i }}-LAR" value ="{{ $loc.LAR }}">
          </div>
          <br>

          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="{{ $i }}-har-addon">HAR</span>
            </div>
            <input type="number" class="form-control" aria-describedby="{{ $i }}-har-addon" name="{{ $i }}-HAR" value ="{{ $loc.HAR }}">
          </div>
          <br>

          <label for="Locs">Select Hit Locations</label>
          {{ range $c := $counter }}
              {{ if isIn $loc.HitLoc $c }}
            {{ $c }} <input type="checkbox" name="{{ $i }}-{{ $c }}-loc" value="{{ $c }}" id="{{ $i }}-{{ $c }}-loc" checked>
              {{ else }}
            {{ $c }} <input type="checkbox" name="{{ $i }}-{{ $c }}-loc" value="{{ $c }}" id="{{ $i }}-{{ $c }}-loc">
              {{ end }} <!-- END if isIn -->
          {{ end }} <!-- END counter Loop -->
          <hr>
          {{ end }} <!-- END overall location loop -->
      </div>
      </div>
    </div>
      </div>
    </form>
{{end}}
