{{ define "title"}}

<title>Occupation Index</title>

{{ end }}

{{define "content"}}
{{ $user := .SessionUser }}
{{ $IsAdmin := .IsAdmin }}

<h3>Occupation Index</h3>

      <div class="container">
        <div class="row">
          {{ range .OccupationModels }}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <a href="/view_occupation/{{ .Slug }}">
              <img class ="card-img-top" data-src="" alt="Thumbnail"
              style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .Image.Path }}"
              data-holder-rendered="true">
              <div class="card-body"></a>
                <h5 class="card-title">{{ .Occupation.Name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ .Author.UserName }}</h6>
                <p class="card-text">
                  {{ sliceString .Occupation.Description 144 }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-primary"
                    href="/view_occupation/{{ .Slug }}">View</a>
                    {{ if eq $user .Author.UserName }}
                    <a type="button" class="btn btn-sm btn-secondary"
                    href="/modify_occupation/{{ .ID }}">Modify</a>
                    {{ end }}
                    {{ if eq $IsAdmin "true" }}
                    <a type="button" class="btn btn-sm btn-danger"
                    href="/delete_occupation/{{ .ID }}">Delete</a>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
      </div>
    </div>



{{end}}
