{{ define "title"}}

<title>ORE Opposed Roll</title>

{{ end }}

{{define "content"}}

{{ $character1 := index .Actor.Character 0 }}
{{ $character2 := index .Actor.Character 1 }}

      <div class="container">
        <p>Roll dice for two players and determine matches and initiative.</p>
        <div class="row">
          <!-- Player one column -->
          <form action="" method="POST">
            <div class="col-sm-3 col-md-3 col-lg-3">
            <p>Build Player 1's die pool below and then click "Roll Dice".</p>
          <div class="input-group">
            <input type="text" class="form-control" aria-describedby="name-addon" name="name" value="{{ $character1.Name }}">
            <span class="input-group-addon" id="name-addon">Name</span>
          </div>

          <!--
          <h4>Action type:</h4>
          <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-primary active">
              <input type="radio" name="action" id="act" autocomplete="off" checked> Act
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="action" id="oppose" autocomplete="off" checked> Oppose
            </label>
          </div><br><br>
        -->

        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="nd-addon" name="nd" value="{{ index .Normal 0}}">
          <span class="input-group-addon" id="nd-addon">Normal Dice</span>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="hd-addon" name="hd" value="{{ index .Hard 0}}">
          <span class="input-group-addon" id="hd-addon">Hard Dice</span>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="ed-addon" name="ed" value="{{ index .Expert 0}}">
          <span class="input-group-addon" id="ed-addon">Expert Die</span>
        </div>
        <div class="input-group">
          <input type="text" class="form-control" aria-describedby="wd-addon" name="wd" value="{{ index .Wiggle 0}}">
          <span class="input-group-addon" id="wd-addon">Wiggle Dice</span>
        </div>
          <hr>
          <div class="input-group">
            <input type="text" class="form-control" aria-describedby="gf-addon" name="gofirst" value="{{ index .GoFirst 0}}">
            <span class="input-group-addon" id="gf-addon">Go First</span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" aria-describedby="sp-addon" name="spray" value="{{ index .Spray 0}}">
            <span class="input-group-addon" id="sp-addon">Spray</span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control" aria-describedby="ac-addon" name="actions" value="{{ index .Actions 0}}">
            <span class="input-group-addon" id="ac-addon">Actions</span>
          </div>
          <hr>
    </div>
    <!-- Player 2 Column -->
    <div class="col-sm-3 col-md-3 col-lg-3">
      <p>Build Player 2's die pool below and then click "Roll Dice".</p>
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="name-addon2" name="name2" value="{{ $character2.Name }}">
        <span class="input-group-addon" id="name-addon2">Name</span>
      </div>

      <!--
      <h4>Action type:</h4>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="radio" name="action2" id="act" autocomplete="off" checked> Act
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="action2" id="oppose" autocomplete="off" checked> Oppose
        </label>
      </div><br><br>
    -->

      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="nd-addon2" name="nd2" value="{{ index .Normal 1}}">
        <span class="input-group-addon" id="nd-addon2">Normal Dice</span>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="hd-addon2" name="hd2" value="{{ index .Hard 1}}">
        <span class="input-group-addon" id="hd-addon2">Hard Dice</span>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="ed-addon2" name="ed2" value="{{ index .Expert 1}}">
        <span class="input-group-addon" id="ed-addon2">Expert Die</span>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="wd-addon2" name="wd2" value="{{ index .Wiggle 1}}">
        <span class="input-group-addon" id="wd-addon2">Wiggle Dice</span>
      </div>
      <hr>
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="gf-addon2" name="gofirst2" value="{{ index .GoFirst 1}}">
        <span class="input-group-addon" id="gf-addon2">Go First</span>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="sp-addon2" name="spray2" value="{{ index .Spray 1}}">
        <span class="input-group-addon" id="sp-addon2">Spray</span>
      </div>
      <div class="input-group">
        <input type="text" class="form-control" aria-describedby="ac-addon2" name="actions2" value="{{index .Actions 1}}">
        <span class="input-group-addon" id="ac-addon2">Actions</span>
      </div>
      <hr>
      <input class="btn btn-primary" type="submit" value="Roll Dice">
</div>
  </form>

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Results</h3>
        {{ range .Rolls }}
            <h4>{{ .Actor.Name }}</h4>
            Results: {{ range .Results }}
            {{ . }}
            {{ end }}</p>
            Action: {{ .Action }} x{{ .NumActions }}
            {{ if .Wiggles }}
            <h5><strong>+{{ .Wiggles }} Wiggle Dice</strong></h5>
            {{else}}{{ end }}
            <p>Loose Dice: {{ range .Loose }}
              {{.}}
              {{ end }}</p>
              <hr>
          {{ end }}

      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Matches</h3>
        {{ range .Matches }}
        <p>{{ .Actor.Name }} - Width {{.Initiative}} - <strong>{{ .Height }}x{{ .Width }}</strong></p>
        {{ end}}

      </div>
    </div>
      </div>
{{end}}
