{{ define "title"}}

<title>Runequest Character Roster</title>

{{ end }}

{{define "content"}}
{{ $user := .SessionUser }}
{{ $IsAdmin := .IsAdmin }}

<h3>Open Character Roster</h3>

      <div class="container">
        <div class="row">
          {{ range .CharacterModels }}
          <div class="col-md-4">
            <div class="card mb-4 box-shadow">
              <a href="/summary_view_character/{{ .ID }}">
              <img class ="card-img-top" data-src="" alt="Thumbnail"
              style="width: 100%; height: 50%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .Image.Path }}"
              data-holder-rendered="true">
              <div class="card-body"></a>
                <h5 class="card-title">{{ .Character.Name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ .Character.Homeland.Name }} {{if .Character.Occupation.Name }}| {{ .Character.Occupation.Name }}{{end}} {{ if .Character.Cult.Name }}| {{ .Character.Cult.Name }}{{ end }}
                <h6>{{ .Author.UserName }}</h6>

                <p class="card-text">
                  {{ sliceString .Character.Description 144 }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-primary"
                    href="/view_character/{{ .ID }}">View</a>
                    <a class="btn btn-sm btn-primary"
                    href="/summary_view_character/{{ .ID }}">Summary</a>
                    {{ if eq $user .Author.UserName }}
                    {{ if not .Character.CreationSteps.Complete }}
                      <a class="btn btn-sm btn-primary" href="/{{ generateCharacterCreationURL .Character.CreationSteps }}/{{ .ID }}">Resume Creation</a>
                      {{ else }}
                      <a class="btn btn-sm btn-primary" href="/modify/{{ .ID }}">Modify</a>
                    {{ end }}
                    {{ end }}
                    {{ if eq $IsAdmin "true" }}
                    <a class="btn btn-sm btn-danger"
                    href="/delete/{{ .ID }}">Delete</a>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
      </div>
    </div>



{{end}}
