{{ define "title"}}

<title>Cradle of Heroes</title>
<meta property="og:image" content="https://runequeset.s3.amazonaws.com/media/christopherallison/sindla+_far-_walker/ga1-newbeginings.jpg" />
<meta property="og:site_name" content="Cradle of Heroes" />
<meta property="og:title" content="CoH: View Open Characters" />
<meta property="og:description" content="Main page for the Cradle of Heroes" />
<meta name="twitter:card" content="summary_large_image">

{{ end }}

{{define "content"}}
{{ $user := .SessionUser }}
{{ $IsAdmin := .IsAdmin }}
{{ $homelands := .HomelandModels }}
{{ $occupations := .OccupationModels }}
{{ $cults := .CultModels }}

<h3>The Cradle of Heroes</h3>

      <div class="container">

      {{ if eq $user ""}}
      <hr>
      <h4>Welcome to the Cradle of Heroes</h4>
      <p>Runequest is a roleplaying
game created by <a href="https://www.chaosium.com/runequest-glorantha/">Chaosium</a>. This app
allows players and game-masters to easily create and manage characters, creatures, races, homelands, occupations and cults in the game.</p>
<p>Get started by <a href="/signup/">registering an account</a>, and signing in.</p>

<p>Afer this, you can start creating a character, homeland, occupation or cult. When you
create and save "building" content, like homelands, occupations and cults, they will be available for any elses use as well.</p>

<p>The short video below gives an overview of the app. More detailed videos are available on the <a href="https://www.youtube.com/playlist?list=PL0xmTkOvLDzJAcCIYbVYciVSZDKwvH09P">YouTube channel</a>.</p>

<hr>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Lbf7bqYl9tM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<hr>
{{ end }}

        <div class="row">
            <form action="" method="POST">
                <h4>Search the Cradle</h4>
                <p>Strange and wonderous people abound, start typing below to find your quarry: 
                <input type="text" id="search" placeholder="I seek...">
                <hr>
        </div>

        <div class="row">
          <div class="col-md-3">
              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" for="Homeland">Homeland</span>
                </div>
              <select type="text" class="form-control" id="Homeland" name="Homeland">
                <option></option>
                {{ range $k, $v := $homelands }}
                <option>{{ $v.Homeland.Name }}</option>
                {{ end }}
              </select>
              </div>

          </div>
          <div class="col-md-3">
              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" for="Occupation">Occupation</span>
                </div>
              <select type="text" class="form-control" id="Occupation" name="Occupation">
                <option></option>
                {{ range $k, $v := $occupations }}
                    <option>{{ $v.Occupation.Name }}</option>
                {{ end }}
              </select>
              </div>

          </div>
          <div class="col-md-3">

              <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" for="Cult">Cult</span>
              </div>
              <select type="text" class="form-control" id="Cult" name="Cult">
                <option></option>
                {{ range $k, $v := $cults }}
                    <option>{{ $v.Cult.Name }}</option>
                {{ end }}
              </select>
              </div>

          </div>

          <div class="col-md-3">
            <button class="btn btn-primary" type="submit" value="Save">Filter</button>
          </div>

          </form>
        </div>
        <hr><br>

        


        <div class="row">
          {{ range .CharacterModels }}
          <div id="character" class="col-md-4">
            <div class="card mb-4 box-shadow">
              <a href="/view_character/{{ .ID }}">
              <img class ="card-img-top" data-src="" alt="Thumbnail"
              style="width: 100%; height: 300px; display: block; object-fit:cover; overflow:hidden;" 
              src="https://s3.amazonaws.com/runequeset{{ .Image.Path }}"
              data-holder-rendered="true">
              <div class="card-body"></a>
                <h5 id="name" class="card-title">{{ .Character.Name }}</h5>
                <h6>{{ range $r := .Character.CoreRunes }}
                <img 
                  class alt="{{$r.Name}}"
                  style="width: 20px; height: 20px" 
                  src="https://runequeset.s3.amazonaws.com/media/Runes/{{ if eq $r.Name "Fire/Sky"}}Fire Sky{{else}}{{ $r.Name }}{{end}}.png"
                >
                  {{ end }}
                </h6>

                {{ if or (eq .Character.Role "Player Character") (eq .Character.Role "") }}
                <h6 class="card-subtitle mb-2 text-muted">{{ .Character.Homeland.Name }} {{if .Character.Occupation.Name }}| {{ .Character.Occupation.Name }}{{end}} {{ if .Character.Cult.Name }}| {{ .Character.Cult.Name }}{{ end }}</h6>
                  {{ else }}
                  <h6 class="card-subtitle mb-2 text-muted">{{ .Character.Role }}</h6>
                  {{ end }}
                <h6>{{ .Author.UserName }}</h6>

                <p class="card-text">
                  {{ toMarkdown (sliceString .Character.Description 144) }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a class="btn btn-sm btn-primary"
                    href="/view_character/{{ .ID }}">View</a>
                    {{ if eq $user .Author.UserName }}
                    {{ if not .Character.CreationSteps.Complete }}
                      <a class="btn btn-sm btn-primary" href="/{{ generateCharacterCreationURL .Character.CreationSteps }}/{{ .ID }}">Resume Creation</a>
                      {{ else }}
                      <a class="btn btn-sm btn-primary" href="/modify/{{ .ID }}">Modify</a>
                    {{ end }}
                    {{ end }}
                    {{ if eq $IsAdmin "true" }}
                    <a class="btn btn-sm btn-danger"
                    href="/delete/{{ .ID }}">Delete</a>
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
      </div>
    </div>

    <script type="text/JavaScript">
      var $names = $('h5');
      $('#search').keyup(function () {

        var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;

    $names.parent().parent().parent().show().filter(function () {
        text = $(this).children().text().replace(/\s+/g, ' ');
        return !reg.test(text);
    }).hide();
});
    </script>


{{end}}
