{{ define "title"}}

<title>ORE Roster</title>

{{ end }}

{{define "content"}}

{{ $user := .SessionUser }}
{{ $homelands := .HomelandModels }}
{{ $occupations := .OccupationModels }}
{{ $cults := .CultModels }}

<h3>{{ $user }}'s Character Roster</h3>

      <div class="container">

          <div class="row">
              <form action="" method="POST">
                <hr>
                  <h4>Find Characters</h4>
                  <p>Search using free text or choose your desired filters from the drop downs below.</p>
                  Free text search: 
                  <input type="text" id="search" placeholder="Type to search">
                  <hr>
          </div>

          <div class="row">
            <div class="col-md-3">
                <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="Homeland">Homeland</span>
                  </div>
                <select type="text" class="form-control" id="Homeland" name="Homeland">
                  <option></option>
                  {{ range $k, $v := $homelands }}
                  <option>{{ $v.Homeland.Name }}</option>
                  {{ end }}
                </select>
                </div>
  
            </div>
            <div class="col-md-3">
                <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="Occupation">Occupation</span>
                  </div>
                <select type="text" class="form-control" id="Occupation" name="Occupation">
                  <option></option>
                  {{ range $k, $v := $occupations }}
                      <option>{{ $v.Occupation.Name }}</option>
                  {{ end }}
                </select>
                </div>
  
            </div>
            <div class="col-md-3">
  
                <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text" for="Cult">Cult</span>
                </div>
                <select type="text" class="form-control" id="Cult" name="Cult">
                  <option></option>
                  {{ range $k, $v := $cults }}
                      <option>{{ $v.Cult.Name }}</option>
                  {{ end }}
                </select>
                </div>
  
            </div>
  
            <div class="col-md-3">
              <button class="btn btn-primary" type="submit" value="Save">Filter</button>
            </div>
  
            </form>
          </div>
          <hr><br>

        <div class="row">
          {{ range .CharacterModels }}
          <div id="character" class="col-md-4">
            <div class="card mb-4 box-shadow">
              <a href="/view_character/{{ .ID }}">
              <img class ="card-img-top" data-src="" alt="Thumbnail"
              style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .Image.Path }}"
              data-holder-rendered="true"></a>
              <div class="card-body">
                <h5 class="card-title">{{ .Character.Name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ .Character.Homeland.Name }} {{if .Character.Occupation.Name }}| {{ .Character.Occupation.Name }}{{end}} {{ if .Character.Cult.Name }}| {{ .Character.Cult.Name }}{{ end }} 
                <h6>{{ .Author.UserName }}</h6>
                <p class="card-text">
                  {{ sliceString .Character.Description 77 }}
                </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-primary"
                    href="/view_character/{{ .ID }}">View</a>
                    {{ if eq $user .Author.UserName }}{{ if not .Character.CreationSteps.Complete }}
                      <a class="btn btn-sm btn-primary" href="/{{ generateCharacterCreationURL .Character.CreationSteps }}/{{ .ID }}">Resume Creation</a>
                      {{ else }}
                      <a class="btn btn-sm btn-primary" href="/modify/{{ .ID }}">Modify</a>
                    {{ end }}
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
      </div>
    </div>

    <script type="text/JavaScript">
      var $names = $('h5');
      $('#search').keyup(function () {

        var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;

    $names.parent().parent().parent().show().filter(function () {
        text = $(this).children().text().replace(/\s+/g, ' ');
        return !reg.test(text);
    }).hide();
});
    </script>

{{end}}
