{{ define "title"}}

<title>RQiG {{ .User.UserName }}'s' Roster</title>
<meta property="og:image" content="https://runequeset.s3.amazonaws.com/media/hephaestus_sm.jpg" />
<meta property="og:site_name" content="Cradle of Heroes" />
<meta property="og:title" content="CoH: My Characters" />
<meta property="og:description" content="Personal roster page for the RQiG Character app" />
<meta name="twitter:card" content="summary_large_image">

{{ end }}

{{define "content"}}

{{ $user := .SessionUser }}

<h3>{{ .User.UserName }}'s Character Roster</h3>

      <div class="container">
          <hr><br>

        <div class="row">
          {{ range .CharacterModels }}
          <div id="character" class="col-md-4">

            <div class="card mb-4 box-shadow">
              <a href="/view_character/{{ .ID }}">
              <img class ="card-img-top" data-src="" alt="Thumbnail"
              style="width: 100%; height: 300px; display: block; object-fit:cover; overflow:hidden;" 
              src="https://s3.amazonaws.com/runequeset{{ .Image.Path }}"
              data-holder-rendered="true"></a>
              <div class="card-body">
                <h5 class="card-title">{{ .Character.Name }}</h5>
                {{ if .Character.CoreRunes }}
                <h6>{{ range $r := .Character.CoreRunes }}
                <p style="display:none;">{{$r.Name}}</p>
                <img 
                  class alt="{{$r.Name}}"
                  style="width: 20px; height: 20px" 
                  src="https://runequeset.s3.amazonaws.com/media/Runes/{{ if eq $r.Name "Fire/Sky"}}Fire Sky{{else}}{{ $r.Name }}{{end}}.png"
                >
                  {{ end }}
                </h6>
                {{ end }}
                {{ if or (eq .Character.Role "Player Character") (eq .Character.Role "") }}
                <h6 class="card-subtitle mb-2 text-muted">{{ .Character.Homeland.Name }} {{if .Character.Occupation.Name }}| {{ .Character.Occupation.Name }}{{end}} {{ if .Character.Cult.Name }}| {{ .Character.Cult.Name }}{{ end }}</h6>
                  {{ else }}
                  <h6 class="card-subtitle mb-2 text-muted">{{ .Character.Role }}</h6>
                  {{ end }}                <h6>{{ .Author.UserName }}</h6>
                <p class="card-text">
                  {{ sliceString .Character.Description 77 }}
                </p>

                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-primary"
                    href="/view_character/{{ .ID }}">View</a>
                    {{ if eq $user .Author.UserName }}{{ if not .Character.CreationSteps.Complete }}
                      <a class="btn btn-sm btn-primary" href="/{{ generateCharacterCreationURL .Character.CreationSteps }}/{{ .ID }}">Resume Creation</a>
                      {{ else }}
                      <a class="btn btn-sm btn-primary" href="/modify/{{ .Author.ID }}">Modify</a>
                    {{ end }}
                    {{ end }}
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{ end }}
      </div>

      <div class="row bg-dark" id="Paginator Row">
        <div class="col col-md-3 col-lg-1 col-sm-4">
          {{ if gt .Offset 0 }}
              <a class="btn btn-sm btn-primary" href="/user_open_roster/{{ .User.ID }}/{{.Limit }}/{{subtract .Offset 1}}"><< Page {{ .Offset }}</a>
          {{ else }}
          {{ end }}
        </div>
        <div class="col col-md-1 col-lg-4 col-sm-0">

        </div>

        <div class="col col-md-4 col-lg-2 col-sm-4" style="text-align: center">
            <strong style="color: white">Page {{add .Offset 1}} </strong>
          </div>

          <div class="col col-md-1 col-lg-4 col-sm-0">

            </div>
        
            <div class="col col-md-3 col-lg-1 col-sm-4">
              {{ if gt (len .CharacterModels) (subtract .Limit 1) }}
          <a class="btn btn-sm btn-primary" href="/user_open_roster/{{ .User.ID }}/{{.Limit }}/{{add .Offset 1}}">>> Page {{ add .Offset 2}}</a>
          {{ end }}
        </div>
        <hr>
        <br>
        </div> <!-- End Paginator row-->
        <br>
    </div>

    <script type="text/JavaScript">
      var $names = $('h5');
      $('#search').keyup(function () {

        var val = '^(?=.*\\b' + $.trim($(this).val()).split(/\s+/).join('\\b)(?=.*\\b') + ').*$',
        reg = RegExp(val, 'i'),
        text;

    $names.parent().parent().parent().show().filter(function () {
        text = $(this).children().text().replace(/\s+/g, ' ');
        return !reg.test(text);
    }).hide();
});
    </script>

{{end}}
