{{ define "title"}}
{{ $occupation := .OccupationModel.Occupation }}
<meta property="og:image" content="https://s3.amazonaws.com/runequeset{{ .OccupationModel.Image.Path }}" />
<meta property="og:site_name" content="Cradle of Heroes" />
<meta property="og:title" content="RQG: View Occupation {{ .OccupationModel.Occupation.Name }}" />
<meta property="og:description" content="{{ sliceString .OccupationModel.Occupation.Description 144 }}" />
<meta name="twitter:card" content="summary_large_image">

<title>{{ $occupation.Name }}</title>

{{ end }}
{{ define "content" }}

{{ $IsAuthor := .IsAuthor }}
{{ $IsAdmin := .IsAdmin }}
{{ $occupation := .OccupationModel.Occupation }}
{{ $ID := .OccupationModel.ID }}
{{ $skills := .Skills }}

<div class="container">
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">

  <h4>{{ $occupation.Name }}</h4> 
  
  <img class ="card-img-top" data-src="" alt="Thumbnail"
  style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .OccupationModel.Image.Path }}"
  data-holder-rendered="true">
  <p>Author: {{ .OccupationModel.Author.UserName }}</p>
  <hr>
    <p>{{ toMarkdown $occupation.Description }}</p>
  <hr>

  {{ if $occupation.Notes }}
  <h5>Creation Notes</h5>
    <p>{{ toMarkdown $occupation.Notes }}</p>
  <hr>
  {{ end }}

    {{ if (or $IsAuthor (eq $IsAdmin "true")) }}
        <a class="btn btn-sm btn-primary" href="/modify_occupation/{{ $ID }}">Modify</a>
        <a class="btn btn-sm btn-danger" href="/delete_occupation/{{ $ID }}">Delete</a>
    {{ end }}
</div>

<div class="col-sm-4 col-md-4 col-lg-4">

<h5>Skills</h5>
    <table class="table table-sm table-striped">
        <tr>
          <th>Skill</th>
          <th>Base</th>
          <th>Bonus</th>
        </tr>
        {{ range $skill := $occupation.Skills }}
        <tr>
          <td>
              {{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{$skill.UserString}}){{end}}
          </td>
          <td>
            {{ $skill.Base }}
          </td>
          <td style="text-align:center">
              +{{ $skill.OccupationValue }}%
          </td>
        {{end}}
      </table>

  <hr>
  {{ if $occupation.SkillChoices }}
  <h5>Skill Choices</h5>
    {{ range $schoice := $occupation.SkillChoices }}
    {{ if gt (len $schoice.Skills) 0}}
    <h5>Choose between</h5>
    <p>
        {{ range $c, $skill := $schoice.Skills }}
        {{ $skill.CoreString }} {{ if $skill.UserChoice }}({{$skill.UserString}}){{end}} +{{ $skill.OccupationValue }}%
        {{ if eq $c 0 }}<strong>--- OR ----</strong>{{else}}</p>{{ end }}
        {{ end }}
        <hr>
        {{ end }}
    {{ end }}
    {{ end }} <!-- END show loop -->

    {{ if $occupation.Weapons }}
        <h5>Weapons & Combat</h5>
        <table class="table table-sm table-striped">
        <tr>
          <th>Weapon</th>
          <th>Bonus</th>
        </tr>
        {{ range $wp := $occupation.Weapons }}
        <tr>
            <td>
                {{ if eq $wp.Description "Shield" }}
                    {{ $wp.Description }}
                {{ else }}
                    {{ $wp.Description }} Weapon
                {{ end }}
            </td>
            <td>
                +{{ $wp.Value }}%
            </td>
        </tr>
        {{ end }}
        </table>
        <hr>
    {{ end }}

    {{ if $occupation.PassionList }}
        <h5>Passions</h5>
        <table class="table table-sm table-striped">
            <tr>
            <th>Passion</th>
            <th>Bonus</th>
            </tr>
            {{ range $passion := $occupation.PassionList }}
            <tr>
            <td>
                {{ $passion.CoreString }} {{ if $passion.UserString }}({{$passion.UserString}}){{ end }}
            </td>
            <td>
                +10%
            </td>
            </tr>
            {{end}}
        </table>
        <hr>
        {{ end }}

</div>

<div class="col-sm-4 col-md-4 col-lg-4">

        <h5>Details</h5>
        <table class="table table-sm table-striped">
            <tr>
                <td>
                  Standard of Living
                </td>
                <td>
                  {{ $occupation.StandardOfLiving }}
                </td>
            </tr>
            <tr>
                  <td>
                      Income
                  </td>
                  <td>
                      {{ $occupation.Income }} L
                  </td>
              </tr>
              <tr>
                      <td>
                          Ransom
                      </td>
                      <td>
                          {{ $occupation.Ransom }} L
                      </td>
                  </tr>
      
        </table>
        <hr>

    <h5>Equipment</h5>
    <table class="table table-sm table-striped">
        <tr>
            <th>Equipment</th>
        </tr>
        {{ range $occupation.Equipment}}
        <tr>
            <td>
                {{ . }}
            </td>
        </tr>
        {{ end }}
        
    </table>

</div>  

</div>

</div>

{{ end }}
