{{ define "title"}}

<title>{{ .CultModel.Cult.Name }}</title>
<meta property="og:image" content="https://s3.amazonaws.com/runequeset{{ .CultModel.Image.Path }}" />
<meta property="og:site_name" content="Cradle of Heroes" />
<meta property="og:title" content="RQG: View Cult {{ .CultModel.Cult.Name }}" />
<meta property="og:description" content="{{ sliceString .CultModel.Cult.Description 144 }}" />
<meta name="twitter:card" content="summary_large_image">

{{ end }}

{{define "content"}}

{{ $IsAuthor := .IsAuthor }}
{{ $IsAdmin := .IsAdmin }}

{{ $cult := .CultModel.Cult }}

<div class="container">
  <hr>
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <form action="" method="POST" enctype="multipart/form-data">
        <h4>{{ $cult.Name }}{{ if .CultModel.Official }} | Official{{ end }}{{ if $cult.SubCult }} | Sub-Cult of {{ $cult.ParentCult.Name }}{{ end }}</h4>

        <hr>
        {{ if $cult.Runes }}
                <h6>{{ range $r := $cult.Runes }}
                <img 
                  class alt="{{ $r }}"
                  title="{{ $r }}"
                  style="width: 20px; height: 20px" 
                  src="https://runequeset.s3.amazonaws.com/media/Runes/{{ if eq $r "Fire/Sky"}}Fire Sky{{else}}{{ $r }}{{end}}.png"
                >
                  {{ end }}
            </h6>
                {{ else }}
                  {{ if $cult.ParentCult.Runes }}
                <h6>{{ range $r := $cult.ParentCult.Runes }}
                <img 
                  class alt="{{ $r }}"
                  title="{{ $r }}"
                  style="width: 20px; height: 20px" 
                  src="https://runequeset.s3.amazonaws.com/media/Runes/{{ if eq $r "Fire/Sky"}}Fire Sky{{else}}{{ $r }}{{end}}.png"
                >
                    {{ end }}
                  {{ end }}
            </h6>
                {{ end }}

        <p>Author: {{ .CultModel.Author.UserName }}</p>

        <img class="card-img-top" data-src="" alt="Thumbnail" style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CultModel.Image.Path }}"
          data-holder-rendered="true">

        <hr>
        <p>{{ toMarkdown $cult.Description }}</p>
        <hr>
        {{ if $cult.Notes }}
        <h4>Creation Notes</h4>
        <p>{{ toMarkdown $cult.Notes }}</p>
        <hr>
        {{ end }}

        {{ if (or $IsAuthor (eq $IsAdmin "true")) }}
        <a class="btn btn-sm btn-primary" href="/modify_cult/{{ .CultModel.ID }}">Modify</a>
        <a class="btn btn-sm btn-danger" href="/delete_cult/{{ .CultModel.ID }}">Delete</a>
      {{ end }}
      <hr>

    </div>

    <div class="col-sm-4 col-md-4 col-lg-4">
      <h4>Rune Spells</h4>
      <table class="table table-sm table-striped">
        <tr>
          <th>Spell</th>
          <th>Pts</th>
        </td>
        {{ range $rs := $cult.RuneSpells }}
          <tr>
          <td>
        {{ $rs.CoreString }}
        {{ if ne $rs.UserString "" }}
         {{ $rs.UserString }}
          {{ end }}
          </td>
          <td style="text-align:center">
          {{ if $rs.Variable }}var{{else}}
            {{$rs.Cost}}
            {{ end }}
          </td>
        </tr>
        {{ end }}
      </table>

      <h4>Spirit Magic</h4>
      <table class="table table-sm table-striped">
        <tr>
          <th>Spell</th>
          <th>Pts</th>
        </td>
        {{ range $sm := $cult.SpiritMagic }}
          <tr>
          <td>
        {{ $sm.CoreString }}
        {{ if ne $sm.UserString "" }}
         {{ $sm.UserString }}
          {{ end }}
          </td>
          <td style="text-align:center">
          {{ if $sm.Variable }}
          var
          {{else}}
            {{$sm.Cost}}
            {{ end }}
          </td>
        </tr>
        {{ end }}
      </table>

      <hr>

    </div> <!-- End Skills Column -->

    <div class="col-sm-4 col-md-4 col-lg-4">

      <h4>Skills</h4>
      <table class="table table-sm table-striped">
        <tr>
          <th>Skill</th>
          <th>Bonus</th>
        </tr>
        {{ range $skill := $cult.Skills }}
        <tr>
          <td>
              {{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{$skill.UserString}}){{end}}
          </td>
          <td style="text-align:center">
              +{{ $skill.CultValue }}%
          </td>
      {{end}}
      </table>

      {{ if $cult.SkillChoices }}
      <h4>Skill Choices</h4>
      {{ range $schoice := $cult.SkillChoices }}
      {{ if gt (len $schoice.Skills) 0}}
      <h5>Choose between</h5>
      <p>
        {{ range $c, $skill := $schoice.Skills }}
        {{ $skill.CoreString }} {{ if $skill.UserChoice }}({{$skill.UserString}}){{end}} +{{ $skill.CultValue }}%
        {{ if eq $c 0 }}<strong>--- OR ----</strong>{{else}}</p>{{ end }}
      {{ end }}
      <hr>
      {{ end }}
      {{ end }}
      {{ end }} <!-- End if SkillChoices -->

      {{ if $cult.Weapons }}
      <h4>Weapons & Combat</h4>
      {{ range $wp := $cult.Weapons }}
      {{ if eq $wp.Description "Shield" }}
      <p>{{ $wp.Description }} +{{ $wp.Value }}%</p>
      {{ else }}
      <p>{{ $wp.Description }} Weapon +{{ $wp.Value }}%</p>
      {{ end }}
      {{ end }}
      <hr>
      {{ end }}

      {{ if $cult.PassionList }}
      <h4>Passions</h4>
      <table class="table table-sm table-striped">
          <tr>
            <th>Passion</th>
            <th>Bonus</th>
          </tr>
          {{ range $passion := $cult.PassionList }}
          <tr>
            <td>
                {{ $passion.CoreString }} {{ if $passion.UserString }}({{$passion.UserString}}){{ end }}
            </td>
            <td>
              +10%
            </td>
          </tr>
          {{end}}
      </table>
      <hr>
      {{ end }}

      {{ if $cult.AssociatedCults }}
      <h4>Associated Cults:</h4>
      <ul>
        {{ range $c := $cult.AssociatedCults }}
        <li><a href="/view_cult/{{ slugify $c.Name }}" >{{ $c.Name }}</a></li>
        {{ end }}
      </ul>
      <hr>
      {{ end }}

    </div> <!-- End Passions & SkillChoices COL 1 -->

    </form>
  </div> <!-- END outer ROW -->
</div> <!-- END container -->

{{ end }}
<!-- end content -->