
{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>{{ $character.Setting }} - {{ $character.Name }}</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $open := .CharacterModel.Open }}
{{ $ID := .CharacterModel.ID }}
{{ $IsAuthor := .IsAuthor }}
{{ $IsAdmin := .IsAdmin }}
{{ $author := .CharacterModel.Author }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <h3>{{ $character.Name }}</h3>
            <br>
            <h5>{{ $character.Occupation.Name }} of {{ $character.Homeland.Name }}, {{ $character.Cult.Rank }} of {{ $character.Cult.Name }}</h5>
            

          <img class ="card-img-top" data-src="" alt="Thumbnail"
          style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
          data-holder-rendered="true">

            <p>Author: {{ $author.UserName }}</p>
            <hr>


            <form action="" method="POST">
            <h5>Description</h5>
            {{ $character.Description }}
            <hr>

            
            {{ if $IsAuthor }}
            <button class="btn btn-primary" type="submit" value="Update Character State">Update State</button>
            {{ end }}
            <hr>
            {{ if (or $IsAuthor (eq $IsAdmin "true")) }}
              <a class="btn btn-primary" href="/modify/{{ $ID }}">Edit</a>
              <a class="btn btn-danger" href="/delete/{{ $ID }}">Delete</a></h4>
              {{ else }}
              {{ if $open }}
              <a class="btn btn-primary" href="/add_to_user_roster/{{ $ID }}">Add to Personal Roster</a>
              {{ end }}
            {{ end }}
            <hr>
            
          </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Statistics</h3>
        {{ range $stat := $character.Statistics }}
          <strong title="B: {{ $stat.Base }}, R: {{ $stat.RuneBonus }}">{{ $stat }}</strong> ({{$stat.RuneBonus}})
        {{ end }}

        <hr>

        <h3>Attributes</h3>
        {{ range $stat := $character.Attributes }}
          <strong>{{ $stat }}</strong>
        {{ end }}

        <hr>

        <h3>Elemental Runes</h3>
        {{ range $r := $character.ElementalRunes }}
          <strong>{{ $r }}</strong>
        {{ end }}

        <hr>

      <h3>Power Runes</h3>
        {{ range $r := $character.PowerRunes }}
          <strong>{{ $r }}</strong>
        {{ end }}

        <hr>
        
        <h3>Abilities</h3>
        {{ range $ab := $character.Abilities }}
          <strong>{{ $ab }}</strong>
        {{ end }}

        <hr>

        <h3>Skill Categories</h3>
        {{ range $sc := $character.SkillCategories }}
          <strong>{{ $sc }}</strong>
        {{ end }}

        <hr>

      

      </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h3>Skills</h3>
        {{ range $skill := $character.Skills }}
        <ul>
        <strong title="{{ $skill.Name }}: B: {{ $skill.Base }}, HL: {{ $skill.HomelandValue }}, OC: {{ $skill.OccupationValue }}, CU: {{ $skill.CultValue }}, CV: {{ $skill.CategoryValue }} 
        {{ range $u := $skill.Updates }}
        {{ $u.Event }}: {{ $u.Value }}
        {{end}}">{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}): {{ $skill.Total }}%</strong>
        </ul>
        {{ end }}
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3">

      <h4>Rune Spells</h4>
    
    {{ range $spell := $character.RuneSpells }}
    <p>{{ $spell }}</p>    
    {{end}}
    <hr>

    <h4>Spirit Magic</h4>
    
    {{ range $spell := $character.SpiritMagic }}
    <p>{{ $spell }}</p>    
    {{end}}

    <hr>

        <h4>Hit Locations</h4>
        <hr>

        <h4>Equipment</h4>
                {{ range $e := $character.Equipment }}
                    <p>{{ $e }}</p>
                {{ end }}
        
      </div>
      </div>
      </div>

{{end}}
