{{ define "title"}}

<title>Encounter: {{ .Encounter.Name }}</title>

{{ end }}

{{define "content"}}

{{ $encounter := .Encounter}}
{{ $factions := .FactionMap }}
{{ $IsAuthor := .IsAuthor }}
{{ $IsAdmin := .IsAdmin }}

      <div class="container">
        <hr>
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <h3>{{ $encounter.Name }} {{ if $IsAuthor }}
                    <a class="btn btn-sm btn-primary" href="/modify_encounter/{{ $encounter.Slug }}">Edit</a>
                    <a class="btn btn-sm btn-danger" href="/delete_encounter/{{ $encounter.Slug }}">Delete</a>
                    {{ end }}</h3>
            <hr>
            <p>{{ $encounter.Description }}</p>
            <hr>

          </div>
        <div class="row">
            <form class="form-inline">

            <div class="col-sm-12 col-md-12 col-lg-12">
              
                {{ range $fac, $characters := $factions }}
                <h4>{{ $fac }}</h4>
                {{ range $c := $characters }}
                <h5>{{ $c.Character.Name }} of {{ $c.Character.Homeland.Name }}</h5>
                <p>{{ $c.Character.Occupation.Name }} of {{ $c.Character.Cult.Name }}</p>
            </div>

                <div class="col-md-4 col-sm-4 col-lg-4">
                        
                </div>

                <div class="col-md-12 col-sm-12 col-lg-12">

                <table class="table table-sm table-striped">
                        <thead>
                                <td style="text-align:center"><strong>CHA</strong></td>
                                <td style="text-align:center"><strong>DEX</strong></td>
                                <td style="text-align:center"><strong>INT</strong></td>
                                <td style="text-align:center"><strong>POW</strong></td>
                                <td style="text-align:center"><strong>SIZ</strong></td>
                                <td style="text-align:center"><strong>CON</strong></td>
                                <td style="text-align:center"><strong>STR</strong></td>
      
                        </thead>
                        <tr>
                                    <td style="text-align:center">{{ (index $c.Character.Statistics "CHA").Total }}</td>
                                    <td style="text-align:center">{{ (index $c.Character.Statistics "DEX").Total }}</td>
                                    <td style="text-align:center">{{ (index $c.Character.Statistics "INT").Total }}</td>
                                    <td style="text-align:center">{{ (index $c.Character.Statistics "POW").Total }}</td>
                                    <td style="text-align:center">{{ (index $c.Character.Statistics "SIZ").Total }}</td>
                                    <td style="text-align:center">{{ (index $c.Character.Statistics "CON").Total }}</td>
                                    <td style="text-align:center">{{ (index $c.Character.Statistics "STR").Total }}</td>
                        </tr>
                    </table>
                    
                    <h5>Attributes</h5>
                    <table class="table table-sm table-striped">
                        <thead>
                            {{ range $a := $c.Character.Attributes }}
                            <td><strong>{{ $a.Name }}</strong></td>
                            {{ end }}
                        </thead>
                    <tr>
                        {{ range $a := $c.Character.Attributes }}
                        {{ if ne $a.Text ""}}
                        <td style="text-align:center">{{ $a.Text }}</td>
                        {{ else }}
                        <td style="text-align:center">{{ $a.Total }}</td>
                        {{ end }}
                        {{ end }}
                    </tr>
                </table>

                <table class="table table-sm table-striped">
                    <thead>
                        <td><strong>HP</strong></td>
                        <td><strong>MP</strong></td>
                        <td><strong>RP</strong></td>
                        <td><strong>Move</strong></td>
                        <td><strong>Dodge</strong></td>

                    </thead>
                    <tr>

                            <td>                            
                                    <span {{ if lt $c.Character.CurrentHP 3 }}style="color:red"{{end}}>{{ $c.Character.CurrentHP }}/{{ $c.Character.Attributes.HP.Max }}</span>
                                </td>
                  
                          <td><div class="input-group">
                                    <input type="number" class="form-control" aria-describedby="MP-addon" name="MP" value ="{{ $c.Character.CurrentMP }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="MP-addon">/{{ $c.Character.Attributes.MP.Max }}</span>
                                      </div>
                          </div></td>
                  
                          <td><div class="input-group">
                                    <input type="number" class="form-control" aria-describedby="RP-addon" name="RP" value ="{{ $c.Character.CurrentRP }}">
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="RP-addon">/{{ $c.Character.Cult.NumRunePoints }}</span>
                                      </div>
                          </div></td>
                          <td style="text-align:center">8</td>
                          <td style="text-align:center">{{ (index $c.Character.Skills "Dodge") }}</td>
                    </tr>
                </table>

                <h5>Hit Locations</h5>

                <table>
                    <thead>
                        {{ range $s := $c.Character.HitLocationMap }}
                        {{ range $k, $v := $c.Character.HitLocations }}
                        {{ if eq $s $k }}
                            <td style="text-align:center">{{ formatIntArray $v.HitLoc }}<br><strong>{{ $v.Name }} A{{ $v.Armor }}</strong></td>
                        {{ end }} <!-- END if -->
                        {{ end }}
                        {{ end }} <!-- END map -->
                    </thead>
                  <tr>
                      {{ range $s := $c.Character.HitLocationMap }}
                        {{ range $k, $v := $c.Character.HitLocations }}
                        {{ if eq $s $k }}
                  <td style="text-align:center">
                  {{ if (or $IsAuthor (eq $IsAdmin "true")) }}
                  <div class="input-group mb-3">
                        <input type="number" class="form-control input-sm" aria-describedby="{{ $k }}-HP-addon" name="{{ $k }}-HP" value ="{{ $v.Value }}">
                    <div class="input-group-append">
                            <div class="input-group-text input-sm">/{{ $v.Max }}</div>
                        </div>         
                  </div>
                  {{ else }}
                  {{ $v.Value }} /{{ $v.Max}}
                  {{ end }}</td>                
              {{ end }} <!-- END if -->
              {{ end }}
              {{ end }} <!-- END map -->
                  </tr>
                </table>

                {{ if gt (len $c.Character.MeleeAttacks) 0 }}
        <h5>Melee Attacks</h5>
        <table class="table table-sm table-striped">
          <tr>
            <th>Attack</th>
            <th>Skill</th>
            <th>Damage</th>
            <th>SR</th>
            <th>HP</th>
          </tr>
        {{ range $k, $v := $c.Character.MeleeAttacks }}
        <tr>
          <td>{{ $k }}</td>
          <td style="text-align:center">{{ $v.Skill.Total }}%</td>
          <td style="text-align:center">{{ $v.DamageString }}</td>
          <td style="text-align:center">{{ $v.StrikeRank }}</td>
          <td>
          <div class="input-group">
            <input class="col-6" {{ if lt $v.Weapon.CurrentHP 3 }}style="color:red"{{end}} type="number" class="form-control" aria-describedby="{{ $k }}-HP" name="{{ $k }}-HP" value ="{{ $v.Weapon.CurrentHP }}">
            <div class="input-group-append">
              <span class="input-group-text" id="{{ $k }}-HP-addon">/{{ $v.Weapon.HP }}</span>
            </div>
          </div>
        </td>
        </tr>
        {{ end }}
        </table>
        {{ end }}

        {{ if gt (len $c.Character.RangedAttacks) 0 }}
        <h5>Ranged Attacks</h5>
        <table class="table table-sm table-striped">
                <tr>
            <th>Attack</th>
            <th>Skill</th>
            <th>Damage</th>
            <th>SR</th>
            <th>HP</th>
            <th>Range</th>
          </tr>
        {{ range $k, $v := $c.Character.RangedAttacks }}
        <tr>
          <td>{{ $k }}</td>
          <td style="text-align:center">{{ $v.Skill.Total }}%</td>
          <td style="text-align:center">{{ $v.DamageString }}</td>
          <td style="text-align:center">{{ $v.StrikeRank }}</td>
          <td style="text-align:center">{{ $v.Weapon.HP }}</td>
          <td style="text-align:center">{{ $v.Weapon.Range }}m</td>
        </tr>
        {{ end }}
        </table>
        {{ end }}
        <hr style="height:10px">
        {{ end }} <!-- END Characters -->
              <hr>
              {{ end }} <!-- END faction -->


              </div> <!-- End Character Column -->

            </form>
          </div> <!-- END outer ROW -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
