{{ define "title"}}
{{ $homeland := .HomelandModel.Homeland }}

<title>{{ $homeland.Name }}</title>
<meta property="og:image" content="https://s3.amazonaws.com/runequeset{{ .HomelandModel.Image.Path }}" />
<meta property="og:site_name" content="Runequest Glorantha Character Creator" />
<meta property="og:title" content="RQG: View Homeland {{ .HomelandModel.Homeland.Name }}" />
<meta property="og:description" content="{{ sliceString .HomelandModel.Homeland.Description 144 }}" />
<meta name="twitter:card" content="summary_large_image">

{{ end }}

{{ define "content" }}

{{ $IsAuthor := .IsAuthor }}
{{ $IsAdmin := .IsAdmin }}
{{ $homeland := .HomelandModel.Homeland }}
{{ $ID := .HomelandModel.ID }}
{{ $skills := .Skills }}
{{ $statOrder := .StringArray }}

<div class="container">
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">

  <h4>{{ $homeland.Name }} <img 
    class alt="{{ $homeland.RuneBonus }}"
    title="{{ $homeland.RuneBonus }}"
    style="width: 20px; height: 20px" 
    src="https://runequeset.s3.amazonaws.com/media/Runes/{{ if eq $homeland.RuneBonus  "Fire/Sky"}}Fire Sky{{else}}{{ $homeland.RuneBonus  }}{{end}}.png"
  ></h4> 
  
  <img class ="card-img-top" data-src="" alt="Thumbnail"
  style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .HomelandModel.Image.Path }}"
  data-holder-rendered="true">
  <p>Author: {{ .HomelandModel.Author.UserName }}</p>

  <hr>
  <h6>Rune: {{ $homeland.RuneBonus }} 
  </h6>
  <hr>

  <p>{{ .Markdown }}</p>
  <hr>
  {{ if $homeland.Notes }}
  <h4>Creation Notes</h4>
  {{ toMarkdown ($homeland.Notes) }}
  <hr>
  {{ end }}
  
  {{ if (or $IsAuthor (eq $IsAdmin "true")) }}
  <a class="btn btn-sm btn-primary" href="/modify_homeland/{{ $ID }}">Modify</a>
  <a class="btn btn-sm btn-danger" href="/delete_homeland/{{ $ID }}">Delete</a>
  {{ end }}


</div>

<div class="col-sm-4 col-md-4 col-lg-4">

<h4>Statistics</h4>
<table class="table table-sm table-striped">
  <tr>
    <th>Statistic</th>
    <th>Dice</th>
    <th>Max</th>
  </tr>
  {{ range $o := $statOrder }}
  {{ range $k, $v := $homeland.StatisticFrames }}
  {{ if eq $k $o }}
  <tr>
    <td>
        {{ $k }}
    </td>
    <td>
        {{ $v.Dice }}d6{{ if eq $v.Modifier 0 }}{{else}}{{ if gt $v.Modifier 0 }}+{{ $v.Modifier }}{{ else }}{{ $v.Modifier }}{{ end }}{{ end }}
    </td>
    <td>
        {{ $v.Max }}
    </td>
  </tr>
    {{ end }}
    {{ end }}
    {{ end }}
</table>

<hr>
  <table class="table table-sm table-striped">
    <tr>
      <th>Movement</th>
      <th>Value</th>
    </tr>
  {{ range $mv := $homeland.Movement }}
            <tr>
              <td>{{ $mv.Name }}</td>
              <td style="text-align:center">{{ $mv.Value }}</td>
            </tr>
            {{ end }}
  </table>
<hr>
  <p>Hit Locations: {{ $homeland.LocationForm }}</p>
<hr>

{{ if $homeland.PassionList }}
<h4>Passions</h4>
<table class="table table-sm table-striped">
    <tr>
      <th>Passion</th>
      <th>Bonus</th>
    </tr>
    {{ range $passion := $homeland.PassionList }}
    <tr>
      <td>
          {{ $passion.CoreString }} {{ if $passion.UserString }}({{$passion.UserString}}){{ end }}
      </td>
      <td>
        +10%
      </td>
    </tr>
    {{end}}
</table>
<hr>
{{ end }}

</div>

<div class="col-sm-4 col-md-4 col-lg-4">

    <h4>Skills</h4>
    <table class="table table-sm table-striped">
        <tr>
          <th>Skill</th>
          <th>Base</th>
          <th>Bonus</th>
        </tr>
        {{ range $skill := $homeland.Skills }}
        <tr>
          <td>
              {{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{$skill.UserString}}){{end}}
          </td>
          <td>
            {{ $skill.Base }}
          </td>
          <td style="text-align:center">
              +{{ $skill.HomelandValue }}%
          </td>
        {{end}}
      </table>

      <hr>

    {{ if $homeland.SkillChoices }}
    <h4>Skill Choices</h4>
    {{ range $schoice := $homeland.SkillChoices }}
    {{ if gt (len $schoice.Skills) 0}}
    <h5>Choose between</h5>
    <p>
        {{ range $c, $skill := $schoice.Skills }}
        {{ $skill.CoreString }} {{ if $skill.UserChoice }}({{$skill.UserString}}){{end}} +{{ $skill.HomelandValue }}%
        {{ if eq $c 0 }}<strong>--- OR ----</strong>{{else}}</p>{{ end }}
        {{ end }}
        <hr>
        {{ end }}
    {{ end }}
    {{ end }}

    <hr>

</div>  

</div>

</div>

{{ end }}
