
{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>View {{ $character.Name }}</title>
<meta property="og:site_name" content="Cradle of Heroes" />
<meta property="og:title" content="RQG: View {{ $character.Name }}" />
<meta property="og:image" content="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}" />
<meta property="og:description" content="{{ sliceString $character.Description 144 }}" />
<meta name="twitter:card" content="summary_large_image">

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
    text-align: center;
}

</style>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $open := .CharacterModel.Open }}
{{ $ID := .CharacterModel.ID }}
{{ $IsAuthor := .IsAuthor }}
{{ $IsAdmin := .IsAdmin }}
{{ $author := .CharacterModel.Author }}
{{ $baseSkills := index (splitSkills $character.Skills) 0 }}
{{ $secondarySkills := index (splitSkills $character.Skills) 1 }}
{{ $primarySkills := index (splitSkills $character.Skills) 2 }}
{{ $statOrder := .StringArray }}
{{ $skillOrder := .CategoryOrder }}

      <div class="container">
        <hr>
        <div class="row" id="main">
          <div class="col-sm-3 col-md-3 col-lg-3">
            <h4>{{ $character.Name }}</h4>

            <h6>{{ range $r := $character.CoreRunes }}
                <img 
                  class alt="{{$r.Name}}"
                  style="width: 20px; height: 20px" 
                  src="https://runequeset.s3.amazonaws.com/media/Runes/{{ if eq $r.Name "Fire/Sky"}}Fire Sky{{else}}{{ $r.Name }}{{end}}.png"
                >
                  {{ end }}
            </h6>

            {{ if or (eq $character.Role "Player Character") (eq $character.Role "") }}
            <p><strong><a href="/view_occupation/{{ slugify $character.Occupation.Name }}" >{{ $character.Occupation.Name }}</a> of <a href="/view_homeland/{{ slugify $character.Homeland.Name }}" >{{ $character.Homeland.Name }}</a>, {{ $character.Cult.Rank }} of <a href="/view_cult/{{ slugify $character.Cult.Name }}" >{{ $character.Cult.Name }}</a></strong></p>
              {{ if $character.ExtraCults }}
              {{ range $ec := $character.ExtraCults }}
                {{ $ec.Rank }} of {{ $ec.Name }}<br>
              {{ end }}
              {{ end }}
              {{ if ne $character.Clan "" }}{{ $character.Clan }} Clan | {{end}}{{ if ne $character.Tribe "" }}{{ $character.Tribe }} Tribe
            {{ end }}</h5>
            {{ else }}
            <p><strong>{{ $character.Role }}</strong></p>
            {{ end }}
            

          <img class ="card-img-top" data-src="" alt="Thumbnail"
          style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .CharacterModel.Image.Path }}"
          data-holder-rendered="true">

            <p>Author: {{ $author.UserName }}</p>
            <hr>


            <form action="" method="POST">
            <h5>Description</h5>{{ if gt (len $character.Description) 144 }}
            <button class="btn btn-link btn-sm" data-toggle="collapse" type="button" data-target="#description">Show</button></h5>
            <div id="description" class="collapse"><hr><p>{{ .Markdown }}</p></div>
            {{ else }}
            <p>{{ .Markdown }}</p>
            {{ end }}
            <hr>

            {{ if or (eq $character.Role "Player Character") (eq $character.Role "") }}
            <p>Standard of Living: {{ $character.StandardofLiving }}</p>
            <p>Ransom: {{ $character.Ransom }} Lunars</p>
            <hr>
            {{ end }}
            
            {{ if (or $IsAuthor (eq $IsAdmin "true")) }}
              {{ if not $character.CreationSteps.Complete }}
              <a class="btn btn-sm btn-primary" href="/{{ generateCharacterCreationURL $character.CreationSteps }}/{{ $ID }}">Resume Creation</a>
              {{ else }}
              <div class="btn-group">
              <button class="btn btn-sm btn-success" type="submit" value="Save Character State" title="Save current character state">Save</button> 
              <div class="dropdown">
                <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
                  Edit
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" title="Edit Character Abilities" href="/modify/{{ $ID }}">Edit Character</a>
                    <a class="dropdown-item" title="Add new or custom skills" href="/add_skills/{{ $ID }}">Add Skills</a>
                    <a class="dropdown-item" title="Add new or custom passions" href="/add_passions/{{ $ID }}">Add Passions</a>
                    <a class="dropdown-item" title="Add/edit spells and magic" href="/edit_magic/{{ $ID }}">Edit Magic</a>
                    <a class="dropdown-item" title="Add or edit weapons & armor" href="/equip_weapons_armor/{{ $ID }}">Attacks & Armor</a>
                    <div class="dropdown-divider"></div>         
                    <a class="dropdown-item" title="Create a duplicate of the character in my roster" href="/duplicate_character/{{ $ID }}">Duplicate</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" title="Permanently delete the character" href="/delete/{{ $ID }}">Delete</a>
                  </div>
                </div>
              </div>
              {{ end }}
              {{ else }}
              {{ if $open }}
              <a class="btn btn-sm btn-primary" href="/add_to_user_roster/{{ $ID }}">Add to my Roster</a>
              {{ end }}
              {{ end }}
              <a class="btn btn-sm btn-info"id="js-copy-character-btn" title="Copy text to Clipboard">Copy Text</a>
              <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-size="large" data-text="{{ sliceString $character.Description 144 }}" data-via="d20dev" data-hashtags="runequest #glorantha" data-show-count="true">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <hr>
            
          </div>

      <div class="col-sm-3 col-md-3 col-lg-3">
        <h5>Characteristics</h5>
        <table class="table table-sm table-striped">
            {{ range $o := $statOrder }}
            {{ range $k, $stat := $character.Statistics }}
            {{ if eq $k $o }}
            {{ if gt $stat.Total 0 }}
            <tr title="Base: {{ $stat.Base }}
            Rune Bonus: {{ $stat.RuneBonus }}
            {{ range $u := $stat.Updates }}
            {{ $u.Event }}: {{ $u.Value }} ({{ $u.Date }})
            {{end}}">
                <td>{{ $stat.Name }}
                {{ if and (eq $k "POW") ( $IsAuthor) }}
                <input type="checkbox" name="{{ $k }}-XP" value="{{ $stat.ExperienceCheck }}" id="checkbox" {{ if $stat.ExperienceCheck }}checked{{end}}>
                {{ end }}
                </td>
                <td style="text-align:center">{{ $stat.Total }}</td>
                <td style="text-align:center">{{ multiply $stat.Total 5}}%</td>
            </tr>
            {{ end }} <!-- END GT -->
            {{ end }} <!-- End IF -->
            {{ end }} <!-- END StatOrder -->
                {{ end }} <!-- End Stats -->
        </table>

        <h5>Attributes</h5>
            <table class="table table-sm table-striped">

            {{ if not (or $IsAuthor (eq $IsAdmin "true")) }}

            <tr>
                <td>Rune Points ({{ $character.Cult.Name }})</td>
                <td style="text-align:center">{{ $character.Cult.NumRunePoints }}</td>
            </tr>
            {{ if $character.ExtraCults }}
              {{ range $ec := $character.ExtraCults }}
            <tr>
                <td>Rune Points ({{ $ec.Name }})</td>
                <td style="text-align:center">{{ $ec.RunePoints }}</td>
            </tr>
              {{ end }} <!-- End ExtraCults range -->
            {{ end }} <!-- END if extracults -->
            {{ end }} <!-- END not in play -->

            {{ range $a := $character.Attributes }}
            <tr>
                <td>{{ $a.Name }}</td>
                {{ if ne $a.Text ""}}
                <td style="text-align:center">{{ $a.Text }}</td>
                {{ else }}
                <td style="text-align:center">{{ $a.Total }}</td>
                {{ end }}

            </tr>
            {{ end }}
            </table>
        
      </div>

      <div class="col-sm-3 col-md-3 col-lg-3">

      {{ if ne $character.Role "Player Character"}}
      <h5>Skills</h5>
      <table class="table table-sm table-striped">
                {{ range $skill := $character.Skills }}
                <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}) {{ if $IsAuthor }}
                            <input type="checkbox" name="{{ $skill.Name }}-XP" value="{{ $skill.ExperienceCheck }}" id="checkbox" {{ if $skill.ExperienceCheck }}checked{{end}}>
                            {{ end }}
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>
                {{ end }}
            </table>
      {{ end }}

        <h5>Runes</h5>
        <table class="table table-sm table-striped">
        {{ range $r := $character.ElementalRunes }}
        {{ if gt $r.Total 0 }}
        <tr title="{{ $r.Name }}
        Base: {{ $r.Base }}
        Homeland: {{ $r.HomelandValue }}%
        Occupation: {{ $r.OccupationValue }}%
        Cult: {{ $r.CultValue }}%{{ range $u := $r.Updates }}
        {{ $u.Event }}: {{ $u.Value }}%{{end}}">
              <td>{{ $r.Name }} 
              <img 
                  class alt="{{$r.Name}}"
                  style="width: 18px; height: 18px" 
                  src="https://runequeset.s3.amazonaws.com/media/Runes/{{ if eq $r.Name "Fire/Sky"}}Fire Sky{{else}}{{ $r.Name }}{{end}}.png"
                >
                {{ if $IsAuthor }}
                    <input type="checkbox" name="{{ $r.Name }}-XP" value="{{ $r.ExperienceCheck }}" id="checkbox" {{ if $r.ExperienceCheck }}checked{{end}}>
                    {{ end }}</td>
            <td style="text-align:center">{{ $r.Total }}%</td>
        </tr>
        {{ end }} <!-- END gt loop -->
        {{ end }}

        {{ range $r := $character.PowerRunes }}
        {{ if or (and (ne $r.OpposedAbility "") (gt $r.Total 50)) (and (not $r.OpposedAbility) (gt $r.Total 0) ) }}
        <tr title="{{ $r.Name }}
        Base: {{ $r.Base }}
        Homeland: {{ $r.HomelandValue }}%
        Occupation: {{ $r.OccupationValue }}%
        Cult: {{ $r.CultValue }}%{{ range $u := $r.Updates }}
        {{ $u.Event }}: {{ $u.Value }}%{{end}}">
            
              <td>{{ $r.Name }} 
              <img 
                  class alt="{{$r.Name}}"
                  style="width: 18px; height: 18px" 
                  src="https://runequeset.s3.amazonaws.com/media/Runes/{{ $r.Name }}.png"
                >
                {{ if $IsAuthor }}
            <input type="checkbox" name="{{ $r.Name }}-XP" value="{{ $r.ExperienceCheck }}" id="checkbox" {{ if $r.ExperienceCheck }}checked{{end}}>
            {{ end }}</td>
            <td style="text-align:center">{{ $r.Total }}%</td>
            
        </tr>
        {{ end }} <!-- END ne loop -->
        {{ end }}

        {{ range $r := $character.ConditionRunes }}
        {{ if gt $r.Total 0 }}
        <tr title="{{ $r.Name }}
        Base: {{ $r.Base }}
        Homeland: {{ $r.HomelandValue }}%
        Occupation: {{ $r.OccupationValue }}%
        Cult: {{ $r.CultValue }}%{{ range $u := $r.Updates }}
        {{ $u.Event }}: {{ $u.Value }}%{{end}}">
            
              <td>{{ $r.Name }} 
              <img 
                  class alt="{{$r.Name}}"
                  style="width: 18px; height: 18px" 
                  src="https://runequeset.s3.amazonaws.com/media/Runes/{{ if eq $r.Name "Fire/Sky"}}Fire Sky{{else}}{{ $r.Name }}{{end}}.png"
                >
                {{ if $IsAuthor }}
            <input type="checkbox" name="{{ $r.Name }}-XP" value="{{ $r.ExperienceCheck }}" id="checkbox" {{ if $r.ExperienceCheck }}checked{{end}}>
            {{ end }}</td>
            <td style="text-align:center">{{ $r.Total }}%</td>
            
        </tr>
        {{ end }} <!-- END if gt 0 loop -->
        {{ end }}
        </table>

        {{ if gt (len $character.RuneSpells) 0 }}
        <h5>Rune Spells</h5>
          
        <table class="table table-sm table-striped">

        {{ range $spell := $character.RuneSpells }}
        <tr>
            <td>{{ $spell.Name }}</td>
            <td style="text-align:center">{{ $spell.Cost }}</td>  
        </tr>
        {{end}}
        </table>
        {{ end }}

        <table class="table table-sm table-striped">
          <tr>
            <th>Movement</th>
            <th>Rate</th>
          </tr>
          {{ range $mv := $character.Movement }}
            <tr>
              <td>{{ $mv.Name }}</td>
              <td style="text-align:center">{{ $mv.Value }}</td>
            </tr>
            {{ end }}
        </table>

      </div>

      <div class="col-sm-3 col-md-3 col-lg-3">

          <h5>Passions & Reputation</h5>
          <table class="table table-sm table-striped">
            
          {{ range $a := $character.Abilities }}
          <tr title="{{ $a.Name }}{{ range $u := $a.Updates }}
          {{ $u.Event }}: {{ $u.Value }}%{{end}}">
              <td>{{ $a.Name }} {{ if $IsAuthor }}
                    <input type="checkbox" name="{{ $a.Name }}-XP" value="{{ $a.ExperienceCheck }}" id="checkbox" {{ if $a.ExperienceCheck }}checked{{end}}>
                    {{ end }}</td>
            <td style="text-align:center">{{ $a.Total }}%</td>
          </tr>
          {{ end }}
          </table>

          {{ if gt (len $character.SpiritMagic) 0 }}
        <h5>Spirit Magic</h5>
          <table class="table table-sm table-striped">

          
          {{ range $spell := $character.SpiritMagic }}
          <tr>
                <td>{{ $spell.Name }}</td>
                <td style="text-align:center">{{ $spell.Cost }}</td>  
            </tr>          {{end}}
          </table>
          {{ end }}

        
        
      <div class="pagebreak"> </div>
      </div> <!-- End Div Column -->
      </div> <!-- End Div Row -->
      <hr>

      {{ if eq $character.Role "Player Character"}}
        <h5 id="skills" style="background:black; color:white">Skills <a href="#gameplay"> [Gameplay]</a> <a href="#main"> [Main]</a></h5>
        <ul class="nav nav-tabs" id="skillTabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="primary-skills" data-toggle="tab" href="#advanced" aria-controls="advanced" aria-selected="true">Advanced</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="all-skills" data-toggle="tab" href="#all" aria-controls="all" aria-selected="false">All</a>
          </li>
        </ul>

      <div class="tab-content" id="SkillTab">
      <div class="tab-pane fade show active" id="advanced" role="tabpanel" aria-labelledby="advanced-tab">
            

      <div class="row">
        <div class="col-md-3 col-lg-3">
            {{ range $k, $sc := $character.SkillCategories }}
            {{ if or (or (eq $k "Agility") (eq $k "Communication")) (eq $k "Manipulation") }}
            <h6><strong>{{ $sc }}</strong></h6>
            <table class="table table-sm table-striped">
            {{ range $skill := $character.Skills }}
            {{ if and (gt $skill.Total 0) (ne $skill.Total (add $skill.Base $skill.CategoryValue)) }}
            {{ if eq $skill.Category $sc.Name }}
            <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}) {{ if $IsAuthor }}
                            <input type="checkbox" name="{{ $skill.Name }}-XP" value="{{ $skill.ExperienceCheck }}" id="checkbox" {{ if $skill.ExperienceCheck }}checked{{end}}>
                            {{ end }}
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>

            {{ end }} <!-- End skill in category if -->
            {{ end }} <!-- End if not base -->
            {{ end }} <!-- End skill loop -->
            </table>
            {{ end }} <!-- End less than if -->
            {{ end }} <!-- End skillOrder lopp -->
        </div>

        <div class="col-md-3 col-lg-3">
            {{ range $k, $sc := $character.SkillCategories }}
            {{ if eq $k "Knowledge" }}
            <h6><strong>{{ $sc }}</strong></h6>
            <table class="table table-sm table-striped">
            {{ range $skill := $character.Skills }}
            {{ if and (gt $skill.Total 0) (ne $skill.Total (add $skill.Base $skill.CategoryValue)) }}
            {{ if eq $skill.Category $sc.Name }}
            <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}) {{ if $IsAuthor }}
                            <input type="checkbox" name="{{ $skill.Name }}-XP" value="{{ $skill.ExperienceCheck }}" id="checkbox" {{ if $skill.ExperienceCheck }}checked{{end}}>
                            {{ end }}
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>

            {{ end }} <!-- End skill in category if -->
            {{ end }} <!-- End if not base -->
            {{ end }} <!-- End skill loop -->
            </table>
            {{ end }} <!-- End less than if -->
            {{ end }} <!-- End skillOrder lopp -->

        </div>

        <div class="col-md-3 col-lg-3">
            {{ range $k, $sc := $character.SkillCategories }}
            {{ if or (or (eq $k "Magic") (eq $k "Ranged") (eq $k "Perception")) }}
            <h6><strong>{{ $sc }}</strong></h6>
            <table class="table table-sm table-striped">
            {{ range $skill := $character.Skills }}
            {{ if and (gt $skill.Total 0) (ne $skill.Total (add $skill.Base $skill.CategoryValue)) }}
            {{ if eq $skill.Category $sc.Name }}
            <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}) {{ if $IsAuthor }}
                            <input type="checkbox" name="{{ $skill.Name }}-XP" value="{{ $skill.ExperienceCheck }}" id="checkbox" {{ if $skill.ExperienceCheck }}checked{{end}}>
                            {{ end }}
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>

            {{ end }} <!-- End skill in category if -->
            {{ end }} <!-- End if not base -->
            {{ end }} <!-- End skill loop -->
            </table>
            {{ end }} <!-- End less than if -->
            {{ end }} <!-- End skillOrder lopp -->

        </div>

        <div class="col-md-3 col-lg-3">
            {{ range $k, $sc := $character.SkillCategories }}
            {{ if or (or (eq $k "Melee") (eq $k "Shield") (eq $k "Stealth")) }}
            <h6><strong>{{ $sc }}</strong></h6>
            <table class="table table-sm table-striped">
            {{ range $skill := $character.Skills }}
            {{ if and (gt $skill.Total 0) (ne $skill.Total (add $skill.Base $skill.CategoryValue)) }}
            {{ if eq $skill.Category $sc.Name }}
            <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}) {{ if $IsAuthor }}
                            <input type="checkbox" name="{{ $skill.Name }}-XP" value="{{ $skill.ExperienceCheck }}" id="checkbox" {{ if $skill.ExperienceCheck }}checked{{end}}>
                            {{ end }}
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>

            {{ end }} <!-- End skill in category if -->
            {{ end }} <!-- End if not base -->
            {{ end }} <!-- End skill loop -->
            </table>
            {{ end }} <!-- End less than if -->
            {{ end }} <!-- End skillOrder lopp -->

        </div>


      </div> <!-- End Skill Row-->
      </div> <!-- End Tab pane 1-->

      <div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
            
      <div class="row">
        <div class="col-md-3 col-lg-3">
            {{ range $k, $sc := $character.SkillCategories }}
            {{ if or (or (eq $k "Agility") (eq $k "Communication")) (eq $k "Manipulation") }}
            <h6><strong>{{ $sc }}</strong></h6>
            <table class="table table-sm table-striped">
            {{ range $skill := $character.Skills }}
            {{ if eq $skill.Category $sc.Name }}
            <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}) {{ if $IsAuthor }}
                            <input type="checkbox" name="{{ $skill.Name }}-XP" value="{{ $skill.ExperienceCheck }}" id="checkbox" {{ if $skill.ExperienceCheck }}checked{{end}}>
                            {{ end }}
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>

            {{ end }} <!-- End skill in category if -->
            {{ end }} <!-- End skill loop -->
            </table>
            {{ end }} <!-- End less than if -->
            {{ end }} <!-- End skillOrder lopp -->
        </div>

        <div class="col-md-3 col-lg-3">
            {{ range $k, $sc := $character.SkillCategories }}
            {{ if eq $k "Knowledge" }}
            <h6><strong>{{ $sc }}</strong></h6>
            <table class="table table-sm table-striped">
            {{ range $skill := $character.Skills }}
            {{ if eq $skill.Category $sc.Name }}
            <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}) {{ if $IsAuthor }}
                            <input type="checkbox" name="{{ $skill.Name }}-XP" value="{{ $skill.ExperienceCheck }}" id="checkbox" {{ if $skill.ExperienceCheck }}checked{{end}}>
                            {{ end }}
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>

            {{ end }} <!-- End skill in category if -->
            {{ end }} <!-- End skill loop -->
            </table>
            {{ end }} <!-- End less than if -->
            {{ end }} <!-- End skillOrder lopp -->

        </div>

        <div class="col-md-3 col-lg-3">
            {{ range $k, $sc := $character.SkillCategories }}
            {{ if or (or (eq $k "Magic") (eq $k "Ranged") (eq $k "Perception")) }}
            <h6><strong>{{ $sc }}</strong></h6>
            <table class="table table-sm table-striped">
            {{ range $skill := $character.Skills }}
            {{ if eq $skill.Category $sc.Name }}
            <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}) {{ if $IsAuthor }}
                            <input type="checkbox" name="{{ $skill.Name }}-XP" value="{{ $skill.ExperienceCheck }}" id="checkbox" {{ if $skill.ExperienceCheck }}checked{{end}}>
                            {{ end }}
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>

            {{ end }} <!-- End skill in category if -->
            {{ end }} <!-- End skill loop -->
            </table>
            {{ end }} <!-- End less than if -->
            {{ end }} <!-- End skillOrder lopp -->

        </div>

        <div class="col-md-3 col-lg-3">
            {{ range $k, $sc := $character.SkillCategories }}
            {{ if or (or (eq $k "Melee") (eq $k "Shield") (eq $k "Stealth")) }}
            <h6><strong>{{ $sc }}</strong></h6>
            <table class="table table-sm table-striped">
            {{ range $skill := $character.Skills }}
            {{ if eq $skill.Category $sc.Name }}
            <tr id="skill" title="{{ $skill.Name }} ({{ $skill.Category }})
                Base: {{ $skill.Base }}%
                History: {{ $skill.CreationBonusValue }}%
                Category: {{ $skill.CategoryValue }}%
                Homeland: {{ $skill.HomelandValue }}%
                Occupation: {{ $skill.OccupationValue }}%
                Cult: {{ $skill.CultValue }}%
                {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
                {{end}}">
    
                    <td>{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}) {{ if $IsAuthor }}
                            <input type="checkbox" name="{{ $skill.Name }}-XP" value="{{ $skill.ExperienceCheck }}" id="checkbox" {{ if $skill.ExperienceCheck }}checked{{end}}>
                            {{ end }}
                    </td>
                    <td style="text-align:center">{{ $skill.Total }}%</td>
                </tr>

            {{ end }} <!-- End skill in category if -->
            {{ end }} <!-- End skill loop -->
            </table>
            {{ end }} <!-- End less than if -->
            {{ end }} <!-- End skillOrder lopp -->

        </div>


      </div> <!-- End Skill Row-->
      </div> <!-- End Tab pane 2-->


      </div> <!-- End Skill tab -->
      {{ end }} <!-- End if PC -->


      <div class="row">
      <div class="pagebreak"> </div>
          <div id="gameplay" class="col-sm-12 col-md-12 col-lg-12">
        <h5 style="background:black; color:white">Gameplay {{ if eq $character.Role "Player Character" }}<a href="#skills"> [Skills] </a>{{ end }} <a href="#main"> [Main]</a></h5>

        {{ if gt (len $character.MeleeAttacks) 0 }}
        <h5>Melee Attacks {{ if $IsAuthor }}
            <a class="btn btn-sm btn-primary" href="/equip_weapons_armor/{{ $ID }}">Attacks & Armor</a>          
            {{ end }}</h5>
        <table class="table table-sm table-striped">
          <tr>
            <th>Attack</th>
            <th>Skill</th>
            <th>Damage</th>
            <th>SR</th>
            <th>HP</th>
          </tr>
        {{ range $k, $v := $character.MeleeAttacks }}
        <tr>
          <td>{{ $k }}</td>
          <td style="text-align:center">{{ $v.Skill.Total }}%</td>
          <td style="text-align:center">{{ $v.DamageString }}</td>
          <td style="text-align:center">{{ $v.StrikeRank }}</td>
          <td>
          <div class="input-group">
            <input 
              class="col-6" 
              {{ if lt $v.Weapon.CurrentHP 3 }}style="color:red"{{end}} 
              type="number" 
              class="form-control" 
              aria-describedby="{{ $k }}-HP" 
              name="{{ $k }}-HP"
              {{ if not $IsAuthor }}disabled{{end }}
              value ="{{ $v.Weapon.CurrentHP }}">
            <div class="input-group-append">
              <span class="input-group-text" id="{{ $k }}-HP-addon">/{{ $v.Weapon.HP }}</span>
            </div>
          </div>
        {{ if $v.Weapon.Special }}
          Special: {{ $v.Weapon.Special }}
        {{ end }}
        </td>
        </tr>
        {{ end }}
        </table>
        {{ end }}

        {{ if gt (len $character.RangedAttacks) 0 }}
        <h5>Ranged Attacks</h5>
        <table class="table table-sm table-striped">
                <tr>
            <th>Attack</th>
            <th>Skill</th>
            <th>Damage</th>
            <th>SR</th>
            <th>Range</th>
            <th>Special</th>
          </tr>
        {{ range $k, $v := $character.RangedAttacks }}
        <tr>
          <td>{{ $k }}</td>
          <td style="text-align:center">{{ $v.Skill.Total }}%</td>
          <td style="text-align:center">{{ $v.DamageString }}</td>
          <td style="text-align:center">{{ $v.StrikeRank }}</td>
          <td style="text-align:center">{{ $v.Weapon.Range }}m</td>
          <td>{{ $v.Weapon.Special }}</td>
        </tr>
        {{ end }}
        </table>

        <hr>
        {{ else }}
        <hr>
        {{ end }}

          </div> <!-- END column 12 -->
      </div> <!-- END row -->

      <div class="row">
        <div class="col-lg-4">

          {{ if gt (len $character.Powers) 0 }}
          <h5>Powers</h5>
          <ul>
            {{ range $v := $character.Powers }}
              <li><strong>{{ $v.Name }}: </strong>
              {{ $v.Description }}</li>
            {{ end }}
          </ul>
          <hr>
          {{ end }}
          
          {{ if (or $IsAuthor (eq $IsAdmin "true")) }}
            <h5>In Play {{ if $IsAuthor }}
                <button class="btn btn-sm btn-success" type="submit" value="Save Character State">Save</button>
                {{ if not (or (gt (len $character.MeleeAttacks) 0) (gt (len $character.RangedAttacks) 0)) }}
                <a class="btn btn-sm btn-primary" href="/equip_weapons_armor/{{ $ID }}">Weapons & Armor</a>
                {{ end }}
                {{ end }}</h5>
    
            <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="HP-addon">HP</span>
                      </div>
                      <input id="HP" type="number" class="form-control" aria-describedby="HP-addon" name="HP" value ="{{ $character.CurrentHP }}" disabled>
                      <div class="input-group-append">
                          <span class="input-group-text" id="HP-addon">/{{ $character.Attributes.HP.Max }}</span>
                        </div>
            </div>  
    
            <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="MP-addon">MP</span>
                      </div>
                      <input type="number" min=0 id="MP" class="form-control" aria-describedby="MP-addon" name="MP" value ="{{ $character.CurrentMP }}">
                      <div class="input-group-append">
                          <span class="input-group-text" id="MP-addon">/{{ $character.Attributes.MP.Max }}</span>
                        </div>
            </div>  
    
            {{ if gt $character.Cult.NumRunePoints 0 }}
            <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="RP-addon">RP ({{ $character.Cult.Name }})</span>
                      </div>
                      <input type="number" min=0 class="form-control" aria-describedby="RP-addon" name="RP" value ="{{ $character.CurrentRP }}">
                      <div class="input-group-append">
                          <span class="input-group-text" id="RP-addon">/{{ $character.Cult.NumRunePoints }}</span>
                        </div>
            </div>
            {{ end }}

            {{ range $ec := $character.ExtraCults }}
            <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="RP-addon">RP ({{ $ec.Name }})</span>
                    </div>
                    <input type="number" class="form-control" aria-describedby="RP-addon" name="RP-{{ $ec.Name }}" value ="{{ $ec.CurrentRunePoints }}">
                    <div class="input-group-append">
                        <span class="input-group-text" id="RP-addon">/{{ $ec.RunePoints }}</span>
                      </div>
          </div>
            {{ end }}
            <hr>
            {{ end }} <!-- END in play IF -->
            
          </div><!-- End Column 4 -->

          <div class="col-lg-4">
              <h5>Hit Locations {{ if $IsAuthor }}
                  <button class="btn btn-sm btn-success" type="submit" value="Save Character State">Save</button>
                  {{ end }}</h5>
              <table class="table table-sm table-striped">
                  <tr>
                      <th>Hit</th>
                      <th>Location</th>
                      <th>Armor</th>
                      <th>HP</th>
                      <th>Max</th>
                  </tr>
            
              {{ range $s := $character.HitLocationMap }}
              {{ range $k, $v := $character.HitLocations }}
              {{ if eq $s $k }}
              <tr>
                  <td {{ if $v.Disabled }}style="color:red"{{end}}>{{ formatIntArray $v.HitLoc }}</td>
                  <td style="text-align:center">{{ $v.Name }}</td>
                  <td style="text-align:center">{{ $v.Armor }}</td>
                  {{ if (or $IsAuthor (eq $IsAdmin "true")) }}
                  <td>
                      <div class="form-group">
                          <input
                            type="number" 
                            class="form-control input-sm" 
                            aria-describedby="{{ $k }}-HP-addon" 
                            name="{{ $k }}-HP"
                            value ="{{ $v.Value }}" 
                            max="{{ $v.Max }}"
                            min="{{ multiply $v.Max -2}}"
                            onchange="updateHP.call(this, 'HP', '{{$v.Max}}')" 
                            data-previous="{{ $v.Value }}">        
                      </div>
                  </td>
                  {{ else }}
                  <td style="text-align:center">{{ $v.Value }}</td>
                  {{ end }}      
                  <td style="text-align:center">/{{ $v.Max }}</td>
              </tr>
                
              {{ end }} <!-- END if -->
              {{ end }}
              {{ end }} <!-- END map -->
              </table>
        
          </div> <!-- End Column 4 --> 

          <div class="col-lg-4">
              <h5>Equipment {{ if $IsAuthor }}
                  <button class="btn btn-sm btn-success" type="submit" value="Save Character State">Save</button>
                  {{ end }}</h5>
              {{ if (or $IsAuthor (eq $IsAdmin "true")) }}
                {{ range $ec, $eq := $character.Equipment }}
                  <div class="input-group">
                    <input type="text" class="form-control" aria-describedby="Equipment-{{$ec}}-addon" name="Equipment-{{$ec}}" value ="{{ $eq }}">
                  </div>
                  {{ end }}
              {{ else }}
                      {{ range $e := $character.Equipment }}
                          <p>{{ $e }}</p>
                      {{ end }}
              {{ end }} <!-- END IsAuthor Loop -->
            </form>
          </div>
      </div> <!-- END Row-->

      </div>

      <script type="text/javascript">

        const selectMP = document.getElementById('MP')
  
        selectMP.addEventListener('change', (e) => {
          if (e.target.value < 1) {
            e.target.style.backgroundColor = "orange";
          } else {
            e.target.style.backgroundColor = "white";
          }
        });
  
        function updateHP(cID, max) {
  
          if (this.value > max) {
            this.value = max
          };
  
          if (this.value < (-max * 2)) {
            this.value = -max * 2
          };
  
          var target = document.getElementById(cID);
          var targetVal = parseInt(target.value)
          var x = 0;
          var previous = parseInt(this.dataset.previous)
          
            x = this.value - previous
            target.value = targetVal + x
            this.dataset.previous = this.value
      
  
          if (this.value < -1*max) {
            this.style.backgroundColor = "red"
          } else if (this.value < 1) {
            this.style.backgroundColor = "orange"
          } else if (this.value < max) {
            this.style.backgroundColor = "yellow"
          } else {
            this.style.backgroundColor = "white"
          }
  
          if (target.value < 1) {
          target.style.backgroundColor = "red";
        } else if (target.value < 5) {
          target.style.backgroundColor = "orange"
        } else {
          target.style.backgroundColor = "white";
        };
        }

        function copyTextToClipboard(text) {
          var textArea = document.createElement("textarea");
        
          //
          // *** This styling is an extra step which is likely not required. ***
          //
          // Why is it here? To ensure:
          // 1. the element is able to have focus and selection.
          // 2. if element was to flash render it has minimal visual impact.
          // 3. less flakyness with selection and copying which **might** occur if
          //    the textarea element is not visible.
          //
          // The likelihood is the element won't even render, not even a
          // flash, so some of these are just precautions. However in
          // Internet Explorer the element is visible whilst the popup
          // box asking the user for permission for the web page to
          // copy to the clipboard.
          //
        
          // Place in top-left corner of screen regardless of scroll position.
          textArea.style.position = 'fixed';
          textArea.style.top = 0;
          textArea.style.left = 0;
        
          // Ensure it has a small width and height. Setting to 1px / 1em
          // doesn't work as this gives a negative w/h on some browsers.
          textArea.style.width = '2em';
          textArea.style.height = '2em';
        
          // We don't need padding, reducing the size if it does flash render.
          textArea.style.padding = 0;
        
          // Clean up any borders.
          textArea.style.border = 'none';
          textArea.style.outline = 'none';
          textArea.style.boxShadow = 'none';
        
          // Avoid flash of white box if rendered for any reason.
          textArea.style.background = 'transparent';
        
        
          textArea.value = text;
        
          document.body.appendChild(textArea);
          textArea.focus();
          textArea.select();
        
          try {
            var successful = document.execCommand('copy');
            var msg = successful ? 'successful' : 'unsuccessful';
            console.log('Copying text command was ' + msg);
          } catch (err) {
            console.log('Oops, unable to copy');
          }
        
          document.body.removeChild(textArea);
        }
        
        
        var copyCharacterBtn = document.getElementById('js-copy-character-btn')
        
        copyCharacterBtn.addEventListener('click', function(event) {
          copyTextToClipboard("{{ $character }}");
        });
        
        </script>

{{end}}
