{{ define "title"}}
{{ $homeland := .HomelandModel.Homeland }}

<title>{{ $homeland.Name }}</title>

{{ end }}

{{ define "content" }}

{{ $homeland := .HomelandModel.Homeland }}
{{ $ID := .HomelandModel.ID }}
{{ $skills := .Skills }}

<div class="container">
<div class="row">
  <div class="col-sm-4 col-md-4 col-lg-4">

  <h4>{{ $homeland.Name }}</h4> 
  <strong>Author: {{ .HomelandModel.Author.UserName }}</strong>

  <img class ="card-img-top" data-src="" alt="Thumbnail"
  style="width: 100%; display: block;" src="https://s3.amazonaws.com/runequeset{{ .HomelandModel.Image.Path }}"
  data-holder-rendered="true">

  <h5>Rune: {{ $homeland.RuneBonus }}</h5>

  {{ $homeland.Description }}
  <hr>
  <a class="btn btn-primary" href="/modify_homeland/{{ $ID }}">Modify</a>
  <a class="btn btn-danger" href="/delete_homeland/{{ $ID }}">Delete</a>



</div>

<div class="col-sm-4 col-md-4 col-lg-4">

<h4>Statistics</h4>
              {{ range $k, $v := $homeland.StatisticFrames }}

              <p>{{ $k }}: {{ $v.Dice }}d6{{ if eq $v.Modifier 0 }}{{else}}{{ if gt $v.Modifier 1 }}+{{ $v.Modifier }}{{ else }}{{ $v.Modifier }}{{ end }}{{ end }}</p>
              
              {{ end }}
<hr>

<h4>Skills</h4>
<h5>Skill Bonuses</h5>
  {{ range $skill := $homeland.Skills }}
  <p>{{ $skill.CoreString }} {{ if $skill.UserChoice }} ({{$skill.Base}}) ({{$skill.UserString}}){{end}} +{{ $skill.HomelandValue }}%</p>
  {{end}}

</div>

<div class="col-sm-4 col-md-4 col-lg-4">

    <h4>Passions</h4>
    {{ range $passion := $homeland.PassionList }}
    <p>{{ $passion.CoreString }} ({{$passion.UserString}}) Base: {{ $passion.Base }}%</p>    
    {{end}}
    <hr>

    <h4>Skill Choices</h4>
    {{ range $schoice := $homeland.SkillChoices }}
    {{ if gt (len $schoice.Skills) 0}}
    <h5>Choose between</h5>
    <p>
        {{ range $c, $skill := $schoice.Skills }}
        {{ $skill.CoreString }} {{ if $skill.UserChoice }}({{$skill.UserString}}){{end}} +{{ $skill.HomelandValue }}%
        {{ if eq $c 0 }}<strong>--- OR ----</strong>{{else}}</p>{{ end }}
        {{ end }}
        <hr>
        {{ end }}
    {{ end }}

</div>  

</div>

</div>

{{ end }}
