{{ define "title"}}

{{ $character := .CharacterModel.Character }}

<title>{{ $character.Name }}: Equip Weapons & Armor</title>

{{ end }}

{{define "content"}}

{{ $character := .CharacterModel.Character }}
{{ $counter := .Counter }}
{{ $bigcounter := .BigCounter }}
{{ $skills := .Skills }}
{{ $baseweapons := .BaseWeapons }}
{{ $meleeattacks := .MeleeAttacks }}
{{ $rangedattacks := .RangedAttacks }}

      <div class="container">
        <hr>
        <div class="row">

        <div class="col-sm-4 col-md-4 col-lg-4">
            <h4>Arm Yourself</h4>
            <p>Choose your character's Attacks & Armor</p>
        <hr>

            <form action="" method="POST" enctype="multipart/form-data">
        
          <h4>Combat Skills</h4>
        {{ range $skill := $character.Skills }}
            {{ if or (eq $skill.Category "Melee") (eq $skill.Category "Ranged") }}
        <p title="{{ $skill.Name }} ({{ $skill.Category }})
        Base: {{ $skill.Base }}%
        History: {{ $skill.CreationBonusValue }}%
        Category: {{ $skill.CategoryValue }}%
        Homeland: {{ $skill.HomelandValue }}%
        Occupation: {{ $skill.OccupationValue }}%
        Cult: {{ $skill.CultValue }}%
        {{ range $u := $skill.Updates }}{{ $u.Event }}: {{ $u.Value }}%
        {{end}}">{{ $skill.CoreString }} {{ if ne $skill.UserString "" }}({{ $skill.UserString}}) {{end}}({{ $skill.Base }}): {{ $skill.Total }}%
        </p>
        {{ end }} <!-- END if -->
        {{ end }}

      <hr>

      <h4>Current Equipment</h4>
      {{ range $e := $character.Equipment }}
        {{ $e }}, 
        {{ end }}

            <hr>

            <button class="btn btn-primary" type="submit" value="Save">Save</button>
          <hr>

        </div> <!-- END outer column 3 -->


          <div class="col-sm-4 col-md-4 col-lg-4">


            <h4>Instructions</h4>
            <p>Choose your characters weapons and attacks. Start with a weapon skill and then select the appropriate weapon.</p>

            <h4>Melee Attacks</h4>

            {{ range $m, $attack := $meleeattacks }}
            {{ if not $attack.Weapon.Custom }}
            <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Melee-Skill-{{$m}}-addon">Skill</span>
                </div>
                  <select type="text" class="form-control" id="Melee-Skill-{{$m}}" name="Melee-Skill-{{$m}}">
                  {{ if ne $attack.Skill.Name ""}}
                    <option value="{{$attack.Skill.Name}}">{{$attack.Skill}}</option>
                  {{ end }}
                    <option></option>
                    {{ range $s := $character.Skills }}
                        {{ if or (eq $s.Category "Melee") (eq $s.Category "Shield")}}
                        <option value="{{ $s.Name }}">{{ $s }}</option>
                        {{ end }}
                      {{ end }} <!-- END range $skills -->                      
                  </select>
              </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Melee-Weapon-{{$m}}-addon">Weapon</span>
                </div>
                  <select type="text" class="form-control" id="Melee-Weapon-{{$m}}" name="Melee-Weapon-{{$m}}">
                    {{ range $i, $w := $baseweapons }}
                      {{ if eq $w.Name $attack.Weapon.Name }}
                        <option value="{{ $w.Name }}">{{ $w.Name }}: {{ $w.Damage }}</option>
                      {{ end }} <!-- END range $skills -->
                    {{ end }}
                    <option></option>
                    {{ range $i, $w := $baseweapons }}
                      {{ if or (eq $w.Type "Melee") (eq $w.Type "Shield")}}
                        <option value="{{ $w.Name }}">{{ $w.Name }}: {{ $w.Damage }}</option>
                      {{ end }} <!-- END range $skills -->
                      {{ end }}
                  </select>
              </div>
              
                <hr>
                {{ end }}
                {{ end }} <!-- end range counter -->

            <hr>

            <h4>Ranged Attacks</h4>

            {{ range $m, $attack := $rangedattacks }}
            {{ if not $attack.Weapon.Custom }}

            <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Ranged-Skill-{{$m}}-addon">Skill</span>
                </div>
                  <select type="text" class="form-control" id="Ranged-Skill-{{$m}}" name="Ranged-Skill-{{$m}}">
                    {{ if ne $attack.Skill.Name "" }}
                      <option value="{{$attack.Skill.Name}}">{{$attack.Skill}}</option>
                    {{ end }}
                    <option></option>
                    {{ range $s := $character.Skills }}
                        {{ if eq $s.Category "Ranged" }}
                        <option value="{{ $s.Name }}">{{ $s }}</option>
                        {{ end }}
                      {{ end }} <!-- END range $skills -->                      
                  </select>
              </div>

                <div class="input-group">
                    <div class="input-group-prepend">
                    <span class="input-group-text" id="Ranged-Weapon-{{$m}}-addon">Weapon</span>
                </div>
                  <select type="text" class="form-control" id="Ranged-Weapon-{{$m}}" name="Ranged-Weapon-{{$m}}">
                  {{ range $i, $w := $baseweapons }}
                      {{ if eq $w.Name $attack.Weapon.Name }}
                        <option value="{{ $w.Name }}">{{ $w.Name }}: {{ $w.Damage }}</option>
                      {{ end }} <!-- END range $skills -->
                    {{ end }}
                    <option></option>
                    {{ range $i, $w := $baseweapons }}
                      {{ if eq $w.Type "Ranged"}}
                        <option value="{{ $w.Name }}">{{ $w.Name }}: {{ $w.Damage }}</option>
                      {{ end }} <!-- END range $skills -->
                      {{ end }}
                  </select>
              </div>
              
                <hr>
                {{ end }} <!-- end range counter -->
                {{ end }}
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4">

                <h4>Armor</h4>
            <p>Set the armor rating for each of your hit locations.</p>
        {{ range $s := $character.HitLocationMap }}
        {{ range $k, $v := $character.HitLocations }}
        {{ if eq $s $k }}

          <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="{{ $k }}-Armor-addon">{{ $v.Name }}</span>
              </div>
              <input type="number" class="form-control" aria-describedby="{{ $k }}-Armor-addon" name="{{ $k }}-Armor" value ="{{ $v.Armor }}">
              <div class="input-group-append">
                  <span class="input-group-text" id="{{ $k }}-Armor-addon">pts</span>
                </div>
            </div>  
         
        {{ end }} <!-- END if -->
        {{ end }}
        {{ end }} <!-- END map -->
        <hr>

                <h4>Custom Melee Attacks</h4>

                {{ range $m, $attack := $meleeattacks }}
                {{ if $attack.Weapon.Custom }}
      
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="Custom-M-{{ $m }}-Name-addon">Name</span>
                    </div>
                    <input type="text" class="form-control" aria-describedby="Custom-M-{{ $m }}-Name-addon" name="Custom-M-{{ $m }}-Name" placeholder="Weapon Name" value="{{ $attack.Name }}">
                  </div>
      
                  <div class="input-group">
                          <div class="input-group-prepend">
                          <span class="input-group-text" id="Custom-M-{{$m}}-Skill-addon">Skill</span>
                      </div>
                        <select type="text" class="form-control" id="Custom-M-{{$m}}-Skill" name="Custom-M-{{$m}}-Skill">
                        {{ if ne $attack.Skill.Name ""}}
                          <option value="{{$attack.Skill.Name}}">{{$attack.Skill}}</option>
                        {{ end }}
                          <option></option>
                          {{ range $s := $character.Skills }}
                              {{ if or (eq $s.Category "Melee") (eq $s.Category "Shield")}}
                              <option value="{{ $s.Name }}">{{ $s }}</option>
                              {{ end }}
                            {{ end }} <!-- END range $skills -->                      
                        </select>
                    </div>
      
      
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="Custom-M-{{ $m }}-Damage-addon">Damage</span>
                        </div>
                        <input type="text" class="form-control" aria-describedby="Custom-M-{{ $m }}-Damage-addon" name="Custom-M-{{ $m }}-Damage" placeholder="1d6+1" value="{{ $attack.Weapon.Damage }}">
                      </div>
      
                      <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="Custom-M-{{ $m }}-HP-addon">HP</span>
                          </div>
                          <input type="number" class="form-control" aria-describedby="Custom-M-{{ $m }}-HP-addon" name="Custom-M-{{ $m }}-HP" value ="{{ $attack.Weapon.HP }}">
                        </div>  
            
                    <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="Custom-M-{{ $m }}-SR-addon">SR</span>
                        </div>
                        <input type="number" class="form-control" aria-describedby="Custom-M-{{ $m }}-SR-addon" name="Custom-M-{{ $m }}-SR" value ="{{ $attack.Weapon.SR }}">
                      </div> 
            
                      <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="Custom-M-{{ $m }}-Special-addon">Special</span>
                          </div>
                          <input type="text" class="form-control" aria-describedby="Custom-M-{{ $m }}-Special-addon" name="Custom-M-{{ $m }}-Special" placeholder="None" value ="{{ $attack.Weapon.Special }}">
                        </div>
                      
                    
                      <hr>
                      {{ end }}
                      {{ end }} <!-- end range counter -->
      
                      <hr>

                      <h4>Custom Ranged Attacks</h4>

                      {{ range $r, $attack := $rangedattacks }}
                  
                      {{ if $attack.Weapon.Custom }}
      
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="Custom-R-{{ $r }}-Name-addon">Name</span>
                        </div>
                        <input type="text" class="form-control" aria-describedby="Custom-R-{{ $r }}-Name-addon" name="Custom-R-{{ $r }}-Name" placeholder="Weapon Name" value="{{ $attack.Name }}">
                      </div>
        
                      <div class="input-group">
                              <div class="input-group-prepend">
                              <span class="input-group-text" id="Custom-R-{{$r}}-Skill-addon">Skill</span>
                          </div>
                            <select type="text" class="form-control" id="Custom-R-{{$r}}-Skill" name="Custom-R-{{$r}}-Skill">
                            {{ if ne $attack.Skill.Name ""}}
                              <option value="{{$attack.Skill.Name}}">{{$attack.Skill}}</option>
                            {{ end }}
                              <option></option>
                              {{ range $s := $character.Skills }}
                                  {{ if eq $s.Category "Ranged" }}
                                  <option value="{{ $s.Name }}">{{ $s }}</option>
                                  {{ end }}
                                {{ end }} <!-- END range $skills -->                      
                            </select>
                        </div>
          
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="Custom-R-{{ $r }}-Damage-addon">Damage</span>
                            </div>
                            <input type="text" class="form-control" aria-describedby="Custom-R-{{ $r }}-Damage-addon" name="Custom-R-{{ $r }}-Damage" placeholder="1d6+1" value="{{ $attack.Weapon.Damage }}">
                          </div>

                          <strong>Thrown</strong> <input type="checkbox" name="Custom-R-{{ $r }}-Thrown" value="{{ $attack.Weapon.Thrown }}" id="checkbox"
                            {{if $attack.Weapon.Thrown }} checked{{ end }}>
          
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="Custom-R-{{ $r }}-Range-addon">Range</span>
                              </div>
                              <input type="number" class="form-control" aria-describedby="Custom-R-{{ $r }}-Range-addon" name="Custom-R-{{ $r }}-Range" value="{{ $attack.Weapon.Range }}">
                            </div> 
      
                            <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="Custom-R-{{ $r }}-HP-addon">HP</span>
                                </div>
                                <input type="number" class="form-control" aria-describedby="Custom-R-{{ $r }}-HP-addon" name="Custom-R-{{ $r }}-HP" value ="{{ $attack.Weapon.HP }}">
                              </div>  
                
                        <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="Custom-R-{{ $r }}-SR-addon">SR</span>
                            </div>
                            <input type="number" class="form-control" aria-describedby="Custom-R-{{ $r }}-SR-addon" name="Custom-R-{{ $r }}-SR" value ="{{ $attack.Weapon.SR }}">
                          </div> 
                
                          <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text" id="Custom-R-{{ $r }}-Special-addon">Special</span>
                              </div>
                              <input type="text" class="form-control" aria-describedby="Custom-R-{{ $r }}-Special-addon" name="Custom-R-{{ $r }}-Special" placeholder="None" value ="{{ $attack.Weapon.Special }}">
                            </div>
                          
                        
                          <hr>
                          {{ end }}
                          {{ end }} <!-- end range counter -->
      
            

                <button class="btn btn-primary" type="submit" value="Save">Save</button>

          </div> <!-- END 9 Col -->

          </div> <!-- END outer ROW -->

        </form>

        </div> <!-- End bottom row -->
        </div> <!-- END container -->

{{ end }} <!-- end content -->
